[2016-09-05 13:37] coolljt0725 commented on #254
I'd like to work on this :)

[2016-09-05 14:08] runcom opened #259 "manifest json fields order"
Almost silly question, is json fields order in manifest important? My guess while developing a feature for docker was that order is important otherwise the manifest digest changes.

I may be missing something but is there some requirement about json fields order (especially the ones in descriptor) in the manifest json file? Should there be one to somehow assure digests are computed correctly? (and

[2016-09-05 14:09] runcom commented on #259
@vbatts @philips @stevvooe ^^

[2016-09-05 14:40] runcom opened #260 "oci-image-tool: check media types under refs/"
Came across this and oci-image-tool wasn't warning me when a reference descriptor under refs/ wasn't containing a valid media type (especially because it was the empty string with my testing).

Should oci-image-tool take care of this as well?

/cc @s-urbaniak @vbatts @philips @stevvooe

[2016-09-05 17:29] runcom commented on #259
/cc @mtrmac

[2016-09-05 17:43] mtrmac commented on #259
Looking at https://github.com/opencontainers/image-spec/blob/master/descriptor.md#digests-and-verification , it talks about verifying “bytes”. So I was thinking that the process goes:

 - Taking input data, create a JSON object, serialize using JSON into a blob
 - Compute a digest of this blob; publish the blob, use the digest in a content descriptor or so.

and

 - Given a content descriptor or s

[2016-09-05 18:21] runcom commented on #260
(likewise I think a check of oci-layout to be version == the spec version tested against is required to be added to the tool)

[2016-09-05 20:26] runcom commented on #259
FWIW I believe the same applies to _config_ objects which are json content as well.

[2016-09-06 01:10] coolljt0725 commented on #260
I +1 on this, I came across this when I  `oci-image-tool validate` an old image layout which layer media type is still `application/vnd.oci.image.serialization.rootfs.tar.gzip`, I think it should throw out a warning or error

[2016-09-06 07:18] runcom commented on #260
I'll fix it if people agree

[2016-09-06 11:24] xiekeyang commented on #22
@opencontainers/image-spec-maintainers
/cc @wking @stevvooe @philips @vbatts @runcom

I investigate the technology and present my understanding here. It is my draft document, with brief description in each section. If there is any missing point in my comment, please point out directly.
Maybe there are some your wanted description not to be listed here, just point out, I would go on supplementing.

[2016-09-06 14:57] wking commented on #259
On Mon, Sep 05, 2016 at 10:44:00AM -0700, Miloslav Trmač wrote:

This is my understanding as well.  Howerver, there is still some
benefit to suggesting a JSON-normaliation procedure because it
increases the chances that a newly-created JSON blob will match the
hash of an existing JSON blob (fewer CAS blobs for the same semantic
content).  I feel like some normalization schemes were name-dropped on

[2016-09-06 16:40] philips commented on #260
Yes, oci-image-tool should error out on this.

[2016-09-06 16:41] philips commented on #254
@coolljt0725 go for it.

[2016-09-06 16:44] runcom commented on #260
took care of this at https://github.com/opencontainers/image-spec/issues/262

[2016-09-06 17:11] vbatts commented on #259
@runcom order only matters once there is a digest of the objects being used.

As a rule, no JSON parser/marshaller particularly guarantees order. Because to that point, even the same order, same content, "same document", but variations in indentation mean it is a "new" object.

[2016-09-06 17:14] runcom opened #266 "oci-image-tool: support multiple --ref in unpack and create-runtime-bundle"
As the title says (validate has been fixed here https://github.com/opencontainers/image-spec/pull/265)

[2016-09-06 17:15] runcom commented on #259
@vbatts yeah, I figured, so it's fine to have different manifest digests for the same _image_ (this is where I was confused)
thanks

[2016-09-06 17:19] runcom commented on #266
/cc @s-urbaniak PTAL at the linked PR also

[2016-09-06 18:44] wking commented on #22
On Tue, Sep 06, 2016 at 04:24:38AM -0700, xiekeyang wrote:

This should probably be a PR so it's easier to keep track of review
and subsequent changes.

[2016-09-06 19:49] RobDolinMS commented on #248
Closing as PR #249 has been merged.

[2016-09-06 19:49] #248 closed

[2016-09-06 21:01] stevvooe commented on #259
@vbatts @runcom Docker uses canonical json to try to provide some stability on round trip. IMHO, OCI should be less strict about round tripping, as it is a source of complexity and instability in practice, versus keeping stable artifacts.

The v2 manifest schema object follows https://github.com/docker/distribution/blob/master/docs/spec/json.md. This allows the specification to define an order the

[2016-09-06 21:03] runcom commented on #259
thanks @stevvooe that's actually useful

[2016-09-07 06:18] wking commented on #259
tl;dr: In the absence of a canonicalized JSON spec, I think we want to
stay out of this business.  But if we find an external canonicalized
JSON spec, I think we want something like:

  Implementations SHOULD serialize JSON blobs following {some
  canonicalization spec}.

But I can't find a suitable spec, and without such a spec I think we
should avoid talking about JSON canonicalization completel

[2016-09-07 08:36] coolljt0725 commented on #254
working on that, pr is coming :)

[2016-09-07 08:50] xiekeyang opened #271 "Add yaml config file to image tool command usage"
@opencontainers/image-spec-maintainers
Now we are appending more and more flags to image tool commend. For conveniently using, it had better to introduce a yaml config file, like that:

[code]

In which user can fulfill his all flags.
If you allow my idea, I'd like to take on it. Thanks a lot!

/cc @philips @stevvooe @s-urbaniak @runcom @wking

[2016-09-07 08:54] runcom commented on #271
I don't like this, I expect the image tool to be just (if possible) a simple tool w/o any state or config saved on disk.

[2016-09-07 09:19] wking commented on #271
On Wed, Sep 07, 2016 at 01:54:58AM -0700, Antonio Murdaca wrote:

I agree.  What sort of config state were you tired of typing out? ;)

[2016-09-07 09:33] xiekeyang commented on #271
It is OK. I just feel the command line become long to readable, and seen some config file convenient usage via cobra package.

[2016-09-07 09:46] wking commented on #271
On Wed, Sep 07, 2016 at 02:33:58AM -0700, xiekeyang wrote:

Is that because create-runtime-bundle is really long?  Or can you paste
an example of a typical long line that you'd like to abbreviate?

[2016-09-07 09:57] wking opened #272 "What flavor tests do we want?"
#257 shows we could really use a test suite.  [I'm flexible][1], but it feels like our command line API is more stable than our current Go APIs.  How would folks feel about a test harness exercising the command line API?  Do we have a sharness/bats preference (I have more experience with sharness, but runC uses bats)?  Should this wait until after opencontainers/tob#18 (is there an estimated timef

[2016-09-07 11:32] jonboulle commented on #271
would it suffice if you could use environment variables to specify command line options?

[2016-09-07 11:41] runcom commented on #271
is there any tool out there which duplicates command line opts with env variables? I'm not sure... then the "long line" will be the one specifying the env vars (e.g. `REFS=a,b,c,d,e,f,...` imagine it longer...)

[2016-09-07 11:47] jonboulle commented on #271
What do you mean by "duplicates"? if you're asking about a library that'll map env vars to flags, something like e.g. globalconf, or the simpler package we use for CoreOS projects:
https://github.com/rakyll/globalconf
https://github.com/coreos/pkg/blob/master/flagutil/env.go#L10

[2016-09-07 11:53] runcom commented on #271
I mean having an env var for a command line option.

I don't see any gain in having env vars because, as explained early, one can have a really long list of references (for instance) to use with $REFS and thus having still a long line to type paste.

The op here probably refers to the fact the `--ref` is a string slice now and one can specify it multiple times (no new flags have been added recentl

[2016-09-07 13:24] glestaris commented on #272
I agree that the CLI should be tested instead of any Go API. I would prefer if we could use a Go testing framework, even though it's a CLI. Ginkgo [1] is being used in Cloud Foundry for all types of testing (API/CLI/unit).

Also, I guess this issue is mainly targeting a CLI test suite, but, would it make sense to consider having unit tests on some of the most complex operations?

[1] http://onsi.g

[2016-09-07 15:48] wking commented on #271
On Wed, Sep 07, 2016 at 04:53:10AM -0700, Antonio Murdaca wrote:

I think the best solution to this is to remove the the v1.0 default
ref and have the default be “validate all the refs in the bundle”.

If you only want to validate *most* of the refs, you can always build
REFS incrementally (if you're using Bash or other shell that supports
arrays):

  $ REFS=()
  $ REFS+=('--refs' 'hi')
  $ REFS+=

[2016-09-07 15:49] wking commented on #272
On Wed, Sep 07, 2016 at 06:24:42AM -0700, George Lestaris wrote:

Ginko looks nice, but I prefer shell-oriented test harnesses for the
command line because there's less boilerplate around invocation.
However, any framework around the command line is better than none, so
if maintainers want tests in Ginko (or whatever), I'll add them in
that framework.

As things currently stand, I think ‘oci-image

[2016-09-07 15:54] runcom commented on #271
I'm all for this.

[2016-09-07 18:26] stevvooe commented on #259
@wking http://wiki.laptop.org/go/Canonical_JSON is the "canonical JSON" spec to which we are referring. Docker has a go implementation at https://github.com/docker/go/tree/master/canonical/json.

[2016-09-07 18:34] stevvooe commented on #271
Note that there is also https://github.com/spf13/viper, which integrates well with cobra.

Solutions like https://github.com/coreos/pkg/blob/master/flagutil/env.go#L10 are fine, as well, but they do need to be able to handle repeated flags.

In general, I don't quite see the need for introducing a yaml format. What problem are we trying to solve here?

[2016-09-07 18:39] wking commented on #259
On Wed, Sep 07, 2016 at 11:26:29AM -0700, Stephen Day wrote:

Sounds good.  So the spec can SHOULD canonical JSON for serializing
JSON blobs, and we can point at that spec (with an implementation note
pointing at the Docker library and other known implementations).
Would you still have concerns about complexity and instability in that
case?  If so, can you spell them out in a bit more detail?

[2016-09-07 18:52] stevvooe commented on #259
@wking No. That is not at all what I've said. Go back, read my comments again.

[2016-09-07 18:53] #203 closed

[2016-09-07 19:02] vbatts opened #276 "clarify order of `layers` in image-layout"
There is currently no ordering about the ordering of layers in [image-layout](./image-layout.md).
For that matter the bottom-up phrasing in [config](./config.md) can be clarified a bit.

[2016-09-07 19:03] vbatts commented on #190
trivial example, but referencing object `sha256:702ad90f705365227e902b42d91dd1a40e48ca7f67a2f4b2fd052aaa4295cd95`, which is provided by https://storage.googleapis.com/golang/go1.7.linux-amd64.tar.gz
By having a child layer be this reference, after applying the above archive, there is now /go/... in the resulting filesystem.

So a `application/vnd.oci.image.manifest.v1+json` object that could look

[2016-09-07 19:04] vbatts commented on #190
(or perhaps with `application/tar+gzip` mimetype, but it could be applied as `application/vnd.oci.image.layer.tar+gzip`)

[2016-09-07 19:05] wking commented on #259
On Wed, Sep 07, 2016 at 11:52:14AM -0700, Stephen Day wrote:

You said [1]:

  Docker uses canonical json to try to provide some stability on round
  trip. IMHO, OCI should be less strict about round tripping, as it is
  a source of complexity and instability in practice, versus keeping
  stable artifacts.

I read that as:

* We don't want a MUST for canonicalization (from “OCI should be less
  st

[2016-09-07 19:10] vbatts commented on #244
See #275

[2016-09-07 19:19] wking commented on #276
On Wed, Sep 07, 2016 at 12:02:39PM -0700, Vincent Batts wrote:

I don't think we want to require anything about blob order in
image-layout, although I'm fine with an implementation note suggesting
tar-based instances put refs/* before blobs/*, list refs in
LC_COLLATE=C order, and list blob entries in the order they'll be
needed by the refs to allow easy single-pass unpacking.

But all of that is f

[2016-09-07 19:21] vbatts commented on #247
i think this is because the pdf inlines the images, but the html expects to find the images.
I went down the road to base64 encode and html inline the images, that was not real great for this doc process.

I could attach those `img/` files in the release docs. That would seem sufficient to me. WDYT @RobDolinMS ?

[2016-09-07 19:27] wking commented on #247
On Wed, Sep 07, 2016 at 12:21:19PM -0700, Vincent Batts wrote:

If the goal is to produce a single-page version of the spec, I think
we can save a lot of headache by writing it up in one big Markdown
file (opencontainers/runtime-spec#264 had something similar, but we
don't even need that much magic).  Or we can switch to
reStructuredText or some other format that's designed with this sort
of “prod

[2016-09-07 19:38] #260 closed

[2016-09-07 19:42] stevvooe commented on #190
@vbatts Wouldn't the example call for a `application/vnd.oci.image.manifest.v1+json` as one of the layers? The specification already _should_ handle the case that you are talking about.

[2016-09-07 19:52] vbatts commented on #190
@stevvooe i don't follow why a manifest would be one of the layers. Elaborate?

[2016-09-07 20:04] wking commented on #190
On Wed, Sep 07, 2016 at 12:52:15PM -0700, Vincent Batts wrote:

My reading of [1] was that you were suggesting:

    "layers": [
        {
            "digest": "sha256:abc…"
            "mediaType": "application/vnd.oci.image.manifest.v1+json"
            …
        },
        {
            "digest": "sha256:def…"
            "mediaType": "application/vnd.oci.image.layer.tar+gzip",
            …

[2016-09-07 21:36] stevvooe commented on #190
@vbatts I'm not suggesting that, but that seemed to be the request here. My point, under that premise, is that it is odd to place an image in the `layers` and this should really be a build time fixup.

[2016-09-08 10:54] xiekeyang commented on #271
I'm not sure except log output and log level set.

Agree, we need way to record and fulfill the flags via env vars. I would take a comparison by coreos and viper.

Agree.

[2016-09-08 10:57] runcom commented on #271
I'm not for this - and not sure at all we need to do this unless there's a specific thing it's solving. So far, no one has provided a valid reason to have env vars in oci-image-tool and _just for convenience_ it's not a valid one at all.

[2016-09-08 10:58] runcom commented on #271
Please, do reply to what @stevvooe is also asking - why do we need this?

[2016-09-08 11:09] xiekeyang commented on #271
I'm not sure if you like to use a convenient way to fulfill command, so make a discussion here. I'm honesty not defending to introduce a yaml file.

[2016-09-08 14:07] glestaris opened #281 "oci-image-tool unpack does not preserve permissions and ownership of entries"
`oci-image-tool` does not `chmod` or `chown` the extracted files. I wonder if this is something intentional or PR-worthy.

[2016-09-08 15:57] wking commented on #281
On Thu, Sep 08, 2016 at 07:07:39AM -0700, George Lestaris wrote:

I think this should be fixed.  Unpacking semantics should probably be
just like tar, and from tar(1) [1]:

       --no-same-owner
              Extract files as yourself (default for ordinary users).

       --no-same-permissions
              Apply the user's umask when extracting  permissions  from
              the archive (defau

[2016-09-08 16:22] wking commented on #271
On Thu, Sep 08, 2016 at 04:09:51AM -0700, xiekeyang wrote:

I think this means “we can close this issue with #279”.  Or are there
other actions folks want to take based on this issue?

[2016-09-08 16:55] philips commented on #196
This will be fixed by #255

[2016-09-08 17:17] wking commented on #196
On Thu, Sep 08, 2016 at 09:55:58AM -0700, Brandon Philips wrote:

Is this actually covered by #255?  Can you point out the line(s)?

[2016-09-08 17:29] vbatts commented on #196
https://github.com/opencontainers/image-spec/pull/255/files#diff-dc2bb3b4eddcffe96e682193926e8ff6R10

[2016-09-08 17:38] wking commented on #196
On Thu, Sep 08, 2016 at 10:29:41AM -0700, Vincent Batts wrote:

But that doesn't include order of application.  If you have a whiteout
early in the tar and remove the whited-out entries, but a later entry
lands in one of the whited-out locations, what happens?  I think we
should specify that the tar entries are applied in the order listed in
the tarball, and that no information about previous entr

[2016-09-08 20:15] #244 closed

[2016-09-08 21:13] #220 closed

[2016-09-08 23:38] xiekeyang commented on #271
can be closed

[2016-09-08 23:38] #271 closed

[2016-09-08 23:44] philips commented on #196
@vbatts is this done

[2016-09-09 00:53] stevvooe opened #283 "rename serialization.md to config.md"
As part of splitting layer.md out of serialization.md, I had this as a TODO item. Once of the issues was that the term "serialization" is imprecise.

There are still a few open PRs against layer.md. Once these are resolved, I'll go ahead make sure this is renamed.

[2016-09-09 08:33] runcom opened #286 "cmd/oci-image-tool: validation errors and warnings"
From https://github.com/opencontainers/image-spec/pull/279#issuecomment-245717705

Action: `oci-image-tool validate` should soften the error given when an unknown media type is encountered when validating a reference under `refs/`.

Discussion: does the above work with media types found in manifests as well? Should we just print a warning and `exit 0` from the tool? Should we a flag which specifie

[2016-09-09 08:40] runcom opened #287 "cmd/oci-image-tool: is having empty refs/ a valid image?"
$SUBJECT and basically, is it valid to have stuff under `blobs/` not referenced? Can I still package it up and validation is ok given there are no refs/? Should we print a warning (which can be silenced)?

[2016-09-09 08:46] runcom opened #288 "cmd/oci-image-tool: use logrus to ease printing to stdout"
$SUBJECT - logrus have various and a nicer way of printing logs to stdout with the option to specify the log level (which can then be used to differentiate the validation level in a nicer way).
The current way of embedding stdout in the validation struct isn't as pretty as it would be by having a nicer logger like logrus.

I would also suggest to have a context (not necessary `context.Context`) ob

[2016-09-09 08:52] wking commented on #286
On Fri, Sep 09, 2016 at 01:33:06AM -0700, Antonio Murdaca wrote:

I think the softening should go behind a flag like --unpackable [1]
(which makes more sense than my alternative
--ignore-unknown-media-types [2]).  This gives you a way to toggle (b)
in the following cases:

a) The media type is recognized and an expected target of the source
   location (always good).
b) The media type is unrecogni

[2016-09-09 08:55] wking commented on #286
On Fri, Sep 09, 2016 at 01:50:04AM -0700, W. Trevor King wrote:

Scratch that, we *would* still have instances of (b) in the refs.  So
we'd need --unpackable (or some such) to ignore cases where someone
added an image/png ref (or whatever).  This is exactly the case that
@stevvoe was concerned about ([optionally?] not erroring for unknown
ref media types) [1], and I agree that we want to cover tha

[2016-09-09 08:59] runcom commented on #286
@wking I really struggle at following you comments full of references to other issues/place of your paragraph. I personally find it really confusing. Could you please concisely re-explain what are you suggesting to have here?

[2016-09-09 09:04] wking commented on #287
On Fri, Sep 09, 2016 at 01:40:15AM -0700, Antonio Murdaca wrote:

I think so.  At least I don't see any “and there MUST be at least one
ref” language.  And if you cared about running images from the layour
that would be “and there MUST be at least one unpackable ref”
language.  And then you have to match the oci-layout version with the
media types that were unpackable when it was current (or is va

[2016-09-09 09:15] s-urbaniak commented on #288
logrus is pretty accepted in the ecosystem, and structured logging doesn't
sound too bad. So I am +1 for this.

On Fri, Sep 9, 2016 at 10:46 AM Antonio Murdaca <notifications@github.com>
wrote:

[2016-09-09 10:01] xiekeyang commented on #288
+1

[2016-09-09 10:04] runcom commented on #288
I'll work on this once we reach consensus and figure out all the other issues about errors/warnings when validating an image, I would love to have a table-like document which lists soft and hard requirement for image validation w/o having to go through the whole spec to figure out MUST and SHOULD. Do you guys think it would be nice/useful to have such a document for oci-image-tool?

[2016-09-09 10:16] xiekeyang commented on #288
It is deep related to #234
In which we are also discussing logrus.
https://github.com/opencontainers/image-spec/pull/234#issuecomment-245789721

[2016-09-09 10:21] wking commented on #286
On Fri, Sep 09, 2016 at 01:59:05AM -0700, Antonio Murdaca wrote:

Some of the things are not actionable suggestions, but just raising
points for discussion.  For example, “should manifest.layers require
descriptors to be application/vnd.oci.image.layer.tar+gzip?”.  This is
(like most decisions) a balancing act between competing interests.  I
tried to lay out those interests in the “The spec does n

[2016-09-09 10:25] s-urbaniak commented on #288
xfref regarding "how to inject the logger": https://github.com/opencontainers/image-spec/pull/234#issuecomment-245876579

I am in favor of classical dependency injection as per https://peter.bourgon.org/go-best-practices-2016/#program-design.

[2016-09-09 15:15] glestaris commented on #281
I am happy to pick this up as a PR then @image-spec-maintainers.

[2016-09-09 15:27] wking commented on #288
On Fri, Sep 09, 2016 at 03:25:13AM -0700, Sergiusz Urbaniak wrote:

I'm ok with including a logger in our types to avoid relying on global
state.  But transitioning to logrus could happen in two stages:

* Replace log calls with logrus calls using the global state.
* Replace global-state logging with explicit logger state carried in
  our types.

Both of those can happen independently.  The first

[2016-09-09 15:29] runcom commented on #288
totally agree on this point

[2016-09-09 17:00] vbatts commented on #196
@wking that wording was done by @stevvooe already.

[2016-09-09 17:00] vbatts commented on #196
#255 is merged now

[2016-09-09 17:00] #196 closed

[2016-09-09 17:10] wking commented on #196
On Fri, Sep 09, 2016 at 10:00:30AM -0700, Vincent Batts wrote:

The closest wording I can find is [1], which sounds like “all
whiteouts in the layer must be applied before you apply anything else
from the layer”.  Is that really what we want?  I don't see a way to
implement it without making two passes through the layer tarball.

[1]: https://github.com/opencontainers/image-spec/blame/72d05255cd88

[2016-09-09 21:24] stevvooe commented on #196
@wking We discussed those implications when merging the issue. Unfortunately, for non-overlay based implementations, this is a requirement. It should only require memory for metadata linear to the number of  entries, which is small in practice.

(Note that there may be a way to do it in one pass by unpacking to temporary locations then moving the resource into place after whiteouts have been proce

[2016-09-09 21:32] wking commented on #196
On Fri, Sep 09, 2016 at 02:24:33PM -0700, Stephen Day wrote:

Got it.  Thanks for the clarification :).

[2016-09-10 04:55] dustymabe opened #293 "failure to create-image-bundle - no error produced"
I run the code to create an image bundle and the return code is 0 but no rootfs is created. Not sure what the problem is.

using projectatomic/skopeo@362bfc5fe37db08b945d190c377b617c6a7e4c3c
using oci-image-tool @ 0a76d61e056738881495bad151824cfbe29864a0 from PR #257

[code]

[2016-09-10 08:48] runcom commented on #293
Can't reproduce using `master` + cherry-pick https://github.com/opencontainers/image-spec/pull/257/commits/5c9e424ef0bde55e452930a2c9b0f61520cdbc78 from #257 - I guess something else made into `master` and fixed the issue you're having here. Could you try it yourself?
[code]

[2016-09-11 01:30] dustymabe commented on #293
it gets a little farther for me, but not quite all the way there:

[code]

I pushed up my "master + cherry-picked commit" code to https://github.com/dustymabe/image-spec/commit/2d0d1db58195b2c2d708be2eea91751ad907a1c9 - do we maybe want to synchronize on the exact same commit and see if we get the same behavior?

[2016-09-11 05:07] wking commented on #293
On Sat, Sep 10, 2016 at 06:30:36PM -0700, Dusty Mabe wrote:

This is the format from before #230 and #232.  You should either
generate the new format or patch your oci-image-tool to use the old
format.

[2016-09-11 07:44] runcom commented on #293
@dustymade you're probably use an old skopeo version..

[2016-09-11 13:05] dustymabe commented on #293
that was it. was using skopeo from the system (fedora) and not the compiled one from master.

The only error that I get now is on unpack:

[code]

[2016-09-11 13:09] runcom commented on #293
@dustymabe, I think I've already solved that in the current oci-image-tool master code (it's working for me). Not sure what's going on otherwise..

[2016-09-11 13:29] dustymabe commented on #293
@runcom - I should be using master + cherry picked https://github.com/opencontainers/image-spec/pull/257/commits/5c9e424ef0bde55e452930a2c9b0f61520cdbc78.

Do you mind checking? This is what I'm using: https://github.com/dustymabe/image-spec/commit/2d0d1db58195b2c2d708be2eea91751ad907a1c9

[2016-09-11 13:46] runcom commented on #293
@dustymabe seems so - not sure why this is working for me then

[2016-09-11 13:48] dustymabe commented on #293
In that case i'm not worried about it. The issue I reported has been fixed somewhere in current master. would be nice to get #257 in.

[2016-09-11 13:49] #293 closed

[2016-09-12 06:28] amitsaha commented on #293
I had to cherry-pick https://github.com/opencontainers/image-spec/pull/257/commits/5c9e424ef0bde55e452930a2c9b0f61520cdbc78 onto my master too to be able to get `oci-image-tool` to be unpack correctly.

[2016-09-12 10:18] runcom opened #296 "image-tools naming"
I have a working branch/repo at https://github.com/runcom/image-tools which basically removes from this repo the `cmd/*` bits to be later become `opencontainers/image-tools`.

Basically that big `oci-image-tool` became a set of smaller binaries.
Commands under `cmd/*` looks like this:
[code]
The `oci-` prefix is ugly but is making sure commands like `unpack` and `validate` do not conflicts with al

[2016-09-12 10:26] jonboulle commented on #296
I don't see a problem with the prefix.

[2016-09-12 17:17] wking commented on #296
On Mon, Sep 12, 2016 at 03:18:19AM -0700, Antonio Murdaca wrote:

The prefix should be oci-image-… to avoid conflicting with
oci-runtime-… (which is presumably what ocitools will be installing
after opencontainer/tob#18).

[2016-09-12 17:19] wking commented on #296
On Mon, Sep 12, 2016 at 03:18:19AM -0700, Antonio Murdaca wrote:

Wait, are you switching to install these as separate binaries?
Instead of the current situation where they are sub-commands of a
wrapping oci-image-tool?

[2016-09-12 18:01] runcom commented on #296
yes

[2016-09-12 18:02] runcom commented on #296
@wking I don't see how we would have image-toolS if it's just one - also they're pretty good standalone  right?

[2016-09-12 18:09] wking commented on #296
On Mon, Sep 12, 2016 at 11:02:03AM -0700, Antonio Murdaca wrote:

If they're good standalone (and I think they are), make them separate
projects ;).  Why pin versioning for the validator to versioning for
the unpacker?

On the other hand, I'm also ok with them being the suite of core tools
for the format, and having them as sub-commands of a top-level
oci-image (oci-image-tool, or oci-image-tools,

[2016-09-12 22:46] stevvooe commented on #296
Please don't remove `oci-` prefix.

[2016-09-13 05:28] philips commented on #296
yes, please keep oci-. If the toolkit gets huge at some point down the road we can add an optional git style `oci <subcommand>` tool or something.

[2016-09-13 08:02] runcom commented on #296
@stevvooe @philips @vbatts et all - alright, I'll keep it. Just in case the new repo is going to be populated, this repo https://github.com/runcom/image-tools contains the code with this cmd split to be moved to opencontainers/image-tool

[2016-09-13 09:01] s-urbaniak commented on #296
:+1: on keeping the `oci-` prefix

[2016-09-13 19:15] vbatts commented on #283
ptal #305

[2016-09-13 19:16] stevvooe commented on #286
@philips @wking @runcom Do we have a general UX plan for this tool?

[2016-09-13 19:18] vbatts opened #306 "layer: hardlink verbiage"
reference: https://github.com/opencontainers/image-spec/pull/255/files/f5a91ffe001afe2308628b112f3d9534fb94c2da#r78089784

Iron out the wording for a layer changeset preserving hardlinks (where applicable).

[2016-09-13 19:19] vbatts commented on #306
/cc @stevvooe

[2016-09-13 19:19] runcom commented on #286
@stevvooe I have something in mind and I started working on it already but don't want to create more issues and PRs here since the repo will be split shortly to avoid further work to do when moving. I'm doing a light refactor focused on validation stages though, the order will be discussed separately after I submit a PR.

[2016-09-13 19:20] vbatts commented on #287
Both seem valid to me

[2016-09-13 19:25] runcom commented on #287
Alright, can we keep this open so we won't forget about adding some sort of warning/log when this happens

[2016-09-13 19:54] vbatts commented on #190
Oh I see now. Yeah. Referencing an object that is a manifest with it's own objects too. That seems like a valuable use-case.

But how would that be a build time fixup tho?

[2016-09-13 20:00] vbatts opened #307 "include URL to the project"
Anyone that uses the cli tools ought to have see a URL to the project in the usage (`--help`), so that:
* they can learn more on the spec that the tool is referencing
* they can report issues

[2016-09-13 20:16] runcom commented on #307
@vbatts do we want the URL to show up only when `oci-image-tool --help` (or w/o `--help`) or with every subcommand? it requires to duplicate that URL to every subcommand if we go to show it on every subcommand. Is this for 0.5.0?

[2016-09-13 20:27] stevvooe commented on #190
@vbatts My point is that you can't just swap these without fixing up the chain ids and diff ids to correlate. These are generally build time concerns.

Effectively, I'm saying this is already supported _without_ referencing an image manifest as a layer. Adding this will just create another way to do the same thing without providing much value.

[2016-09-13 21:04] vbatts commented on #307
I wasn't think that every subcommand need it... but maybe? I'm not convinced. Only that it need to be discoverable.

And this is just a nice-to-have, not related to v0.5.0

[2016-09-13 21:19] stevvooe commented on #286
@runcom Sounds great!

[2016-09-13 23:32] stevvooe commented on #296
@runcom Can we close this?

[2016-09-14 07:07] #296 closed

[2016-09-14 19:46] #283 closed

[2016-09-14 20:09] vbatts opened #314 "HTML and PDF clean-up"
From OCI F2F items: https://docs.google.com/document/d/1bsi9JCnmOMSZCDh3VmDCO1m17w1aNexX09naomcpUOs/edit

I'll take point on this, but would like input/feedback from  @RobDolinMS and @stephenrwalli

[2016-09-14 21:25] philips commented on #306
We have three options:

1. Be explicit saying they aren't supported
2. Saying it is implementation specific
3. Trying to write down something about how to explicitly handle it

We can look at what is happening in the current media type handling in Docker Engine. @stevvooe can try and hunt that down.

[2016-09-14 21:26] philips commented on #276
The main thing is that the config order matters but the manifest list order doesn't.

[2016-09-14 21:32] philips commented on #259
The conclusion here is that we can suggest an order but we can't really mandate one in order to support lots of languages.

@stevvooe suggests we prefer "spec order" which seems fine too.

[2016-09-14 21:48] vbatts commented on #126
I think this is done now

[2016-09-14 21:49] vbatts commented on #126
_(this issue)_

[2016-09-14 21:52] #174 closed

[2016-09-14 21:56] philips commented on #174
Conclusion on this one based on the discussion on the call today. Essentially everyone feels we have selected the correct subset of characters to support most filesystems. And we have not attached any semantic meaning to these refs in this directory.

So, if someone wants fancy UTF-8 refs they can create a higher-level tooling expectation that says, `org.prefix.base64-aGVsbG8K` is actually display

[2016-09-14 21:57] runcom commented on #126
here is the WIP Docker PR for OCI support https://github.com/docker/docker/issues/26369

[2016-09-14 22:07] wking commented on #174
On Wed, Sep 14, 2016 at 02:56:30PM -0700, Brandon Philips wrote:

I would still rather have gone with this approach, allowing safe,
consistent UTF-8 for everyone.  But I'm am ok with an out-of-spec
base64-… convention for folks who need additional characters.

[2016-09-14 22:16] wking commented on #259
On Wed, Sep 14, 2016 at 02:32:52PM -0700, Brandon Philips wrote:

+1.  And the only benefit of consistency is reducing the number of
semantically-equivalent JSON blobs in CAS.  A few redundant JSON blobs
is not the end of the world.

The CAS-consolidation benefit (which is the only benefit I see) only
applies if the same semantic content serilizes to a blob with the same
hash.  So I think we need

[2016-09-14 22:35] wking commented on #306
On Wed, Sep 14, 2016 at 02:25:55PM -0700, Brandon Philips wrote:

(1) seems overly restrictive.  I think this is like #304, where you
want to allow implementations to extend the spec (and support
something like hardlinks that it doesn't currently define) but suggest
that portable images avoid these implementation-defined extensions
without and out-of-band reason to expect support.

This is fine to

[2016-09-14 22:56] wking commented on #276
On Wed, Sep 14, 2016 at 02:26:58PM -0700, Brandon Philips wrote:

Lots more discussion starting around [1], but I see no reason why the
manifest.layers order should not be layer-application order (which we
currently require [2]).

[1]: ttp://ircbot.wl.linuxfoundation.org/eavesdrop/%23opencontainers/%23opencontainers.2016-08-31.log.html#t2016-08-31T22:06:18
[2]: https://github.com/opencontainers/im

[2016-09-15 19:24] stevvooe commented on #306
[Here](https://github.com/docker/docker/blob/master/pkg/archive/archive.go#L313) is the hard link handling in docker.

[2016-09-16 15:06] jonboulle commented on #259
SHOULD canonical SGTM

[2016-09-18 14:07] coolljt0725 opened #322 "The word `serializaton` of build-diagram.png should be changed?"
After  split serialization into image and layer(71650f273d012516d2c9a322f6b67d27b6ba05ef) and rename serialization.md -> config.md (17c1f00097a716ca369d089159dd9569e7a0e0d0), the word in `serializaton` of `build-diagram.png` should be changed?

[2016-09-19 03:26] TrumanLing opened #326 "ChangeLog should update"
version 0.5.0 has been released for two days since Sep. 17th, does it need to update the change log?

[2016-09-19 03:51] wking commented on #326
On Sun, Sep 18, 2016 at 08:26:06PM -0700, TrumanLing wrote:

I think that's just waiting on someone writing up the entries and
submitting a PR [1].  It would be nice to have that ChangeLog be part
of the release criteria [2], but we don't have official release
criteria yet.  If you get @vbatts ChangeLog entries before he gets two
LGTMs he still needs in #289 [3], you can probably get them in with

[2016-09-19 04:47] wking commented on #322
On Sun, Sep 18, 2016 at 07:07:18AM -0700, Lei Jitang wrote:

Yeah, probably to “layer”.  @philips, can you update [1] and PR a new
image?

[1]: https://docs.google.com/drawings/d/1cYRHLBq3b7fTDeuLsXg1htr4B9eeORc3XATzJuK-YiM/edit

[2016-09-19 11:55] coolljt0725 opened #329 "container runconfig in Image Configuration is linux centric"
The container runconfig(https://github.com/opencontainers/image-spec/blob/master/config.md#container-runconfig-field-descriptions) in Image Configuration is very linux centric.

I think this field should be platform specific, I think we should have a clarification about this.

[2016-09-19 17:39] wking commented on #329
On Mon, Sep 19, 2016 at 04:55:53AM -0700, Lei Jitang wrote:

See [1] and similar for why I think image-spec should get out of the
runtime-configuration re-specification business.  As long as it stays
in that business, it will have to work to keep up with
opencontainers/runtime-spec#565 and similar, which seems like
duplicated effort to me.

[1]: https://github.com/opencontainers/image-spec/issues/

[2016-09-20 02:19] coolljt0725 commented on #329
@wking  I think image-spec provides some basic runtime-configuration make sense.  With some basic runtime configuration, user can run a container with no additional arguments. For some images, a user may doesn't know what arguments should be set on container creation. a image provider distribute a image and the user just run it with no additional arguments.

[2016-09-20 02:50] coolljt0725 opened #331 "config.md: clarify which filed is required or optional"
It's not clear which filed is required or optional in `config.md`(https://github.com/opencontainers/image-spec/blob/master/config.md)
We should make this clear.

[2016-09-20 08:31] wking commented on #329
On Mon, Sep 19, 2016 at 07:19:03PM -0700, Lei Jitang wrote:

If distribute the whole bundle with layers (instead of just the
rootfs), then you can distribute an image-spec config.json which
you've made as complete as you wish.  Image consumers can unpack your
image, adjust the config.json as they see fit (e.g. sanitizing hooks,
mounts, etc.) and away they go.  If there is a consensus about what
sh

[2016-09-20 09:40] wking commented on #331
On Mon, Sep 19, 2016 at 07:51:00PM -0700, Lei Jitang wrote:

Dup of #251?

[2016-09-20 10:17] coolljt0725 commented on #331
yes, it's a dup

[2016-09-20 10:17] #331 closed

[2016-09-20 23:43] vbatts commented on #326
On 18/09/16 20:26 -0700, TrumanLing wrote:

Happily i'll take an update to ChangeLog. It may likely just roll into
the next release, and entries for v0.5.0 will just be historical.

[2016-09-21 02:45] philips commented on #307
This issue was moved to opencontainers/image-tools#13

[2016-09-21 02:45] #307 closed

[2016-09-21 02:46] philips commented on #288
This issue was moved to opencontainers/image-tools#14

[2016-09-21 02:46] #288 closed

[2016-09-21 02:46] philips commented on #287
This issue was moved to opencontainers/image-tools#15

[2016-09-21 02:46] #287 closed

[2016-09-21 02:47] philips commented on #286
This issue was moved to opencontainers/image-tools#16

[2016-09-21 02:47] #286 closed

[2016-09-21 02:47] philips commented on #281
This issue was moved to opencontainers/image-tools#17

[2016-09-21 02:47] #281 closed

[2016-09-21 02:47] philips commented on #272
This issue was moved to opencontainers/image-tools#18

[2016-09-21 02:47] #272 closed

[2016-09-21 02:47] philips commented on #266
This issue was moved to opencontainers/image-tools#19

[2016-09-21 02:47] #266 closed

[2016-09-21 02:48] philips commented on #254
This issue was moved to opencontainers/image-tools#20

[2016-09-21 02:48] #254 closed

[2016-09-21 02:48] philips commented on #242
This issue was moved to opencontainers/image-tools#21

[2016-09-21 02:48] #242 closed

[2016-09-21 02:48] philips commented on #222
This issue was moved to opencontainers/image-tools#22

[2016-09-21 02:48] #222 closed

[2016-09-21 02:48] philips commented on #162
This issue was moved to opencontainers/image-tools#23

[2016-09-21 02:48] #162 closed

[2016-09-21 02:48] philips commented on #150
This issue was moved to opencontainers/image-tools#24

[2016-09-21 02:48] #150 closed

[2016-09-21 02:49] philips commented on #87
This issue was moved to opencontainers/image-tools#25

[2016-09-21 05:01] wking commented on #287
On Tue, Sep 20, 2016 at 07:46:54PM -0700, Brandon Philips wrote:

It seems like whether a refs-less image-layout is valid or not is
primarily a question for the image-layout spec.  Or have we already
reached a consensus on that in favor of the spec as it stands (with no
requirement for having refs or restrictions on media types for those
refs).  The spec's current position makes sense to me.

If w

[2016-09-21 05:03] wking commented on #281
On Tue, Sep 20, 2016 at 07:47:22PM -0700, Brandon Philips wrote:

PR is in opencontainers/image-tools#3.

[2016-09-21 05:05] wking commented on #254
On Tue, Sep 20, 2016 at 07:48:04PM -0700, Brandon Philips wrote:

PR is opencontainers/image-tools#8.

[2016-09-21 05:06] wking commented on #242
On Tue, Sep 20, 2016 at 07:48:16PM -0700, Brandon Philips wrote:

PR is opencontainers/image-tools#7.

[2016-09-21 05:13] wking commented on #87
On Tue, Sep 20, 2016 at 07:49:16PM -0700, Brandon Philips wrote:

I think we want to re-open this as:

  Can we drop the ‘config’ property from
  application/vnd.oci.image.config.v1+json and either inline the
  runtime-spec config entirely or distribute it as part of the layered
  directory?

That's a spec decision, not a tooling decision.  And I still see a
reduction in duplicated effort with no

[2016-09-21 20:54] wking commented on #150
On Tue, Sep 20, 2016 at 07:48:57PM -0700, Brandon Philips wrote:

Is this an image-tools issue?  My understanding was that cmd/ and
image/ were moving to image-tools, but that schema/ and specs-go/ were
staying.  We could keep schema/*.json but move schema/*.go, but
runtime-spec currently keeps both [1].

[1]: https://github.com/opencontainers/runtime-spec/tree/v1.0.0-rc2/schema

[2016-09-22 06:09] wking opened #338 "Media type v1 (or not) inconsistency"
Currently we define `Descriptor` in `specs-go/descriptor.go`, but its media type in `specs-go/v1/mediatype.go` as `application/vnd.oci.descriptor.v1+json`.  It seems like we should decide whether the type is being versioned or not.

* If it is being versioned:
    * shift `Descriptor` to `specs-go/v1/descriptor.go`
* If it is not being versioned (because we are committing to eternal forward compat

[2016-09-22 13:58] glestaris commented on #338
I think moving the `Descriptor` to v1 makes more sense to me. It feels odd to have everything else versioned except the descriptor.

[2016-09-22 18:01] vbatts commented on #338
not opposed to moving it. Wondering whether it'd need the specs.Versioned fields as well.

[2016-09-22 18:12] wking commented on #338
On Thu, Sep 22, 2016 at 11:01:46AM -0700, Vincent Batts wrote:

In almost all cases we can version using the media type stored on the
referencer.  For example, if blob A is (or contains) a descriptor
pointing to blob B, we can look at A.mediaType to figure out B's media
type without having to inspect B itsefl (e.g. trying to decode it into
specs.Versioned).

That approach doesn't work for refs tho

[2016-09-22 18:38] vbatts commented on #314
@RobDolinMS and @stephenrwalli Feedback on particulars for this?

[2016-09-23 04:21] wking commented on #259
On Fri, Sep 16, 2016 at 08:06:11AM -0700, Jonathan Boulle wrote:

I've taken a stab at this in #339.

[2016-09-27 05:28] #306 closed

[2016-09-27 06:45] TrumanLing opened #343 "content of manifest doesn't match the spec with image files build-diagram.png and run-diagram.png"
From the spec definition and according to my understanding of this spec, it should not appear field for ```manifests``` array.

[2016-09-27 12:41] vbatts commented on #343
I noticed this too. It produces the right then when `make docs` is run, but it ought to be checked in

[2016-09-27 16:22] #251 closed

[2016-09-27 16:59] vbatts commented on #314
This is a pretty loose marker. I'm moving it to a later milestone until hearing specific feedback

[2016-09-27 17:03] vbatts commented on #247
i've spent some cycles on this, and still do not have a solution yet.
I realize the concern, but worse-comes-to-worse, I'd drop the single page HTML and only provide PDF rather than so-grossly hack this in.

[2016-09-28 06:40] TrumanLing commented on #343
@vbatts I have tried to run `make docs`, it didn't make sense. Also, I checked `Makefile`, there is no any option with image files `build-diagram.png` and `run-diagram.png`.

@philips I found you checked in these two image files on May 24,2016, would please update them? Of course, I am willing to do it, but I have no the original and editable file.

[2016-09-28 15:00] wking commented on #343
On Tue, Sep 27, 2016 at 11:40:19PM -0700, TrumanLing wrote:

The commit message and PR landing them point at Google docs (74114b73,
#86).  I pinged @philips asking for a change [1], because I can't edit
those docs.

[1]: https://github.com/opencontainers/image-spec/issues/322#issuecomment-247910829

[2016-09-29 03:57] wking commented on #24
On Thu, Apr 14, 2016 at 02:26:16PM -0700, Timothy Hobbs wrote:

If we don't mind picking up a non-standard tar entry, star
(Schilling's tar) uses pax extension headers and defines
SCHILY.filetype with (among other things) a "whiteout" value
representing a BSD whiteout directory entry [1].  And as far as I can
tell, that's the same sort of whiteout we're interested in.  So if we
want a way to repre

[2016-09-29 04:50] wking commented on #37
On Tue, Apr 19, 2016 at 09:39:42PM -0700, Kamal Marhubi wrote:

I think the answer is clearly “yes” from the remainder of discussion
in this issue, the (new since this issue) layer documentation, and the
(new since this issue) image-layout documentation.  While I'm
personally fond of using IPFS to distribute directories [1], that
doesn't seem to have picked up much steam.  And I don't think there'

[2016-09-29 09:17] vbatts commented on #276
good thing for investigations. The DiffIDs in `application/vnd.oci.image.config.v1+json` ( and `application/vnd.docker.container.image.v1+json` for that matter), it turns out are _not_ applied "bottom-most to top-most", but in fact the opposite.

Example:
[code]
Then `docker build -t demo . && docker save demo | tar -C ./demo/ -xv". The resulting config (in my case it is 5b0f7769f7e805592e54322613

[2016-09-29 09:23] aaronlehmann commented on #276
@vbatts: I think you are misunderstanding https://github.com/docker/docker/blob/master/image/spec/v1.2.md. It says:

`diff_ids is an array of layer content hashes (DiffIDs), in order from bottom-most to top-most.`

If you think of the layers as a stack, `8ac8bfaf...` is indeed the "bottom" of the stack.

Perhaps there's a clearer way to state this?

[2016-09-29 09:24] vbatts commented on #276
Also possible, "bottom-most to top-most" is interpretted differently by different folks and I'm the kind of idiot that this does not make any sense.

[2016-09-29 09:24] vbatts commented on #276
@aaronlehmann that's what i'm arriving at. But haven't yet thought of a clearer way to say it.

[2016-09-29 16:06] asridharan opened #350 "Why is `size` defined as an int64 for OCI content descriptor?"
I would think `size` should be described as uint64 ?

[2016-09-29 16:38] wking commented on #350
On Thu, Sep 29, 2016 at 09:06:11AM -0700, asridharan wrote:

More discussion on this in #153.

[2016-09-29 19:04] asridharan commented on #350
I still don't understand the reasoning behind this decision. The only thing I see from the conversation seems to be its okay to use int64 since we "don't" allow negative values, and somehow the motivation seems to be that "go" has done it this way. A spec should not be language specific, so seems very arbitrary at this point.

Also, the fact that size is expected to be positive and validation need

[2016-09-29 19:29] wking commented on #350
On Thu, Sep 29, 2016 at 12:04:34PM -0700, asridharan wrote:

I would also prefer to see an unsigned integer, but was unable to make
a convincing-enough case for it.

The compat argument wasn't about Go, it was that docker/distribution
uses int64 [1].  But docker/distribution uses different media types,
and all reasonable size values will fit into both an int64 and a
uint64, so I don't see a proble

[2016-09-29 20:14] asridharan commented on #350
thanks @wking . Missed the argument of docker using `int64`. Yeah I agree using `int64` rather than `uint64` seems an unecessary confusion to percolate into the spec.

I wasn't aware the spec "needed" to be compatible with docker specification. I thought the idea was to move forward and look for something that is not tied to current specs?

[2016-09-30 09:03] #125 closed

[2016-09-30 09:47] jonboulle commented on #350
For most of the reasons already discussed I'd prefer uint64, and I'm not convinced by the reasoning for staying with int64 - so, you would have my +1, but I am not going to drive this.

[2016-09-30 15:57] #276 closed

[2016-09-30 17:01] vbatts opened #355 "bburns need an email update"
@brendandburns what is your new email, for the MAINTAINERS file?

[2016-09-30 17:14] wking commented on #355
On Fri, Sep 30, 2016 at 10:01:25AM -0700, Vincent Batts wrote:

Somewhat recent, if you have a local, unobfuscated copy: [1].

[1]: https://groups.google.com/a/opencontainers.org/d/msg/dev/XwIb5czltSE/a9vpJN7oCwAJ
     Subject: Re: [image-spec VOTE]: Tag 2bae0dc as v0.4.0 (closes 2016-08-07 16:20 UTC)
     From: brendan...@gmail.com
     Date: Tue, 16 Aug 2016 12:44:47 -0700 (PDT)
     Message-Id:

[2016-09-30 17:15] jonboulle commented on #355
bburns@microsoft.com

W. Trevor King <notifications@github.com> schrieb am Fr., 30. Sep. 2016,
19:14:

[2016-09-30 17:49] RobDolinMS commented on #355
I'll take care of this one

[2016-09-30 17:52] RobDolinMS commented on #355
Submitted #356 to resolve this issue

[2016-09-30 20:32] #338 closed

[2016-09-30 20:35] #355 closed

[2016-09-30 20:42] philips commented on #343
Fixed in #357.

[2016-10-01 12:36] #343 closed

[2016-10-01 21:33] wking commented on #322
Fixed by #357.

[2016-10-02 09:36] #322 closed

[2016-10-04 11:25] jonboulle commented on #246
Partially touched on in #367

I think we should retain a FAQ in the README. If we don't want to publish it in the spec artefacts (PDF etc) then we should change the process by which we create those documents.

[2016-10-04 15:31] jonboulle commented on #314
from F2F: try using Hugo?

[2016-10-04 15:35] vbatts commented on #126
Criteria:
* pull image with skopeo
* run with rkt
* load to Docker
* run w/ Docker
* save from Docker
* export and run w/ runc

[2016-10-04 15:43] vbatts commented on #126
https://github.com/cloudfoundry/grootfs/blob/c3da26e1e463b51be1add289032f3dca6698b335/fetcher/remote/docker_src.go

[2016-10-04 15:46] stevvooe commented on #350
We've already discussed this in detail and made a decision. Let's not reopen this discussion.

[2016-10-04 15:47] #350 closed

[2016-10-05 13:54] qianzhangxa commented on #15
@philips, any updates on this topic? I see this issue has been put into the "post-v1.0.0" milestone, so does that mean image distribution method will be part of OCI image spec after the 1.0.0 release? Thanks.

[2016-10-06 16:53] vbatts commented on #15
@qianzhangxa this is certainly an important requirement for folks. It came up numerous times this week at LinuxCon EU. Getting the distribution of images in for v1.0 seems somewhat tangling with getting release of aspects of the Docker distribution API vs creating an entirely new alternative.
This is the large reason we've been pushing back for it to be a post-v1.0.0 definition. It is something th

[2016-10-06 17:23] vbatts commented on #129
it seems like this is a duplicate of #59

[2016-10-06 17:27] vbatts commented on #22
Per the face-2-face at LinuxCon.EU, it was generally agreed that the spec ought to at least mention the points that are _signable_, even if not declaring a method to do the signature. Like the manifest as primary target to be signed, even though nothing is stopping from detached-signatures on all the blobs.
As a step to establish the  best/common practice for signing.

[2016-10-06 17:28] wking commented on #129
On Thu, Oct 06, 2016 at 10:23:19AM -0700, Vincent Batts wrote:

I think this is the generic issue and #59 is a particular use case.
But yeah, they're pretty close.

[2016-10-06 17:29] vbatts commented on #329
@coolljt0725 Would you open the PRs for the changes you'd like to see?

[2016-10-06 17:32] vbatts commented on #326
@trumanling I agree it's nice to have a ChangeLog. I would let it be a release blocker, if we _did_ have an automation for producing it. As it is, making the ChangeLog is just best effort.
I welcome PRs to update the ChangeLog. Perhaps if folks do it incrementally, that would be more manageable. I'm inclined to close this issue and just encourage PRs from folks.

[2016-10-06 17:37] #259 closed

[2016-10-06 17:38] vbatts commented on #190
@sgotti have we confirmed that this is a non-issue?

[2016-10-06 22:32] wking commented on #22
On Thu, Oct 06, 2016 at 10:27:14AM -0700, Vincent Batts wrote:

I think there are valid cases for signed name-assertions on both the
manifest and the manifest list [1].

You can sign a name-assertion for the config too and can use diff_ids
to validate layers while unpacking them, but having an untrusted
manifest opens you up to gzip-bombs as you decompress the layers to
compare them with your vali

[2016-10-08 08:10] xiekeyang opened #374 "reference management in image layout"
Current spec doesn't care the layout management for `ref` folder. Actually consumer can set up many child folder and put the reference file to any where. It seems to be a little chaos. I think it had better to build rules for this. like:

`<domain>/<repository>/<reference>`

`domain` identifies a directory.
`repository` identifies the image name, which may be multi-level directory, like `library/u

[2016-10-10 15:50] caniszczyk commented on #126
Mesos is working on OCI support atm: https://issues.apache.org/jira/browse/MESOS-5011

Design doc: https://docs.google.com/document/d/1Pus7D-inIBoLSIPyu3rl_apxvUhtp3rp0_b0Ttr2Xww/edit?usp=sharing

[2016-10-10 18:48] wking commented on #374
On Sat, Oct 08, 2016 at 01:10:57AM -0700, xiekeyang wrote:

This is not legal, because ‘/’ is not in the [A-Za-z0-9-._] whitelist
[1].  Previous discussion in #174 and #219.

[1]: https://github.com/opencontainers/image-spec/blame/v1.0.0-rc1/image-layout.md#L46

[2016-10-15 23:30] aecolley opened #389 "Prefer RFC-3339 over ISO-8601"
The image config's `created` property is defined as anything compatible with [ISO-8601](http://www.iso.org/iso/home/standards/iso8601.htm), but this should be restricted to date/time formats compatible with [section 5.6 of RFC-3339](https://tools.ietf.org/html/rfc3339#section-5.6).

The RFC-3339 format is compatible with, but stricter than, ISO-8601 format. It removes much ambiguity and undesired

[2016-10-16 00:09] aecolley opened #390 "Manifest list should not be identified by HTTP headers"
The manifest-list spec says:

This is incorrect. A client will always discover a manifest list by following a descriptor in the `refs/` directory, and the descriptor will state the media type. The media type will unambiguously distinguish manifests from manifest lists. No part of the spec requires obtaining a manifest/manifest list over HTTP.

In the event that a manifest list is obtained over HTT

[2016-10-16 01:17] aecolley commented on #24
Now that `v1.0.0-rc1` is out, it's the last chance to consider this before `v1.0.0` is final. After that, this will be such an incompatible change that it will have to wait for `v2.0.0` (assuming SemVer).

[2016-10-16 02:28] wking commented on #24
You could add a new whiteout approach in 1.1.  You'd only need to go to 2.0 if you remove or make backward-incompatible changes to an existing approach.

[2016-10-16 05:17] wking commented on #389
On Sat, Oct 15, 2016 at 04:30:44PM -0700, Adrian Colley wrote:

+1 to this, and the spec already uses the RFC for
org.opencontainers.created [1].  The only issue I can think of is
Docker compatibility, but I expect instances of ‘created’ in the wild
will satisfy the RFC.  All the entries in schema/config_test.go and
schema/manifest_backwards_compatibility_test.go do anyway, and the
JSON Schema dat

[2016-10-16 05:56] wking commented on #390
On Sat, Oct 15, 2016 at 05:09:41PM -0700, Adrian Colley wrote:

“will always discover … by following a descriptor” is too strict the
other way ;).  Let's just drop the line about how folks get a
manifest-list (since they can get it any number of ways).  In most
cases, folks will know (from a Content-Type header, a descriptor media
type, or other means) what type of blob they're dealing with before

[2016-10-17 22:30] aecolley commented on #24
A backwards-compatible change means either that a 1.1 image must be processed correctly by a 1.0 extractor, or that a 1.0 image must be processed correctly by a 1.1 extractor; depending on your point of view. In the case of 1.1-image-on-1.0-extractor, the extractor will not know about any way to produce a file named `.wh.foo`, regardless of how 1.1 decides to represent it. In the case of 1.0-image

[2016-10-17 22:41] vbatts commented on #24
Interesting. There is an option of approaching whiteouts like overlayfs
does, by setting device to 0 on non-directories and and xattr for directory.

On Mon, Oct 17, 2016, 18:37 Adrian Colley <notifications@github.com> wrote:

[2016-10-17 22:42] aecolley commented on #390
Yes, @wking is correct. I was wrong when I said that manifests were reached only through `refs/`. I still think that the spec should not assume that the manifest is obtained over HTTP.

Other than the sentence that mentions HTTP headers (quoted above), the spec does not attempt to resolve conflicts between media types, and this is fine.

[2016-10-17 23:00] aecolley commented on #24
Unfortunately, support for extended attributes [varies widely and incompatibly among tar implementations](http://www.lesbonscomptes.com/pages/extattrs.html#_archiving_and_backup). And that gets us into the tarpit of the #342 discussion (pun accidental, I swear). But it works if the chosen tar format supports it.

[2016-10-17 23:04] wking commented on #24
On Mon, Oct 17, 2016 at 03:30:51PM -0700, Adrian Colley wrote:

This should be made very clear in the spec, leaving it open to
interpretation is going to make make SemVer largely useless.  In
runtime-spec, opencontainers/runtime-spec#523 made it clear that you
may need a new runtime after bumping your config's minor version.

Agreed, which is why I want a 1.0 extractor to error out if you give
it

[2016-10-17 23:14] aecolley commented on #24
@wking OK, I see your point. 1.0 images can work on 1.x extractors so long as they don't attempt to create non-whiteout `.wh.` files, which is fine. I withdraw my position.

[2016-10-17 23:43] wking commented on #390
On Mon, Oct 17, 2016 at 03:42:10PM -0700, Adrian Colley wrote:

I've filed #392 to drop the line.

[2016-10-18 01:36] TrumanLing commented on #343
@vbatts @philips is it OK for an OCI image taking a manifest list? And I think it is mismatched with description ```This specification defines how to create an OCI Image, which will generally be done by a build system, and output an image manifest, a set of filesystem layers, and an image configuration``` in the specification.

[2016-10-18 04:40] wking commented on #343
On Mon, Oct 17, 2016 at 06:36:20PM -0700, TrumanLing wrote:

I'd like to see a manifest in the image too [1], and it's good to have
the image match the surrounding text.  @jonboulle feels like the
manifest link in the “high-level components” line a bit futher down is
complicated enough without mentioning manifest lists [2].  Maybe we
could have a new entry in the “high-level components” list talki

[2016-10-18 18:59] stevvooe commented on #22
I can't stress the importance of https://github.com/opencontainers/image-spec/issues/22#issuecomment-252031942 by @vbatts. For signatures to work and be compatible across implementations, we need to define two aspects:

1. What is the scope of the statement being signed? Is it the manifest/list/config directly or do we include something with metadata, such as an annotated descriptor?
2. Where are

[2016-10-18 19:29] wking commented on #22
On Tue, Oct 18, 2016 at 11:59:19AM -0700, Stephen Day wrote:

I don't think there's one clear thing to sign [1].  And I don't think
it really matters if you inline the signature-list between:

a. Adding information to the original descriptor.  For example
   manifest-list.manifests[0].signatures.
b. Adding a new application/vnd.oci.image.signed.blob.v1+json type,
   with manifest-list.manifests[0]

[2016-10-19 04:39] philips commented on #247
As Rob says above, this is low priority, moving to rc3.

[2016-10-19 06:43] TomasTomecek opened #396 "Build story: producing an OCI image"
The image spec is really awesome and I can't wait to see a stable release of the spec, integrated everywhere.

What I'm personally missing right now is a way to produce (build, compose, orchestrate; name it the way you want) an image: I mean a spec for steps needed to create an image. I'm sure that's very much out of scope of this project. What I'm interested in is
1. if such spec will ever be par

[2016-10-19 06:47] amitsaha commented on #396
You can learn a bit more about it here  https://github.com/opencontainers/image-spec/issues/126

[2016-10-19 06:54] TomasTomecek commented on #396
@amitsaha thanks for the link! I think that this issue goes even one step further: it's not just about implementing the spec, it's also about producing images valid in this spec.

[2016-10-19 07:02] wking commented on #396
On Tue, Oct 18, 2016 at 11:43:49PM -0700, Tomas Tomecek wrote:

I'm not sure if @cyphar is actively maintaining it (he's getting
pulled in quite a few directions at the moment ;), but there's also
[1].

I've also posted a rough sketch [2] using the API that's in flight in
opencontainers/image-tools#5.  I haven't kept that sketch up to date
with recent image-tools changes, but the basic idea still

[2016-10-19 07:14] cyphar commented on #396
Yeah, I'm having a busy month. Currently we at SUSE are planning on integrating some kind of OCI-image-building support into [KIWI](https://github.com/suse/kiwi) once image-spec 1.0 is released. I'm going to be heavily involved with that work (which will involve essentially all of the same background work required for oboci). Once the KIWI integration is somewhat working (at least my bits) I'll th

[2016-10-19 11:25] jonboulle commented on #396
FWIW, the intention is that [acbuild](https://github.com/containers/build) will support OCI images, but this is still a WIP: https://github.com/containers/build/issues/249

[2016-10-19 11:35] cyphar commented on #396
The more the merrier. :wink:

[2016-10-19 11:42] #390 closed

[2016-10-19 18:35] stevvooe commented on #190
Closing after two weeks with no activity. Please re-open if there is more to discuss.

[2016-10-19 18:35] #190 closed

[2016-10-19 20:39] vishvananda opened #399 "Created should be omitted from image json"
It is preferable for container images to build reproducibly, which means content shouldn't be dependent on build time. It is possible to ignore Created when building ocis since it is optional, or to set it to a standard value, but it seems that including it in the spec is just inviting people to build images in a non-reproducible way. One could make a similar argument against the Created in the hi

[2016-10-19 20:41] vishvananda commented on #399
Ideally, build date is metadata that is stored separately from the image.json, perhaps as part of https://github.com/opencontainers/image-spec/issues/176

[2016-10-19 21:38] stevvooe opened #400 "Define structure of signatures in OCI"
For signatures to work and be compatible across implementations, we need to define two aspects:
1. What is the scope of the statement being signed? Is it the manifest/list/config directly or do we include something with metadata, such as an annotated descriptor?
2. Where are signing subsystems resolved and how are they structured? How do we balance "resolution" versus "abstraction" without sacrifi

[2016-10-19 21:48] runcom commented on #400
/cc @mtrmac @vbatts

[2016-10-19 22:18] wking commented on #399
On Wed, Oct 19, 2016 at 01:39:52PM -0700, Vish Ishaya wrote:

Many from-scratch builds are going to be non-reproducible for other
reasons, and in that case you may be interested in setting the field.
We could make it less prominent by switching to annotations (or
similar, #371, #372) and applying the usual annotations boilerplate
(including org.opencontainers.created) [1], but that would be a
reas

[2016-10-19 23:41] stevvooe commented on #389
Good catch. These dates have always been `RFC3339Nanos` (in Go parlance).

[2016-10-19 23:47] stevvooe commented on #24
After spending some more intimate time with whiteout files (`.wh.`), the approach currently employed in this specification is really as good as any.

What good does changing this provide? I don't see how this allows layers to have "arbitrary data".

[2016-10-19 23:55] wking commented on #24
On Wed, Oct 19, 2016 at 04:47:27PM -0700, Stephen Day wrote:

As @timthelion describes in the topic post [1], the current approach
makes it impossible to distribute .wh.* files because the entry path
is overloading “unpack me to here” and “delete the stuff there”.  The
alternatives discussed here:

a. An external ‘whiteouts’ [1].
b. SCHILY.filetype set to whiteout [2].
c. Device set to 0 [3].

all

[2016-10-20 00:53] stevvooe commented on #24
@wking Is there a realistic use case for distributing `.wh.` files, other than packing up a container runtime into an image?

Please, for the love of god, stop doing this.

[2016-10-20 03:31] wking commented on #24
On Wed, Oct 19, 2016 at 05:53:25PM -0700, Stephen Day wrote:

I don't have a personal use case for it, but I would like to avoid
complication when explaining what folks can put into layers.  And from
an implementation perspective both SCHILY.filetype set to whiteout and
device set to 0 would be very easy to implement in code that already
uses the .wh.* approach.

[2016-10-20 04:17] wking commented on #400
On Wed, Oct 19, 2016 at 02:38:42PM -0700, Stephen Day wrote:

Can we just focus on (1) here then?  These discussions are complicated
enough without knowingly biting off multiple pieces at once ;).

My personal position on the signing scope is that folks should be
signing an assertion (like the name-assertion object I float in #176).
Without an assertion like that, the signature says “I think this

[2016-10-20 08:31] TomasTomecek commented on #396
Thanks everyone for all the pointers, this is what I was hoping to get.

[2016-10-20 15:18] wking opened #406 "Intra-blob JSON validation correctness and image-spec release policy"
We're moving towards keeping all intra-blob JSON validation in this repo since [this discussion][1] and @stevvooe has been [redirecting intra-blob JSON validation PRs from image-tools to this repo][2].  But working up #358 and #404 has left me concerned about how well our JSON Schema covers our spec.  And JSON Schema is currently the only validation we do here, although see #403 about preparing to

[2016-10-20 19:44] stevvooe commented on #400
@wking As was expected, my point is completely lost to you. Again, this is not a naming or format discussion. We need to choose the signing targets.

Please refrain from commenting on this issue further before consulting with the maintainers. We must keep this focused and in scope or no progress will be made.

[2016-10-20 23:32] RobDolinMS opened #409 "Spec Title Hypehnates"
In the PDF for v1.0.0-rc1, the spec title lists as:

I suggest adding a line break so this may look like:

[2016-10-21 22:14] wking commented on #24
On Fri, Oct 21, 2016 at 11:40:17AM -0700, Stephen Day wrote:

I agree, which is why I prefer the `SCHILY.filetype` whiteout approach or the `device` 0 approach.  Both of those are in-band (like the current `.wh.*` approach), but `SCHILY.filetype` is not overloaded at all and `device` 0 is a less-restrictive overload.

I think you're talking about @vbatt's `device` 0 approach here.

If we land “`de

[2016-10-22 10:58] timthelion commented on #24
I don't know what the best way to change the spec is, but I personally think that it would include adding a directory to the tarbal with a whiteout list and any other information that we might want to add in the future, so as to make the spec extendable.

That is that the `/` directory of the layer should include a `/opencontainer-data` directory.

I have several use-cases in mind.

The first use-

[2016-10-22 11:06] timthelion commented on #24
PS: With the forth example, it is of course reasonable to ask "Why did Dr. Lang decide to put untrusted test data, and an executable into a single directory. That's just bad practice!" And it is also, of course, reasonable to ask "Why would any storage system restrict file names? That's just bad practice. We already went throug that **** with FAT16 and have decided that restricting the content of

[2016-10-22 16:53] cyphar commented on #24
While I think @timthelion is being a bit melodramatic with his examples, I agree with his general point.

Why are we treating a **rejected filesystem's serialisation format** (AUFS) as the "right way of doing things in a standard"? Standards survive for a very long time in general, and I don't think it's a great idea to enshrine legacy parts of Docker into this particular part of the standard. IMO

[2016-10-23 05:07] aecolley commented on #400
Intuitively, users who use signing are likely to refer to an image using a name, and are going to assume that the image retrieved is actually signed and named by one of the configured trusted signers. For this reason, I suggest that the signature has to cover the image name (including the ref tag) and one of the content-hashes. I think it's reasonable to make an exception for the ref tag `latest`.

[2016-10-23 06:45] wking commented on #400
On Sat, Oct 22, 2016 at 10:07:59PM -0700, Adrian Colley wrote:

I'm pretty sure we want to have the signatures and signed objects in CAS, since that makes them easy to mirror and distribute.  #176 proposes structures for doing that, although you can keep the name information in [other places too][1] if you don't want a separate name-assertion blob.  You don't want to sign the ref (because the ref

[2016-10-23 06:56] wking commented on #400
On Sat, Oct 22, 2016 at 10:07:59PM -0700, Adrian Colley wrote:

IPFS addresses this by providing [a number of validity schemes][1].  I expect we'll want something similar here, but “valid forever” assertions (with no additional validation data like validity-range, time-to-live, or parent) seem like a good place to start.  Once we agree on that, we can come back in a subsequent round and add more g

[2016-10-23 17:56] philips commented on #126
I am satisfied this is heading in the right direction; can someone put a README entry together with all of this?

[2016-10-24 12:59] aweiteka commented on #400
The signature format that @mtrmac and others have [implemented against](https://github.com/containers/image/tree/master/signature) is proposed as a specification here: https://github.com/containers/image/pull/59/files. Example:

[code]

Before quibbling about specific details (data structure, values, etc), does this make sense at a high level?

[2016-10-24 13:30] jonboulle commented on #24
I think we should definitely pursue this, but as previously discussed it's more likely for a 1.1+ horizon.

[2016-10-24 14:31] aecolley commented on #400
@aweiteka Just two quibbles. The JSON you quoted describes itself as a signature; but it's actually a document which is signed, and the signature is stored elsewhere. The PR you linked to proposes encrypting the document as well as signing it, which makes no sense. Other than those, and ignoring the details of how the JSON might be integrated into OCI and how keys might be discovered, it makes sen

[2016-10-24 19:10] stevvooe commented on #400
@aweiteka As I outlined in this issue, this cannot be a format discussion. If I'm understanding you're proposal, it seems like you want agreement on the _scope_ of a signing statement.

Before we do this, the first agreement needs to be made on a potential signing target. This needs to be one of the existing formats, perhaps a manifest or manifest list. Then we can talk about the scope of the stat

[2016-10-24 19:18] wking commented on #400
On Mon, Oct 24, 2016 at 12:10:39PM -0700, Stephen Day wrote:

I think there are useful workflows around signing [configs manifests, *and* manifest-lists][1] (although there are pros and cons to each choice).  I'm happy to go over my arguments again, but it might be more productive if folks who think there is a single reasonable choice pitch their case for that choice.

[1]: https://github.com/open

[2016-10-24 19:27] RobDolinMS commented on #409
Please set milestone to v1.0.0

[2016-10-24 20:42] aecolley commented on #400
Maybe it's a matter of terminology, but I don't see any difference between the target of a signature and the scope of the signature. Either way, it is the thing whose integrity is protected against undetected malicious change.

The manifest and manifest list are both fine targets, as is the descriptor: all of them contain a content-hash which can secure the rest of the download by a client. I don'

[2016-10-24 21:09] wking commented on #400
On Mon, Oct 24, 2016 at 01:42:37PM -0700, Adrian Colley wrote:

But it does have diffIDs, so the trade-off is [potential gzip-bomb exposure vs. not having to resign after layer re-compression][1].

[1]: https://github.com/opencontainers/image-spec/issues/22#issuecomment-252107242

[2016-10-24 21:17] wking commented on #400
On Mon, Oct 24, 2016 at 01:42:37PM -0700, Adrian Colley wrote:

And an unsigned manifest-list opens manifest-list consumers up to denial-of-service type attacks where a malicious intermediate puts bogus entries into the manifest-list for a given platform.

An attacker could also spoof some platform settings ([`platform.os.features`, `platform.variant`, …][1]) which are currently only exposed in th

[2016-10-25 03:18] stevvooe commented on #400
@aecolley While the target infers scope, we already have hash-stable data structures that make a very nice target for signing. When deciding on the target, we are saying that a signature should include the hash of that target.

When we talk about scope, we are referring to the semantics of the statement. This includes a superset of what is asserted in the signing target. At minimum, we can make th

[2016-10-25 04:36] wking commented on #400
On Mon, Oct 24, 2016 at 08:18:27PM -0700, Stephen Day wrote:

I think “blob X is signed by Y” is pretty useless unless it's clear what that signature is asserting.  In the absence of an explicit assertion, I expect it is “everything in the Merkle tree rooted at X is perfect” which seems like a high bar to meet.  There are a number of more restricted assertions we could focus on, and I think “the n

[2016-10-25 18:12] timthelion commented on #24
I don't know what the best way to change the spec is, but I personally
think that it would include adding a directory to the tarbal with a
whiteout list and any other information that we might want to add in the
future, so as to make the spec extendable.

That is that the `/` directory of the layer should include a
`/opencontainer-data` directory.

I have several use-cases in mind.

The first use-

[2016-10-25 18:18] stevvooe commented on #399
@vishvananda While, ideally, we'd like our images to build reproducibly, the reality is that there is always something in the way to break this guarantee. Thus, if we rely on that property, we make the system hard to modify and sensitive to bugs that create artifact instability. On the other end of this, trying to reduce the input to the hash function increases the likelihood of collision, reducin

[2016-10-25 18:20] wking commented on #24
On Tue, Oct 25, 2016 at 11:12:15AM -0700, Timothy Hobbs wrote:

You can extend at any time by minting new media types.  You don't have to add support for something like this now on the off-chance that we'll use it later.

This has the same path-restriction as the current `.wh.*` approach, although it limits the restriction to a single path.  POSIX pax [extended][1] [headers][2] provide the same fu

[2016-10-25 18:21] stevvooe opened #415 "ensure that layer unpacking algorithms are windows compatible"
Recently, there has been a lot of activity in [`layer.md`](https://github.com/opencontainers/image-spec/blob/master/layer.md) around the unpacking procedure. I am not sure if we've fully evaluated this in the context of windows containers and other platforms.

As a strawman, there is a lot of discussion around links. How are these correctly handled in NTFS?

@jstarks @RobDolinMS

[2016-10-25 18:25] wking commented on #126
On Sun, Oct 23, 2016 at 10:56:25AM -0700, Brandon Philips wrote:

There's a lot of stuff in the current image-spec README.  Do we want
to follow runtime-spec and put this information in implementations.md
[1]?

[1]: https://github.com/opencontainers/runtime-spec/blob/v1.0.0-rc2/implementations.md

[2016-10-25 18:31] wking commented on #399
On Tue, Oct 25, 2016 at 11:18:07AM -0700, Stephen Day wrote:

There are two reasons for hash collisions:

a. You're hashing the same content.  Collisions because of this are a *good* thing (#339).
b. Your hash function returns the same value for different content.  Collisions because of this are a bad thing.

Dropping `Created` makes (a) more likely, but that doesn't effect CAS security.  I see no

[2016-10-25 18:45] timthelion commented on #24
Excelent. I of course don't want to restrict the possible paths at all,
and did not know that a better method was possible. Somehow, I did not
understand from your discussion that this `SCHILY` thing is a method of
hiding files inside the TAR that remain outside of the file tree.

On 10/25/2016 08:20 PM, W. Trevor King wrote:

[2016-10-25 19:03] stevvooe commented on #24
@timthelion Besides the contrived examples, do you have an extant proof that someone has actually run into a naming collision with whiteout files? I think there are problems in nested container scenarios but that can be solved with filesystem passthrough.

Look, I am not saying that AUFS whiteouts are ideal, but I thought the goal here was to define a container standard based on working systems. E

[2016-10-25 19:31] RobDolinMS commented on #415
Thanks @stevvooe.  I've sent an email ping to @jhowardmsft and @jstarks to encourage them to take a look.

[2016-10-26 00:05] aecolley commented on #400
Manifest annotations can be used for any security assertions that we'd like the signature to represent. I'd prefer to be able to sign any element of the set { `refs` descriptor, manifest list, or manifest }; but it's sufficient for the spec to provide for a signature on only one of them (even the otherwise-optional manifest list). Signatures are likely to be associated with professional release en

[2016-10-26 00:37] aecolley commented on #24
"It's already implemented" is literally the only good thing to say about the `.wh.` scheme, but it's still a powerful argument. Bumping the `imageLayoutVersion` can be used to signal a better-thought out scheme in the future. Anyone who really needs `.wh.` files in a `1.0.0` image can rename them into place as the first action in the container's runtime :anguished:.

I'm really only an outsider th

[2016-10-26 15:41] wking commented on #24
On Tue, Oct 25, 2016 at 05:37:37PM -0700, Adrian Colley wrote:

imageLayoutVersion has nothing to do with it.  The thing we'd be
bumping is the layer media type (e.g. by minting a new
application/vnd.oci.image.layer.v1.1.tar [1]).  But your main point
(that we aren't stuck with this long term unless we plan to support
the v1.0 media types forever) stands.

[1]: https://github.com/opencontainers/im

[2016-10-26 15:46] wking commented on #400
On Tue, Oct 25, 2016 at 05:05:17PM -0700, Adrian Colley wrote:

This assumes that the original signers remain involved in ongoing
maintenance for their images.  Some of the historical trouble with
signature support was when the image modeling changed.  The folks
running the registry understandably want to make life easier for image
consumers by doing on-the-fly translation to the newer formats.  B

[2016-10-26 21:07] philips commented on #126
@wking an implementations doc seems like a great idea!

[2016-10-28 13:05] vbatts commented on #24
a couple points:

1.  I agree that pinning this standard to the rejected AUFS' approach is silly. The _only_ redeeming thing is that "that's the way it's done in docker". The `.wh.` is a silly approach. The lack of ordering still bugs me.
2. Having a whiteout list provided would be a decent alternative. Best to have it in the ordered list of "layers" or "references" to be applied. Because if it we

[2016-10-28 15:20] wking commented on #24
On Fri, Oct 28, 2016 at 06:05:57AM -0700, Vincent Batts wrote:

I don't think we'd need to fork archive/tar to support SCHILY.filetype
whiteout.  GNU's tar is already using pax Extended Headers for xattr
support:

  $ zgrep TMPFS_XATTR /proc/config.gz
  CONFIG_TMPFS_XATTR=y
  $ mkdir a
  $ sudo mount -t tmpfs none a
  $ touch a/b
  $ md5sum a/b
  d41d8cd98f00b204e9800998ecf8427e  a/b
  $ sudo setf

[2016-10-28 17:13] WhisperingChaos opened #424 "File Lineage Support Layered Media"
I performed an issue search on the keyword "lineage" and it detected only one closed issue in this repository that referenced it.  [Lineage](https://www.usenix.org/conference/usenixsecurity13/technical-sessions/papers/jang) is a concept akin to a "family tree" which tracks the evolution of component and its offspring.   Since an image layer captures a component's state at a "moment in time", its p

[2016-10-28 19:09] wking commented on #424
On Fri, Oct 28, 2016 at 10:13:12AM -0700, Rich Moyse wrote:

You don't need a structure for lineage to use an image, so there isn't
a structured field for it at the moment.  There was some discussion of
using parent manifests in the child's ‘layers’ (e.g. [1]), but the
consensus was that you could accomplish the same thing with less work
by inlining the parent's layers directly [2].  So currently

[2016-10-28 20:50] WhisperingChaos commented on #424
@wking

Thanks for your thoughtful answer and references!  It might be interesting to use custom properties, mentioned by one of your provided references, to store lineage info.

[2016-10-28 21:26] RobDolinMS opened #425 "Should we move examples near the top of their sections?"
I sat down with a paper copy of the Image spec over lunch yesterday and one of the things that struck me was that it would be more readable if the examples were at the top and then descriptions of each element followed.

Do others think this would be useful for understandability / readability?

[2016-10-28 21:36] wking commented on #425
On Fri, Oct 28, 2016 at 02:26:49PM -0700, Rob Dolin (MSFT) wrote:

Are there other examples of specs that lead with informative examples?
I think it might just be a sign that we need to keep working on
readability for the normative parts ;).

[2016-10-28 21:48] caniszczyk commented on #425
I personally find it useful to see the examples up front, but that's just my pedagogical preference :)

[2016-10-28 22:41] wking commented on #24
On Fri, Oct 28, 2016 at 08:20:06AM -0700, W. Trevor King wrote:

Looking into this more today, it turns out that there is an issue with
Go's stock archive/tar: Go currently consumes x typeflag entries
internally and throws out any extended headers it doesn't recognize
(golang/go#14472).  I've suggested Go provide a way around that
limitation, but until that happens Go will ignore any extended head

[2016-10-28 22:46] RobDolinMS commented on #425
A few examples that I'm aware of:
* (IETF) Atom 1.0: https://tools.ietf.org/html/rfc4287
* (W3C) Web App Manifest: http://www.w3.org/TR/appmanifest/
* Facebook Graph API: https://developers.facebook.com/docs/graph-api/overview/

[2016-10-28 23:12] wking commented on #425
On Fri, Oct 28, 2016 at 03:46:27PM -0700, Rob Dolin (MSFT) wrote:

So we wouldn't be breaking new ground with examples-first, in which
case I'm fine either way.

[2016-10-31 19:20] wking opened #427 "image-layout: Drop or reword the “blobs the manifest references” line"
A [ref → descriptor example caption][1] gained “blobs the manifest references” wording with 2f24791, #136, but I don't see a direct relationship between descriptors and those deeper-ancestor blobs.  I think we either want to revert the changes 2f24791 made to this line or drop the line.  My preference would be to drop the line, because the other points covered by the sentence are already covered i

[2016-11-01 17:02] vbatts opened #435 "Version ought to be included in the docs"
Presently the tagged version of the specification is only available in `./specs-go/version.go`, but the generated PDF or HTML docs do not hold any reference to the version.

Perhaps either generate a *.md file with this info and/or include header/footer with the version info.

[2016-11-01 17:40] RobDolinMS commented on #435
It looks like the runtime-spec has code in the makefile and specs-go/version.go to generate a version.md file and concatenate it as the first text in the HTML and PDF outputs.

Would the same approach work for the image-spec?

[2016-11-01 18:07] vbatts commented on #435
yep. I've just been reading to see if there wasn't a simple flag or such to add a header/footer to each page rendered by pandoc.
But the same approach as runtime-spec ought to be fine.

[2016-11-01 20:01] wking commented on #150
On Wed, Sep 21, 2016 at 01:54:55PM -0700, W. Trevor King wrote:

With #337 having landed, I think that this is pretty clearly still an
image-spec issue.  Can we re-open this?

[2016-11-03 09:00] runcom opened #436 "Define URLs' scheme"
Descriptor's props at https://github.com/opencontainers/image-spec/blob/master/descriptor.md#properties do not talk about which scheme a URL should have.
Should we define that URLs SHOULD have either http or https scheme? leaving other scheme (ftp, file) to be used as well, but enforcing http[s]? or should we leave it as is and maybe link https://tools.ietf.org/html/rfc1738?

/cc @vbatts @philips

[2016-11-03 14:40] wking commented on #436
#431 is using JSON Schema's [`uri` format][1], which requires [RFC 3986][2].  I think we should make that requirement explicit in the Markdown.

[1]: https://tools.ietf.org/html/draft-wright-json-schema-validation-00#section-7.3.6
[2]: https://tools.ietf.org/html/rfc3986

[2016-11-03 17:17] wking opened #440 "Annotations for descriptors?"
In #438, @vbatts proposed [optional ref annotations][1]:

[code]

to support [“top level views” in tooling that may publish or fetch from an OCI image-layout][2].  I'm not entirely clear on that use case, but it brings up two questions:

1. Do we need annotations for refs?  Basically, can someone explain the “top level views” use-case in more detail.
2. After establishing (1), can we accomplish th

[2016-11-03 18:33] wking opened #441 "Separate versioning for refs and CAS portions of image-layout?"
Spun off from #438, where I floated:

[code]

The CAS and ref engines are completely orthogonal, and versioning them independently means that versions for a given component are bumped less frequently (e.g. a refs bump no longer triggers a CAS bump).  That's less noise for implementers who are only focused on one or the other, but maybe the set of such implementers is empty?

[2016-11-03 18:36] wking commented on #441
There's also some discussion about the semantics of version-bumping `oci-layout` in #434 which is tangentially related to this.

[2016-11-03 20:43] vbatts commented on #436
interesting. Having it as URI is well known and supported by many libraries. Then having "a SHOULD support http/https" seems like a decent approach.

[2016-11-03 20:57] vbatts commented on #441
IMO, this topic is distracting and adds to confusion.

[2016-11-03 21:03] wking commented on #436
On Thu, Nov 03, 2016 at 01:44:00PM -0700, Vincent Batts wrote:

Sounds like a consensus :).  I've filed #442 with suggested wording.

[2016-11-03 21:18] vishvananda opened #443 "Volume mountpoints should have additional flags"
Volume mountpoints in a container should have data explaining how they are used to help runtimes decide what should be done with them. The first and most obvious is a "readonly" boolean. There are a couple other flags which also could be useful.

readonly:
  true if the container only needs to read from the mountpoint (generally implemented by mounting a readonly volume)
  example: directory for p

[2016-11-03 21:31] wking commented on #441
On Thu, Nov 03, 2016 at 01:57:22PM -0700, Vincent Batts wrote:

You can close it wontfix if the argument doesn't hold water (e.g. “All
implementers will care about both, so it's not noise”).

Otherwise tag it priority/Pmaybe and forget about it until we hear
complaints (possibly never).

[2016-11-03 22:03] wking commented on #443
On Thu, Nov 03, 2016 at 02:18:21PM -0700, Vish Ishaya wrote:

I'd like to support all of these by distributing opaque directories
with runtime-spec config.json inside (discussion in #87).  Then you'd:

  $ oci-unpack some-image.tar some-image
  $ cd some-image
  $ tree
  .
  ├── config.json
  ├── data
  │   └── seed.json
  ├── root
  └── rootfs

  3 directories, 1 file
  $ cat config.json
  {

[2016-11-04 18:29] #329 closed

[2016-11-04 20:50] wking commented on #400
On Wed, Oct 26, 2016 at 08:47:00AM -0700, W. Trevor King wrote:

More than a week with no “I don't think we have a consensus yet”, so
I've filed my take on name assertions in #445.

[2016-11-05 11:42] cyphar commented on #24
I was reading about the Tar archive format the other day, and I noticed that we could just use `Typeflag` for this. Just specify that `'W'` indicates a whiteout path (`A-Z` is defined as fair-game for tar archives from what I understand). This also helps with ensuring that we don't have to make it clear that you have to add a directory as a "file" when whiting it out.

One thing I ran into with `u

[2016-11-05 14:52] wking commented on #24
On Sat, Nov 05, 2016 at 04:42:46AM -0700, Aleksa Sarai wrote:

This is the same approach as SCHILY.filetype whiteout, but without
using a pax extended header.  I'd rather wait for golang/go#14472 and
use the pax extended header, to avoid accidentally misinterpreting
some other tar extension that has decided to use a ‘W’ type for
something else.  Especially with #342 still in flight, leaving which

[2016-11-05 23:50] cyphar opened #449 "layout: sharding the blob store"
One issue that I'm quite worried about is the performance impact of having too many blobs inside an OCI image. Now, practically speaking I would be surprised if `n > 20` in most cases, but some people have expressed that they would like to have the entire universe bottled into an OCI image. I will refrain from commenting on how good of an idea I think that is, but if it's going to be a "valid usec

[2016-11-06 01:24] cyphar opened #450 "add OCI struct tags"
Currently we only have `json:""` struct tags for all of our exported types. While this is fine, maybe we should consider adding some OCI struct tags that add some information about the OCI specification (for example, is a particular field required or optional). This would mean that we could set up `reflect`-based validation that doesn't require us to keep updating the validation code and manually

[2016-11-06 04:17] wking commented on #449
On Sat, Nov 05, 2016 at 04:50:36PM -0700, Aleksa Sarai wrote:

That may be me ;).  I'd rather phrase this as “I'd like the whole
universe in one flat CAS namespace, with individual CAS engines biting
off as large a chunk of that universe as they like”.  What I've tried
to supply in opencontainers/runtime-tools#5 is an API that works
regardless of the number of blobs in CAS.

Whether a particular i

[2016-11-06 04:27] wking commented on #450
On Sat, Nov 05, 2016 at 06:24:49PM -0700, Aleksa Sarai wrote:

This came up in opencontainers/runtime-spec#229.  Folks seemed mostly
positive but the PR was closed.  I'm not sure why though, it doesn't
seem like these tags could apply to ocitools (now runtime-tools), but
that was @liangchenye's plan when he closed the PR.  @liangchenye, can
you fill us in?

[2016-11-10 18:36] wking commented on #450
Currently runtime-tools is [using `omitempty`][1] for this purpose.

[1]: https://github.com/opencontainers/runtime-tools/blob/553c260f75393e07530883481397cbfbc36b2aae/validate/validate.go#L557-L627

[2016-11-11 12:35] cyphar commented on #24
I just ran into this issue with this commit: https://github.com/cyphar/umoci/commit/13928308ae73f5132a6f3b27f260def66c715a29. Basically if you call `lstat` on AUFS with a whiteout path you get an `EPERM`. Which means that minor ordering issues like that commit fixes become permission issues and bugs.

[2016-11-14 22:31] stevvooe commented on #400
I've filed my take on name assertions in #445.

Again, you've hijacked the conversation with nonsense. I've closed #445.

Please refrain from commenting unless you have something valuable to add to the conversation.

[2016-11-16 20:21] stevvooe commented on #443
These seems more like a runtime concern and there are good reasons it is the way it is today.

The `Volumes` field is really only used to say "this part of the filesystem is not part of the container". How that is implemented and the permissions and behavior associated with it are specified by mounts. Even in the docker API, mostly named volume mounts don't use the `Volumes` field on the container

[2016-11-16 20:26] stevvooe commented on #441
I'm not sure I see the benefit of this.

Closing, per @vbatts.

[2016-11-16 20:26] #441 closed

[2016-11-16 20:34] stevvooe commented on #424
@WhisperingChaos "Classically", `history` has been a component of container images. The implementations embedded lineage directly in the format. However, these features come at great cost in distribution, security and runtime (I can elaborate on these costs if you don't agree the premise).

A much better system would maintain lineage externally to artifacts as they are built. Such a system would b

[2016-11-16 21:22] philips commented on #449
Agreed this is a dupe of #208.

[2016-11-16 21:22] #449 closed

[2016-11-16 21:23] WhisperingChaos commented on #424
@stevvooe

Yes - I agree, detailed lineage information should be available as a separate artifact from the resulting image, however, it would be helpful to encode a form of DNA (densely encoded, and small) within an image to identify each artifact in an image and the "mutations" between parents and offspring in runtime images.

As you discuss in your post, build time history incurs "great cost" to

[2016-11-16 21:24] philips commented on #443
I agree, I don't think this is a good feature. And even if it might be we need more people asking for it.

[2016-11-16 22:24] #436 closed

[2016-11-16 22:25] philips commented on #443
I am moving this to post v1.0

[2016-11-16 22:26] philips commented on #415
@RobDolinMS ping.

[2016-11-16 22:34] philips commented on #399
This field is already optional. I am going to close this.

[2016-11-16 22:34] #399 closed

[2016-11-16 22:34] philips commented on #435
@vbatts Are you taking this one?

[2016-11-16 22:52] stevvooe commented on #424
@WhisperingChaos We already have this DNA: the components of an image are content addressable. Links between components use these content addresses to maintain these relationships. Fields like ChainID, Parent, and DiffID provide this. To the casual observer, these may not look useful but, in fact, they provide the aspects of lineage that affect runtime.

However, as I stated above, encoding lineag

[2016-11-17 05:30] cyphar commented on #449
@philips It's not a dupe of #208. #208 was about `blobs/sha256/<the full digest>` rather than `blobs/sha256/<three byte>/<rest of digest>` (which is what this is about).

[2016-11-18 20:30] stevvooe opened #467 "Define image-related action nomenclature"
The image-tools repository has a few different terms that are being applied to image layouts that seems unintuitive or confusing. To ensure that tools have operational parity, it seems like a solid idea to define the terminology for this common operations.

Specifically, we should define the high-level terms for "unpack", "create", "pack" (?).

This will make it clear what functionality the specif

[2016-11-18 22:03] wking commented on #467
On Fri, Nov 18, 2016 at 12:30:13PM -0800, Stephen Day wrote:

+1 to defining these sorts of terms.

The spec already uses “applying changesets” [1] for the operation that
image-tools describes as “unpack”.  And it uses something like
“creating” [2] or “representing changes” [3] for the inverse.
(Un)packing sounds more specific to me, so I'm in favor of adopting
(and defining) (un)packing in the sp

[2016-11-19 18:53] vishvananda commented on #443
I'm not sure I follow your logic here. I'm not suggesting the image spec defines anything about what the runtime names the volumes. My goal here is for the builder of the image to specify locations in the image filesystem that represent a interfaces (either input-->config or output-->logs). The current definition is not rich enough. Either we need to put enough information into the image-spec so t

[2016-11-21 11:49] jonboulle commented on #449
@cyphar I guess in particular https://github.com/opencontainers/image-spec/issues/208#issuecomment-242398948 challenges the premise of this issue

[2016-11-22 07:49] cyphar commented on #126
[`umoci`](https://github.com/cyphar/umoci) is tooling that I've been working on, which will eventually be integrated into [KIWI](https://github.com/suse/kiwi) and [OBS](https://github.com/openSUSE/open-build-service) to allow for OCI images to built inside the Open Build Service.

[2016-11-22 16:25] jonboulle commented on #87
Re-opening this as the topic is still coming up in various contexts and it's nagging at me. Even if we don't define a process here, we should have some nod towards what users should do (e.g. given an image-spec compatible image how do I even start to think about ending up with a runtime-spec compatible bundle?)

[2016-11-22 16:29] cyphar commented on #87
For reference, I've implemented this in [`umoci`](https://github.com/cyphar/umoci/tree/master/image/generator) so maybe that would be a good source of inspiration? I feel like there's a few questions that you can't really give a nice answer to without knowing more about the context that the image is being used (like what `ExposedPorts` or `Volumes` should expand to).

[2016-11-22 17:57] wking commented on #87
#454 has a very small step in this direction, although to get something reliable / certifiable you'd probably need to specify how more runtime-config field are populated.

#451 avoids translation entirely, letting the image-spec tooling treat the config as an opaque blob.

[2016-11-24 13:51] qianzhangxa opened #471 "Is the value of "Labels" in image configuration required?"
Hi,

I see there is "Labels" field in image configuration:

So it is kind of string-string map like the "annotations" field in image manifest. In the spec of image manifest, I see it is clearly mentioned the value of each annotation must be present, but I do not see the similar statement in the spec of image configuration, so can anyone please let me know if the value of image configuration's labe

[2016-11-24 13:56] jonboulle commented on #471
That's not a valid JSON map - you need a `: value`. And "Value MUST be
strings" states that they, well, must be strings.

On 24 November 2016 at 14:51, Qian Zhang <notifications@github.com> wrote:

[2016-11-24 14:03] qianzhangxa commented on #471
Thanks @jonboulle for your reply, so that means similar with the annotations in image manifest, the value of the labels in image configuration must be present too, right?

[2016-11-24 14:05] jonboulle commented on #471
Yes.

[2016-11-24 14:05] #471 closed

[2016-11-29 21:00] stevvooe opened #475 "Clarify when non-distributable layer policies should be enforced"
This came up in this discussion: https://github.com/docker/docker/pull/28903#issuecomment-263696321.

For docker, the mediaType for a nondistributable layer is only enforced on push, leaving the mediaType ignored on pull. On pull, the `urls` field is used instead. While this specification doesn't define push and pull, we should clarify that it is important that these operations be only enforced on

[2016-11-29 22:22] vbatts commented on #440
I've just done something like this in https://github.com/opencontainers/image-spec/pull/438#issuecomment-263718993

[2016-11-30 08:12] jonboulle commented on #475
I'm not sure we want to be any more prescriptive than what's already in https://github.com/opencontainers/image-spec/blob/master/layer.md#non-distributable-layers but feel free to tweak the wording?

[2016-11-30 21:24] dgonyeo opened #478 "Labels field missing from exported struct"
https://github.com/opencontainers/image-spec/pull/371 added in the labels field to [this doc](https://github.com/opencontainers/image-spec/blob/master/config.md#properties), but didn't update the struct exported by this repo ([here](https://github.com/opencontainers/image-spec/blob/master/specs-go/v1/config.go#L18)) to include the new field. It should be added.

[2016-11-30 21:43] stevvooe commented on #475
@jonboulle If you read back to that issue, restrictive type checking on pull can lead to inflexibility. Something like:

Without saying "pushing" and "pulling". Perhaps, we can define these input and output operations as part of #467. This really falls in the camp of implementation wisdom, but that kind of thing is important for a complete specification.

Again, this is subtle and I may need help

[2016-11-30 22:08] philips commented on #389
@aecolley can you put up a PR? Moving this to rc4.

[2016-11-30 22:09] philips commented on #314
I am moving this to rc4 based on discussion on the mailing list that HTML and PDF isn't really the end goal as much as a top to bottom readable spec: https://groups.google.com/a/opencontainers.org/forum/#!topic/dev/XNreeSORPTQ

[2016-11-30 22:09] philips commented on #247
I am moving this to rc4 based on discussion on the mailing list that HTML and PDF isn't really the end goal as much as a top to bottom readable spec: https://groups.google.com/a/opencontainers.org/forum/#!topic/dev/XNreeSORPTQ

[2016-11-30 23:04] philips opened #479 "config: document how to translate image config into runtime config"
There are several fields in the OCI Image Config that directly translate to a fields on the Runtime Config. We should document how those fields translate.

The obvious ones:

- User
- Env
- Entrypoint
- Cmd
- WorkingDir

UX ones (used to help users but not automatically mapped):

- ExposedPorts
- Volumes

Optional as they depend on the user and largely shouldn't be dictated by image author:

- Mem

[2016-11-30 23:04] philips commented on #479
As discussed @wking @stevvooe

[2016-11-30 23:05] philips commented on #479
@cyphar could you take a swing at adding this language?

[2016-11-30 23:39] vbatts commented on #478
like https://github.com/opencontainers/image-spec/pull/460 ?

[2016-12-01 00:17] wking commented on #479
See also #454, which would set the required runtime-spec config version.

[2016-12-01 02:43] dgonyeo commented on #478
Oh hey there's a PR for this! Sorry, missed it before opening this. I'll close this then.

[2016-12-01 02:43] #478 closed

[2016-12-01 03:11] cyphar commented on #479
@philips Yeah, I'll give it a shot.

[2016-12-01 08:21] wking commented on #475
On Wed, Nov 30, 2016 at 01:43:11PM -0800, Stephen Day wrote:

‘urls’ is already pull-only [1]:

  This OPTIONAL property specifies a list of URIs from which this
  object MAY be downloaded.

which says nothing about uploading.

The nondistributable docs have “Typically” and “MAY” hints for
downloading from ‘urls’, and they leave the uploading
implementation-defined [2].

Reading over docker/docker

[2016-12-01 15:04] jonboulle commented on #475
@stevvooe I honestly don't know exactly what you'd like to see here - IMO the existing wording is pretty clear that they can be downloaded but probably-shouldn't-be uploaded. I do agree that we can further qualify those verbs though. In any case want to put up some strawman wording we can iterate on?

[2016-12-01 18:36] wking commented on #440
On Tue, Nov 29, 2016 at 02:22:18PM -0800, Vincent Batts wrote:

I don't see #438 (as it stands with 9b6dd3d3) adding annotations to
the descriptor type.  And I think that's one of the things @stevvooe
was proposing [1].

[1]: https://github.com/opencontainers/image-spec/pull/438#issuecomment-264023647

[2016-12-05 20:17] stevvooe commented on #475
I honestly thought the above was a solid strawman.

The implication here is that if you use urls for applying push policy, there are cases where the nondistributable policy applied will prevent usage of urls without nondistributable. Opposite to that, using the nondistributable policy for a layer type on pull, other than registering the type, will prevent systems from working where they choose not

[2016-12-07 20:08] stevvooe opened #482 "Clarify role of ChainID"
The OCI Image config document covers the calculation of the `ChainID` but it doesn't go into why this is useful or how to best leverage.

The best way to view it is a hash of ordering of applied layers.

Let's say we have layers A, B, C, ordered from bottom to top, where A is the base and C is the top. Defining `|` as a binary application operator, the root filesystem may be `A|B|C`. While it is i

[2016-12-07 20:35] wking commented on #482
On Wed, Dec 07, 2016 at 12:08:45PM -0800, Stephen Day wrote:

How about leaning on Python's slice syntax (since Go doesn't support
negative indexing [1]):

  ChainID(layers) = { DiffID(layers[0]), when len(layers) == 1
                    { SHA256hex(ChainID(layers[:-1]) + " " + DiffID(layers[-1])), when len(layers) > 1

Alternatively, you could use arrays (which have a fairly consistent
syntax ac

[2016-12-07 22:20] philips commented on #482
On the call I think everyone agreed to put this into github.com/opencontainers/image-spec/spec-go package.

[2016-12-07 23:49] jonboulle commented on #475
@stevvooe not really :-). Taken a stab in #483, ptal.

[2016-12-08 18:27] lizrice opened #485 "Suggestion: refer to label-schema.org for examples of label usage"
Over at [label-schema.org](http://label-schema.org) we've been reaching a consensus about some [common keys for container labels](http://label-schema.org/rc1/) which could be referred to by different tools.

I'm opening this issue to start a discussion about whether the OCI image spec could in some way reference label-schema - perhaps as an example of label key usage? If this is something folks ar

[2016-12-08 19:38] vbatts commented on #485
This SGTM. The conventions laid out in label-schema.org are completely compatible with both the labels in the OCI Image config.md, as well as annotations et al, and to my knowledge do not conflict anywhere.

[2016-12-08 19:57] jonboulle commented on #485
+1. Honestly I'd like to see this in the spec itself (of course always as
optional guidelines, never mandatory), but I suspect not all might agree
with that sentiment.

On 8 December 2016 at 11:38, Vincent Batts <notifications@github.com> wrote:

[2016-12-08 20:16] wking commented on #485
On Thu, Dec 08, 2016 at 11:57:08AM -0800, Jonathan Boulle wrote:

The spec already has a stub like this [1], and we may need to keep
critical keys in-spec (e.g. if we use one for naming [2]).  But I
think it's good to push as much as possible (including the ones we
define now [1]) to a separately versioned entity.  Then you can drop
an ill-conceived label (and major bump the label spec) without ha

[2016-12-12 18:21] cyphar commented on #479
I've done this in #492.

[2016-12-14 07:04] philips opened #493 "media types and descriptors, explain more deeply"
During last weeks call we discussed how the basic JSON objects in OCI shouldn't embed their own media types because they are not designed to be discovered or detected. Instead the media type should be declared explicitly in a descriptor and the contents verified via digest before interpretation.

This is a safety mechanism in the system so that people follow a strict flow of logic when interpretin

[2016-12-14 07:05] philips opened #494 "remove media type from config"
The config json has a media type which is a mistake carried over from the docker image format. As described in #493 descriptors should be the only object with a media type because the strict order of interpretation of objects in OCI should be descriptor -> digest -> verify -> interpret as media type.

xref #493

[2016-12-14 07:10] wking commented on #493
On Tue, Dec 13, 2016 at 11:04:19PM -0800, Brandon Philips wrote:

Isn't this being addressed in #411?

[2016-12-14 10:32] cyphar opened #496 "layer: make clear that diffs should not cross mountpoints"
From #492, I noticed that there was a concern about whether `Config.Volume`s should be included in layer changesets. IMO the answer is clearly no, but we have to make a bunch of other decisions:

1. Should layer changesets ever cross a mountpoint? My gut says no, but we need to make this explicit (and what mountpoint we should start at). There's also a platform-dependence issue.

2. While #492 is

[2016-12-14 11:01] wking commented on #496
On Wed, Dec 14, 2016 at 02:32:16AM -0800, Aleksa Sarai wrote:

I think we should start at the rootfs directory.  If somebody has
mounted something on top of that directory, we'd walk it.  So:

  {…, "Volumes": {"/": {}}}

might end up in a volume getting walked.  But unless something like
#407 lands we don't care about the empty-layers use case anyway.

Or we can accept that folks who provide Volu

[2016-12-14 17:42] RobDolinMS commented on #425
Sounds like @caniszczyk and I prefer examples first and @wking does not have a preference.

How do others feel?

[2016-12-14 21:10] stevvooe commented on #496
@cyphar From the perspective of the image spec, `Volumes` is really just a changeset mask. This is an odd way of looking at it but from an image, that is all it is, practice. I am not sure if we need anything other than "Children of the the volume should not be included in the changeset". Requiring some sort of mount/volume duality may be overbearing for the runtime.

As far as crossing mountpoint

[2016-12-14 21:20] wking commented on #496
On Wed, Dec 14, 2016 at 01:10:33PM -0800, Stephen Day wrote:

It isn't.  The tar archive will just hold the mount-flattened tree (or
as deep into that mount-flattened tree as you want to go, I think we
should stop after creating a stub file/directory to be a mount
destination).

[2016-12-14 22:21] caniszczyk opened #498 "Add "source" back in the OCI Image Manifest"
It looks like we dropped "source" as part of the "Pre-Defined Annotation Keys"

See this previous commit from @gregkh
https://github.com/opencontainers/image-spec/commit/88ef945196cc5d6b1e5249470fef752a06fa96e8#diff-bf8d9e5146f89ef0a8b9bf8cd1026901

I suggest adding "org.opencontainers.source" = "URL to get the source code for the binary files in the image (string, must be a URL with scheme HTTP o

[2016-12-14 22:37] gregkh commented on #498
I don't understand, what got "dropped"?

[2016-12-14 22:42] caniszczyk commented on #498
@gregkh unless I'm crazy, I don't see the mention of "source" in the current manifest schema:
https://github.com/opencontainers/image-spec/blob/master/manifest.md

[2016-12-14 22:48] gregkh commented on #498
@caniszczyk ugh, ok, let me dig through the git history to figure out who to go yell at!

[2016-12-14 22:50] gregkh commented on #498
Ah, found it, @duglin , you dropped source with your commit 873b9b64fda6eedc076e358d8c3a9056212dacb1 any reason why?

[2016-12-14 22:50] gregkh commented on #498
let me go add it back...

[2016-12-14 22:56] gregkh commented on #498
Now added back in PR #499

[2016-12-15 05:14] cyphar commented on #496
I agree with that way of wording it (mountpoints were not a good choice of wording) -- but from what I can tell there's nothing like that in the spec? Should I add it to `config.md` or `layers.md` or both?

Neither am I. Let's just drop it and focus on `Volumes`.

[2016-12-15 22:37] stevvooe commented on #496
@cyphar This probably belongs in `config.md`. Note that there is some behavior about how the volume content may be "copied up" from the layer. The masking effect is more about the _next_ layer created from a previous image from the volume.

[2016-12-17 06:52] cyphar opened #503 "layers: xattr handling is not well-specified"
So, while implementing `xattr` support in `umoci` (cyphar/umoci#54) I discovered that it's not actually clear how to handle unpacking of attributes. In particular, it's not very clear what we should be doing when an extended attribute is defined for a file that has had its metadata modified.

Imagine you have a file `foo` which had the `user.test` xattr set. In the next layer, this xattr is missin

[2016-12-17 06:53] cyphar commented on #503
Oh, in addition, we need to specify whether or not **all** xattrs should be included in a layer changeset. IMO we shouldn't be including `security.selinux` -- but some other xattrs might exist that cause us even more issues. My current solution (cyphar/umoci#54) is to just blacklist `security.selinux` pending further issues.

[2016-12-17 15:49] wking commented on #503
On Fri, Dec 16, 2016 at 10:52:04PM -0800, Aleksa Sarai wrote:

This is what the current spec calls for [1].  Here's GNU tar doing
just that:

  $ tar --version
  tar (GNU tar) 1.28
  …
  $ mkdir a
  $ echo foo >a/test
  $ setfattr -n user.foo -v foo a/test
  $ mkdir b
  $ echo bar >b/test
  $ setfattr -n user.bar -v bar b/test
  $ tar -cf test.tar -C b --xattrs .
  $ tar -tf test.tar --xattrs -vv

[2016-12-17 15:52] cyphar commented on #503
@wking

    the same xattrs of the layer (meaning that `user.test` will be
    removed).

just that:

No it isn't. Because doing an `unlink` and then adding xattrs will still mean you have a `security.selinux` xattr set on the file -- that's how SELinux works. But "match exactly" would require **removing** `security.selinux` if it's not set in the `tar archive`.

And it still doesn't help with lay

[2016-12-17 16:04] wking commented on #503
On Sat, Dec 17, 2016 at 07:52:48AM -0800, Aleksa Sarai wrote:

Fair.  The current spec calls for unlinking any pre-existing file,
that's what GNU tar does, and that's what we should do.  If you get
SELinux settings by doing that, you don't have to clear them.  I don't
think we need additional wording to cover the xattrs implications of
the already-specified unlink-and-replace wording.

Add a flag

[2016-12-17 16:12] cyphar commented on #503
and friends)?  I don't think there's a good way to make this call in
general.

The spec should at least provide some guidance. For example:

1. `user.*` MUST be included.
2. `security.capability` SHOULD be included.
3. `security.selinux` SHOULD NOT be included.

Those are the three that come to mind immediately. 2 is because otherwise `ping` will be broken everywhere except in Ubuntu (where `ping`

[2016-12-18 17:32] cyphar commented on #496
@stevvooe I've put forth some sample wording in #504.

[2016-12-19 21:42] wking commented on #498
On Wed, Dec 14, 2016 at 02:56:01PM -0800, Greg Kroah-Hartman wrote:

#499 landed, so this issue can be closed.

[2016-12-20 12:18] #498 closed

[2016-12-20 13:35] jonboulle commented on #503
agreed

I don't understand why they need to track this so specifically - can't they just naively apply the xattrs at every layer? (e.g using the remove/recreate method). Tying into the next point - are there "implicit" sets that would happen on some layers but not on others?

Who else set it? Isn't this a file tree that we (the implementer) are rendering from scratch? Do you have any examples of c

[2016-12-20 21:31] stevvooe commented on #485
I'm not sure that OCI should prefer one labeling schema over another. The image format is _not_ a packaging system and I don't think we should continue to push this idea. As it stands now, labels/annotations have been haphazardly added to the manifest with no thought to how they propagate, what they mean, provenance. Even worse, these get added to containers at runtime with no thought or care to t

[2016-12-20 22:38] wking commented on #485
On Tue, Dec 20, 2016 at 01:31:56PM -0800, Stephen Day wrote:

The mass is in the layers, which are below this metadata in all
proposals.  If a manifest changes because someone's annotated their
layer descriptors, it creates a new manifest blob, but that's not a
lot of CAS-backend bloat.

You certainly could put all of this in a CAS blob that pointed at the
manifest (or the manifest-list?  Or eithe

[2016-12-20 23:05] lizrice commented on #485
There are two independent things here that shouldn't be conflated: one, the security of distribution of metadata, and two, the semantics of the metadata itself. Label-schema doesn’t make any attempt to address the first of those.

There is a logically consistent position that says metadata has no place within the image, or that it should not be defined by the image spec. But as it stands today the

[2016-12-21 14:09] cyphar commented on #503
So do the removal and re-creation for every file in an image, even if the content hasn't changed? I mean ... that _could_ work fine (bit inefficient, but what can you do).0 The problem is not extraction but with generation -- how do I know which xattrs should I include in the next layer? Which ones did users set and which ones were implicitly set by the system? The way `umoci` solves this problem

[2016-12-21 14:25] jonboulle commented on #503
well, isn't the only way to represent an xattr change between layers by having a new copy of the file in the upper layer anyway?

Ah, now I get you. Yeah, I don't have a great answer (or at least one better than umoci's).

[2016-12-21 14:27] cyphar commented on #503
Sure, but implementations could optimise disk access by storing the checksums and then computing the checksum of `tar` as they read the data. If the checksum is the same, there's no need to update it. It's a small optimisation, but I'm just wondering if there's a way to define changes without cutting out the possibility for such optimisations.

[2016-12-21 14:35] jonboulle commented on #503
omg... I think by having this discussion we're already wasting more than this optimisation would ever save :-)

[2016-12-21 14:38] cyphar commented on #503
@jonboulle Micro optimisations are where it's at. :smile_cat: In any case, ultimately I think this should up to the runtime since the unpacking document already has the `unlink`+create wording. So I'll close this.

[2016-12-21 14:38] #503 closed

[2016-12-22 10:54] xiekeyang opened #508 "combinational image"
Hi all,

The purpose is to talk about improving the agile way of publishing image with cooperation between different departments.

For example, when some image, with many layer parts like applications, jvm, os, want to be published. Following current rules, it needs to generate and publish series of image, as:

* OS (base image)

* JVM (from OS)

* APP (from JVM, from OS)

This is from some consum

[2016-12-22 18:01] wking commented on #508
On Thu, Dec 22, 2016 at 02:54:15AM -0800, xiekeyang wrote:

Something like this idea has been kicked around before in #102 and
#190.  @stevvooe pointed out there [1], and I agree, that you can
support this use case by manipulating the ‘layers’ entry in the
manifest (and making the knock-on updates to ‘rootfs.diff_ids’ in the
config).

For example, say your OS image has layers A and B.  You work up

[2016-12-24 03:02] xiekeyang commented on #508
@wking

I might mostly understand after reading your comment. Maybe we should talk the detailed design principle later. Also I'd like to re-emphasize that:

Purpose of this issue might be some different to #102 and #109. This want to let teams publish their effort as image. Some effort might be just layer (as image patch), but it should (to be discussed) be published as image (with layer, manifest

[2017-01-06 01:40] stevvooe commented on #508
This has been suggested several times before and I'm getting a little exhausted explaining why this is a bad idea to do at the image layer but basically, this is the summary:

Composition should be a runtime concern. PODs are one example of this style of composition but there are others. This composition can even be shipped as a separate unit, but that might not necessarily be an OCI image.

[2017-01-06 07:03] xiekeyang commented on #508
@stevvooe thanks for your explain. I read the previous issues #102, #190, involving your comments inside.

Here I won't say my idea (composition image) is prefect, because it is against to immutable building. But we had better to consider the customers requirement. From previous issues, I think @vbatts and @philips might receive similar requirement.

Sometime developers just want to publish their

[2017-01-06 19:38] stevvooe commented on #508
@xiekeyang This is a great example of the unending scope creep that happens with software engineering. The format already supports the model for which you are asking. There is no need to add more half-baked bells and whistles to meet this use case.

[2017-01-06 19:50] wking commented on #508
Cross-referencing #424, which has some discussion of encoding lineage
using existing fields.  And for folks who address these use cases by
shuffling layers [1], the coming #501 will give you a convenient place
to store layer provenance for folks who want to do so.

[1]: https://github.com/opencontainers/image-spec/issues/508#issuecomment-268855458

[2017-01-17 01:54] xiekeyang commented on #508
I think #438 is including this requirement. Closed.

[2017-01-17 01:54] #508 closed

[2017-01-18 21:39] #475 closed

[2017-01-19 00:04] stevvooe opened #513 "Use go-digest rather than manually assembling digests"
There are instance, such as [here], where digests are being manually assemble. Now that we have a package to handle this tedium, let's employ it.

[2017-01-19 00:34] stevvooe commented on #494
Looks like #411 will close this.

[2017-01-20 23:11] #494 closed

[2017-01-20 23:15] stevvooe opened #517 "specs-go: Image.Created uses a string type"
We have a [time field](https://github.com/opencontainers/image-spec/blob/master/specs-go/v1/config.go#L75) that is a `string`. Let's help ourselves not make mistakes and make sure this is a proper `time.Time` or derivative type that does the right validation.

[2017-01-20 23:16] stevvooe commented on #517
Looks like https://github.com/opencontainers/image-spec/blob/master/specs-go/v1/config.go#L56 also has this issue.

[2017-01-24 23:37] runcom opened #527 "why the image-spec has a vendor directory?"
`runtime-spec` doesn't have it, it doesn't vendor anything at all. Right now, this is breaking code which uses the image-spec with stuff like:
[code]
I understand this is how golang works, but `image-spec` isn't going to work as a package this way..

@vbatts can we get rid of that vendoring altogether?

[2017-01-25 13:46] mtrmac commented on #527
Similar issue: https://github.com/docker/distribution/issues/2130 .

I’d prefer dropping the vendor directory, but if that were not acceptable, at least a `type Digest digest.Digest` somewhere in the non-`vendor` parts of the tree would make the type available for casts.

[2017-01-25 22:09] #440 closed

[2017-01-25 22:31] stevvooe commented on #415
@jhowardmsft @jstarks PTAL

[2017-01-25 22:32] stevvooe commented on #493
@philips Was there more we needed here?

[2017-01-25 22:34] stevvooe commented on #326
@vbatts Anything actionable here or can we close this?

[2017-01-25 22:35] stevvooe commented on #374
Closed by #438

[2017-01-25 22:35] RobDolinMS commented on #247
Per chat on OCI Dev ConCall, a partial (and sufficient) solution would be for a /img/ directory to be included with the release.  When the HTML spec is published, the /img/ directory should be published in the same location and the images will render.

[2017-01-25 22:36] stevvooe commented on #425
@RobDolinMS Do we have a PR for this?

[2017-01-26 02:49] xiekeyang commented on #374
closed by #438

[2017-01-26 02:49] #374 closed

[2017-01-26 19:25] #389 closed

[2017-01-26 19:35] vbatts commented on #247
two things @RobDolinMS
* @wking's idea of an HTML `<base>` tag works fine, and will fetch the images from the tagged version on github. I've manually updated the RC3 and RC2 html documents with this approach.
* I, or someone, will take a stab at a PR to get this in the `make docs` target so it is not a manual process.

For posterity, it is adding to the top of the *.html file:
[code]
and to the ta

[2017-01-26 21:26] stevvooe commented on #527
@mtrmac @runcom Do your vendoring tools not remove subvendoring?

[2017-01-26 21:28] stevvooe commented on #517
Not that the default `time.Time` is sufficient here, since it [uses rfc3339](https://golang.org/src/time/time.go?s=26891:26934#L918).

[2017-01-26 21:29] runcom commented on #527
@stevvooe we use vndr (used is docker projects as well). The point is not what _we_ use. The point is that packages other than the "main" one shouldn't have a vendor folder _at all_ to me.

[2017-01-26 21:58] jlbutler commented on #517
I'm working on this.

[2017-01-27 05:04] dklyle opened #535 "HACKING Go prerequisite wrong"
HACKING.md lists the required version for Go as >= 1.5  The tests are however using testing.T.Run() which was only added in Go 1.7. The prerequisite needs updating to avoid confusion.

[2017-01-27 09:32] mtrmac commented on #527
If a library expects all its consumers to remove its vendored dependencies, then presumably the library does not care _which version_ of those dependencies are used when the library is used in a consumer; in that case the library might just as well not vendor the dependency at all.

(Or, well, perhaps the library expects all its consumers to remove its vendored dependencies, and then vendor _exact

[2017-01-27 20:40] #427 closed

[2017-01-27 20:44] #527 closed

[2017-01-27 20:47] #535 closed

[2017-01-27 22:43] philips commented on #126
Amazon Elastic Container Registry (ECR) has added support to pull OCI images.

https://aws.amazon.com/about-aws/whats-new/2017/01/amazon-ecr-supports-docker-image-manifest-v2-schema-2/

https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-manifest-formats.html

[2017-01-29 12:23] runcom opened #541 "Stop signal"
Who is going to define the stop signal for a container? Is this an image thing or a runtime thing?

[2017-01-29 23:00] wking commented on #541
On Sun, Jan 29, 2017 at 04:23:06AM -0800, Antonio Murdaca wrote:

I think it's a runtime thing, since it's sent from the runtime to the
container process.  Why would it be an image thing?

And I've tried to clear up some of the currently-ambiguous spec
wording [1] in opencontainers/runtime-spec#513 by requiring POSIX
signals for platforms that support them [2].

[1]: https://github.com/opencontain

[2017-01-29 23:18] runcom commented on #541
In the Docker scherma for the config,  it's an image thing. Hence this question.

[2017-01-29 23:18] runcom commented on #541
And right now, it's both missing in image and runtime under OCI? Or am I blind?

[2017-01-29 23:32] wking commented on #541
On Sun, Jan 29, 2017 at 03:18:49PM -0800, Antonio Murdaca wrote:

It's not in the image spec:

  image-spec$ git grep -i signal v1.0.0-rc3
  …no hits…

The runtime spec currently has very vague “MUST send the specified
signal” [1].  The opencontainers/runtime-spec#513 language I linked
earlier is:

  * *`--signal <SIGNAL>`* The signal to send (defaults to `TERM`).
    The runtime MUST support `TER

[2017-01-30 14:33] vbatts commented on #517
#534 is merged

[2017-01-30 14:33] #517 closed

[2017-01-30 19:44] stevvooe commented on #541
This should have been picked up from docker config: https://github.com/docker/docker/blob/master/api/types/container/config.go#L59.

Feel free to PR the addition.

[2017-01-30 19:51] runcom commented on #541
But that is "container config" in docker, is that still OK to move that field in config? I'm making a pr as we speak though.

[2017-01-30 19:52] runcom commented on #541
Nevermind I see it's in the image config.

[2017-01-30 20:03] stevvooe commented on #541
@runcom I didn't see it in the OCI specification. Is it there?

[2017-01-30 20:12] runcom commented on #541
Nope, I'll add it, sorry for the confusion.

[2017-01-31 13:16] #513 closed

[2017-01-31 14:52] vbatts commented on #326
@stevvooe it's still a nice-to-have, but not something that is a formal release step.

[2017-01-31 14:52] #326 closed

[2017-01-31 15:23] vbatts commented on #247
opened a PR for this

On Wed, Jan 25, 2017 at 5:35 PM, Rob Dolin (MSFT) <notifications@github.com>
wrote:

[2017-01-31 15:24] vbatts commented on #493
@stevvooe are we going to strip/make-OPTIONAL `mediaType` on everything except for descriptor objects?

[2017-01-31 18:10] stevvooe commented on #493
This is the plan. Most are reserved fields.

Did you we need implementation direction for descriptor usage here? I am not sure what is actionable on this issue.

[2017-01-31 18:38] vbatts commented on #493
right on.

On Tue, Jan 31, 2017 at 1:10 PM, Stephen Day <notifications@github.com>
wrote:

[2017-02-01 13:21] philips commented on #493
@stevvooe I think what needs to happen is an entry in the descriptor spec about how this is the only place mediaType should appear and removal of mediaType from other objects as necessary.

[2017-02-01 15:36] wking commented on #493
On Wed, Feb 01, 2017 at 05:21:04AM -0800, Brandon Philips wrote:

Hasn't this already happened between #411 (and the follow-up #531)?
Or are you interested in dropping the reserved-field entries [1,2]?
Or are you interested in dropping the context based,
descriptor-mediaType value restrictions [3]?

I'm fine with dropping the reserved fields.  But I think dropping the
context based value restricti

[2017-02-01 22:42] vbatts commented on #314
This google doc is not longer readable. We've done stuff to improve in this area. I'm going to close this particular issue, and folks can open issues/PRs for specific improvements.

[2017-02-01 22:42] #314 closed

[2017-02-03 22:49] stevvooe commented on #129
@vbatts Do the recent changes to manifest list cover this? Things like appstream definitely fit in here.

[2017-02-04 00:54] wking commented on #467
I've taken a stab at this in #554.

[2017-02-06 20:23] stevvooe opened #557 "Revert #410"
https://github.com/opencontainers/image-spec/pull/410

`omitempty` has nothing to do with REQUIRED vs OPTIONAL fields.

[2017-02-06 20:30] wking commented on #557
Cross-linking earlier discussion in #553.

[2017-02-06 20:52] philips commented on #557
@stevvooe in #553 you are saying we should omitempty everywhere. So you would be ok with #410 if it was just doing omitempty but didn't mention optional/required?

[2017-02-06 22:20] stevvooe commented on #557
@philips We should not emit fields that contain zero-values. It's wasteful and distracting.

There are certain exceptions, but, in general, use of `omitempty` should be the rule.

[2017-02-06 22:45] wking commented on #557
On Mon, Feb 06, 2017 at 02:20:19PM -0800, Stephen Day wrote:

If the exceptions are “when the zero-value is valid” (based on [1]).
Then:

  $ git grep '^        [A-Z]' specs-go/ | grep -v omitempty

turns up the following fields (in master, as of ed18de10) which could
pick up omitempty:

* RootFS.type (REQUIRED, MUST be ‘layers’)
* RootFS.DiffIDs (REQUIRED, corresponsed to manifest's ‘layers’ whic

[2017-02-08 07:58] stevvooe commented on #557
I'm sorry but I misread #410.

For the most part, we should be using `omitempty` except in specific circumstances.

Closing this now. Apologies.

[2017-02-08 07:58] #557 closed

[2017-02-09 02:38] vishvananda opened #562 "v1.Manifest is no longer compatible with docker"
I think this was intentional, but I wanted to verify since this changed between rc3 and rc4.

Now that v1.Manifest no longer has a self describing MediaType associated with it, it is incompatible with the docker layout for manifest. This means converting back and forth is a bit trickier. Given an oci manifest origManifest, converting it to docker format (so you can upload it into a v2 registry, fo

[2017-02-09 20:39] vbatts commented on #562
@stevvooe what's your position on the `mediaType` field not being present in this files (being marked as reserved)

[2017-02-09 21:23] stevvooe commented on #562
This removal is intentional. The field has only served to cause massive confusion, of which this issue is an example. The format was never meant to be self-describing nor is it so support autodetect. Doing so is both insecure and broken. To understand this, compare the usage of the mediatype field you are pointing out with the descriptor usage around it. It is not supposed to be there.

The main g

[2017-02-09 21:23] #562 closed

[2017-02-10 01:39] #409 closed

[2017-02-10 21:32] stevvooe commented on #482
@vbatts Where should this specification language land? It seems like it would belong in unpacking considerations, as well as the definition for config. Any suggestions?

[2017-02-13 07:50] AkihiroSuda commented on #449
This seems not a dupe of #208.

Even though pulling operation should never call `getdents(2)`, pushing may call `getdents(2)` depending on the distribution protocol and its implementation, and likely to result in poor performance.

Also, there can be 3rd party tools (e.g. malware scanner, back-up) that are not aware of OCI manifest.

Can we reconsider this issue?

[2017-02-13 08:30] AkihiroSuda commented on #449
Since the layout of `blobs/<algo>` can be no longer changed, we might need to come up with some alternative layout.

Some my ideas and pros/cons:

1. `blobs-sharded/<algo>/<prefix>/<digest>`
Pro: Does not contaminate the existing `blobs` directory
Con: Maybe it is confusing to have two blobs directory? (`blobs` and `blobs-sharded`)

2. `blobs/<algo>-sharded/<prefix>/<digest>`
Pro: Single blobs dir

[2017-02-13 09:07] AkihiroSuda commented on #415
* some notes about sockets, block devices, char devices, and FIFOs seem needed
* It should be clarified that the content of rootfs is extracted under the root of the `%SystemDrive%`?
(Is there any standard about `%SystemDrive%`? Is it guaranteed to be always `C:`?)

[2017-02-13 09:07] AkihiroSuda commented on #415
PTAL @jhowardmsft @jstarks

[2017-02-15 22:40] vbatts opened #573 "Technical-proposal needed for compliance and certification"
Ref https://github.com/opencontainers/image-spec/pull/452#issuecomment-280160707

The changes for validation need to have a bit of guidance as to the nature of the compliance validation.
This would ideally be a product from the cert and compliance working group to ensure validation of OCI image artifacts satisfies the requirements.

[2017-02-15 22:41] vbatts commented on #573
cc @opencontainers/certification-maintainers

[2017-02-15 23:21] wking commented on #573
On Wed, Feb 15, 2017 at 02:40:57PM -0800, Vincent Batts wrote:

In opencontainers/image-tools#66, I floated “strict” (only contains
OCI-defined content) and “base” (only contains content which the
image-spec REQUIREs unpackers to support) levels for compliance
testing.  Both of those are more restrictive than a “legal” level
(content does not violate any MUST-level image-spec requirements).

Anoth

[2017-02-17 08:50] AkihiroSuda opened #577 "CAS in the granularity of file"
**EDIT:** update: POC available: https://github.com/opencontainers/image-spec/issues/577#issuecomment-298979714 (May 4, 2017)
- - -
I'd like to propose an alternative image layer format that is content-addressable in the granularity of file, rather than in the granularity of tar.
(Of course not proposing for image-spec v1.0.0 :-), just a baby step toward the future spec)

This is a continuation of

[2017-02-17 08:50] AkihiroSuda commented on #577
My answers to @cyphar 's questions at ML ( https://groups.google.com/a/opencontainers.org/d/msg/dev/ocsaii6-P0k/0QcwrF3wCgAJ )

A continuity layer and traditional tar layer can be composed together.
So you can put many small files into a single traditional tar.

So, I intentionally omitted distribution method from my proposal. :smile:

Please elaborate?
Isn't it just achieved by parsing continuity

[2017-02-17 09:11] cyphar commented on #577
@AkihiroSuda

Yes you're right. I misunderstood your initial proposal as being effectively "put links where blobs used to be so that you fetch everything". What you're actually proposing is that we have another level of manifest (continuity or whatever else) and then you still use the old blob store but store many more blobs inside it. For `skopeo` (or eventually `umoci pull`) this would involve s

[2017-02-17 19:48] wking commented on #577
On Fri, Feb 17, 2017 at 12:50:16AM -0800, Akihiro Suda wrote:

IPFS-the-ecosystem is build out of several layers [1].  The data
model, which is distribution agnostic, is only one of those layers
(and the IPFS folks are in the process of peeling it off into a
stand-alone spec with IPLD [2]).  The (poorly documented) filesystem
model is *another* layer on top of the generic IPLD framework [3].  If
t

[2017-02-22 08:48] #541 closed

[2017-02-23 07:36] cyphar opened #581 "index.json: make org.opencontainers.ref.name unique?"
While trying to implement `index.json` parsing in `umoci` I've come to a bit of a worrying realisation. There isn't really any explanation of how cases where `org.opencontainers.ref.name` is not unique should be handled. While I understand the case where you have multiple `application/vnd.oci.image.manifest.v1+json` descriptors with different `platform` entries (though I think that doesn't make se

[2017-02-23 08:50] qianzhangxa commented on #581
Do we have `platform` in `application/vnd.oci.image.index.v1+json` itself? I think we only have it in `application/vnd.oci.image.manifest.v1+json` descriptor.

[2017-02-23 18:04] wking commented on #581
On Wed, Feb 22, 2017 at 11:36:15PM -0800, Aleksa Sarai wrote:

In #533, @stevvooe and @vbatts explicitly discussed multiple entries
with one name but different platform information [1], so you can have:

  index.json → platform-appropriate-manifest

With unique names, you'd need:

  index.json → multi-platform-index → platform-appropriate-manifest

Of course, without clear platform matching (or ot

[2017-02-23 18:14] stevvooe commented on #581
There should be no validation of annotation data.

Either way, the platform dispatch case is why you would want manifests with different names.

@cyphar I may be misunderstanding something. Could you provide an example of the data structures you think should be invalid? `application/vnd.oci.image.manifest.v1+json` should not have multiple manifests.

[2017-02-23 23:01] cyphar commented on #581
@stevvooe Can you explain how a tool like `umoci` should handle the following `index.json`?

[code]

When a user asks to do something with the `some-tag` tag?

Even if you say "well, that's not defined by the spec" then how is something like this meant to be handled -- which is something I'm quite concerned about because it starts combining the `index.json` layer with the `ManifestList` (now `Imag

[2017-02-24 05:56] qianzhangxa commented on #581
What about we just remove image index from image layout and only have manifest descriptors in `index.json`? I think the main use case of image index is multi-platform support, but essentially `index.json` is an image index which already gives us the ability to support multi-platform, so I do not think two-levels image index is necessary. And then I think in an `index.json`, each `org.opencontainer

[2017-02-24 08:41] cyphar commented on #581
@qianzhangxa Two levels of indirection give you many benefits -- the most obvious of which is that you can have multiple tags that reference the same multi-architecture image. And the multi-architecture image is part of the CAS, which gives you a lot of other benefits.

In my opinion, `index.json` should be as **dumb** of a store as is physically possible. While I understand the need for `Manifest

[2017-02-24 14:39] qianzhangxa commented on #581
@cyphar Can you please elaborate a bit more about "multiple tags that reference the same multi-architecture image."? Did you mean the case that two tags (e.g., `latest` and `v2.0`) reference the same image index?

[2017-02-25 00:06] cyphar commented on #581
@qianzhangxa Sorry, I misspoke. What I meant was (and if you look at my example you'll see what I mean) was

Basically, the problem with the current state of `org.opencontainers.ref.name` is that there is no single unambiguous way of deciding what manifest is being referenced by a given tag. Which means that as it stands, tagging is effectively **broken**.

[2017-02-25 01:35] stevvooe commented on #581
@cyphar In general, the proposal to validate the contents of annotation field is a non-starter. Annotations are functionally meaningless from the point of the view of the specification. It is up to the consumer decide how to present the data. If the tool doesn't reflect the properties of the data structure, then the tool is broken.

umoci can make its own determination about how to handle this cas

[2017-02-25 03:15] cyphar commented on #581
@stevvooe But we **do** define what are valid values for annotations. Annotations in the `org.opencontainers.*` namespace are reserved by us and we have the right to specify how they should be used. Nothing is stopping a third party from making their own tagging system with annotations.

What is the "standard platform matching algorithm" -- and how am I meant to run said algorithm if `umoci` is **

[2017-02-25 03:22] cyphar commented on #581
And to make the point more clear, the current CAS interface for `umoci` is this:

[code]

How do you propose that I change the `ListReferences`, `PutReference` and `GetReference` interfaces to facilitate this ambiguity and platform matching code?

[2017-02-25 09:07] coolljt0725 opened #584 "`image-spec/img/build-diagram.png` need to rebuild after `manifest-list -> image-index `"
The `build-diagram.png` still has `manifest list` , we should change it to `image index`
ping @philips

[2017-02-25 13:46] qianzhangxa commented on #581
@cyphar But why is this a benefit? Won't cause ambiguity? E.g., if there are two same tags in the `index.json` reference two different image index, then for the runtime to pull the image based on that tag, which one should it pull?

[2017-02-26 05:34] cyphar commented on #581
@qianzhangxa **It isn't a benefit, my point is that the current system allows this and it shouldn't.**

[2017-02-26 12:40] qianzhangxa commented on #581
@cyphar I agree. I guess I misunderstood your previous comment.

[2017-02-27 09:05] cyphar commented on #581
@qianzhangxa I misspoke in that comment, and I corrected it [here](https://github.com/opencontainers/image-spec/issues/581#issuecomment-282438998). Sorry for any confusion.

[2017-02-27 22:53] stevvooe commented on #581
@cyphar

From what I said:

In general, it looks like the interface doesn't represent the underlying data structure. For your interface, it expects unique references. Upon encountering duplicates, it should error out. If you want it to be more flexible, return multiple descriptors for each name and don't error out. This is your choice as an application developer.

It is somewhat implied by the giv

[2017-02-28 13:32] cyphar commented on #581
@stevvooe

My problem with this is that now you're effectively punting reference resolution to the caller of the CAS, because of this ambiguity and mixing of different restrictions of whether it is valid to return a particular descriptor (such as the `platform`). Which all means now that different implementations will have incompatible implementations of reference resolution and the original "feat

[2017-02-28 15:01] qianzhangxa commented on #581
I agree with @cyphar, currently I am working on OCI image support in Mesos, I need to parse and pull OCI image, basically I am not sure what is the best/standard way to handle the case that there are duplicated `org.opencontainers.ref.name` in `index.json`, I think we need to make it clear in the spec.

[2017-02-28 21:35] stevvooe commented on #581
@cyphar Calling this "punting" or "incompatible" is absolutely ridiculous. You are making up issues where there are none. It is not a free-for-all and the incompatibilities you are speaking to are based on assumption over fact. As I have said, the ability to have the same tag pointing to multiple things is a feature, not a bug.

__Please avoid the histrionics and actually try the approach I sugges

[2017-02-28 22:00] wking commented on #581
On Tue, Feb 28, 2017 at 01:35:10PM -0800, Stephen Day wrote:

While this is fine for an API, @cyphar made a good point about compat
issues [1] that you are not addressing here.  Say @cyphar's
imagination takes him down (1) for his index API and umoci, but the
Docker devs' imagination takes them down (2).  Now an innocent user
builds an image with umoci that has multiple descriptors with the same
o

[2017-02-28 22:25] crosbymichael commented on #581
How is this even a concern of the spec?  If ref name was important to the spec it wouldn't be in annotations.  I thought across the board, annotations are opaque to the specs( runtime and image ) so why would you even encode anything in there for general consumption?

Whats the point in having a type safe spec and scheme if you are just going to add things in a generic object?

[2017-03-01 02:48] cyphar commented on #581
@stevvooe I still don't see why this dereference walk:

[code]

Is a good feature when this would be possible if `refs.name` was unqiue (and was possible pre-`index.json`):

[code]

Maybe you can explain to me what feature you get out of the first walk that you don't get in the second one? I'm sure there was a good reason for this, but

I already have a branch in umoci (not pushed yet) with the ap

[2017-03-01 02:50] cyphar commented on #581
@crosbymichael

While that's all well and good, users need to be able to reference things inside an OCI image. It's just silly to say that users are on their own if they want to be able to talk about what thing inside an OCI image they are referring to.

We have restrictions on other annotations (since they're JSON strings but the content is meant to be a different type). I'm not sure I understand

[2017-03-01 18:56] crosbymichael commented on #581
https://github.com/opencontainers/image-spec/blob/master/annotations.md

That makes it clear to me that they are arbitrary fields and values and its up to the consumers to handle the keys/values appropriately.

If there is a possibility that users can have duplicate values then just have the consuming code handle that and don't make a naive assumption that the values of the field will be unique.

[2017-03-01 22:31] erikh commented on #581
Maybe this seems like a dumb idea and I hope it's ok if I jump in, but
what's the reason that the name couldn't be made first-class?

On Wed, Mar 1, 2017 at 10:56 AM, Michael Crosby <notifications@github.com>
wrote:

[2017-03-01 22:35] stevvooe commented on #581
what's the reason that the name couldn't be made first-class?

This was a mistake made in Docker schema1 and we'd like to avoid repeating history.

This really isn't as complicated as @cyphar is making it out to be. The problem is that his code doesn't match the properties of the data structure. This problem is going to come up whether or not we make the `ref.name` unique. The correct solution is

[2017-03-01 23:06] stevvooe commented on #581
Per discussion on the OCI call, we are going to follow this up with further implementation notes detailing the degrees of freedom in the datastructure and implications of UX design on compatibility between tools.

@cyphar Please open an issue, assigning it to me, for what you are looking for and we'll close this when we have agreed on the body of work.

[2017-03-01 23:29] cyphar opened #588 "index.json: improve implementors note to better represent algorithms necessary"
As discussed in the OCI call, currently the implementors note for `index.json` doesn't fully encapsulate the reason for the more complex `Index` data structure and the ways in which implementations should handle the `n`-tall tree that it can represent.

The main points that need to be clarified are:

* That the UX for selecting what manifest is being operated on is _not_ defined by the spec, and t

[2017-03-07 16:37] lucab commented on #581
Partially related, as per -rc5 (after https://github.com/opencontainers/image-spec/pull/561) the following are all valid refs:
 * "" (empty string in the value field, also different from a nil value or missing `ref.name` annotation)
 * `../`
 * `<marquee />`
 * `$(foo)`
 * `' --`
 * `\n`

If an "implementation notes" doc is in the work, this may get some words covering the processing and compatibi

[2017-03-07 19:28] #584 closed

[2017-03-07 19:30] caniszczyk opened #590 "Consider adding more maintainers to the image-spec"
re: @stevvooe response on the mailing list

If I look at contributors: https://github.com/opencontainers/image-spec/graphs/contributors

@runcom and @xiekeyang may be good choices based on contributions

[2017-03-07 23:39] crosbymichael commented on #590
We also need to look at removing existing maintainers that are not contributing anymore.  Its not good enough to just add more.  Alex is a stand up example for when you can no longer perform your duties as a maintainer, you just step down.

I think we have some on the runtime/runc side that have not contributed or voted on anything within 6mo or more or are not sharing the load of work that need t

[2017-03-08 00:16] caniszczyk commented on #590
@crosbymichael sgtm, give me some time to look at the stats via oci.biterg.io to at least issue a report, I don't think we should automatically remove people but maybe ask them every 6-12 months if they become historically inactive

[2017-03-08 00:33] crosbymichael commented on #590
@caniszczyk yes, we shouldn't blind side anyone and ideally people just step down when they cannot fulfill the responsibilities but we have rules for removal:

https://github.com/opencontainers/runc/blob/master/MAINTAINERS_GUIDE.md#what-is-expected-of-maintainers

It does not have to be something negative or looked down upon.

[2017-03-08 02:39] coolljt0725 commented on #590
@caniszczyk   If possible, I'm volunteer to be a maintainer and to help move this project forward  :)

[2017-03-08 02:46] xiekeyang commented on #590
@caniszczyk Appreciate your recommendation! I'm so happy to become image-spec maintainer. And I would like to make more research and contribution for this project.

[2017-03-08 08:16] runcom commented on #590
:+1: from me

[2017-03-08 13:57] jonboulle commented on #590
as well as the existing suggestions I'd like to nominate @cyphar if he's interested.

[2017-03-08 16:29] #482 closed

[2017-03-08 17:32] caniszczyk commented on #590
Simply based on contribution history, these three folks make a good fit:

* @runcom
* @xiekeyang
* @coolljt0725

Do the @opencontainers/image-spec-maintainers want to call for a vote?

After folks are added, I can reach out to some of the inactive maintainers and ask them if they still want to be listed as a maintainer.

[2017-03-08 19:02] vbatts opened #596 "Master is failing"
https://travis-ci.org/opencontainers/image-spec/builds/209076959
[code]

assigning this to myself to get pandoc playing nice with the characters introduced in @stevvooe chainID PR

[2017-03-08 19:18] vbatts commented on #467
so we want to go with "pack" and "unpack" vs "create" and "apply"?
honestly, cleaning up the current wording is a separate task from switching to new terms. These new terms are more confusing in the sense of sounding like regular tar archives, which they aren't.

[2017-03-08 19:51] stevvooe commented on #596
This is definitely from #586. Apologies.

[2017-03-08 19:56] vbatts commented on #596
@stevvooe it's cool. rather than fix the characters, i'm working on adding the deps needed for xelatex and update pandoc

[2017-03-08 21:18] wking commented on #467
On Wed, Mar 08, 2017 at 11:18:56AM -0800, Vincent Batts wrote:

I don't think you need new words to distinguish from regular tar
archives.  (un)packing can be generic words that apply to any media
type (which is what I'm aiming at in #554), and how they are
implemented should clearly (I hope) depend on the media type being
handled.  Is there a reason to expect the application/x-tar algorithms
to a

[2017-03-08 21:47] stevvooe commented on #590
@caniszczyk Before adding new maintainers, I think we need to give the current maintainers a chance to respond on the issue of absenteeism. The problem I called out on the mailing list was not that we don't have enough maintainers; the problem is that the existing maintainers aren't reviewing submissions.

I can see this broken down into two problems:

1. Not enough maintainers to review existing

[2017-03-08 21:49] stevvooe commented on #588
Based on my research over the last week, I think we can address this by pulling up the platform descriptions into the descriptor to get rid of the type hierarchy of descriptors which is awkward. This is a Go type change and a slight reorganization of the types definition which is completely compatible, but it would be nice to have that correct for 1.0.

Let me know what you think about this or if

[2017-03-08 22:06] #596 closed

[2017-03-08 22:19] vbatts opened #598 "github bots could help workflows"
https://github.com/icecrime/poule is an option

[2017-03-08 22:26] RobDolinMS commented on #435
@vbatts Would you want to take this one?

[2017-03-08 22:32] erikh commented on #598
Ideas:

* reminder features for when things are inactive for a while
* "discuss this item" -> label a ticket for the next agenda meeting

[2017-03-08 22:49] erikh commented on #598
* bot requires PRs reference open issues

[2017-03-08 22:59] stevvooe opened #599 "spec: define charset for "org.opencontainers.ref.name""
Currently, there is no restriction on the character set for reference names. We'll need something open but define some common bounds to make this.

I suggested restricting this to the URI character set, in https://github.com/opencontainers/image-spec/pull/591#issuecomment-285153069.

Problem called out in #591.

[2017-03-08 23:03] stevvooe commented on #599
cc @q384566678

[2017-03-08 23:14] cyphar commented on #588
I agree with moving platform to descriptor annotations (now that we have them). Though we still would need to add some implementor notes about how they are expected to handle the hierarchy of annotations that you could run into and that the recommended referencing implementation would involve effectively tag matching (more of a search engine and less of a simple dereferencer).

I've been working o

[2017-03-08 23:27] stevvooe opened #600 "spec: namespace image-spec labels with "org.opencontainers.image""
When labels from images land elsewhere through propagation, it is hard to tell their source. Let's add `.image` to annotation prefix to make it clear when a label is part of an image.

Please see https://github.com/opencontainers/image-spec/pull/492#discussion_r105034418 for the original issue.

cc @cyphar @vbatts

[2017-03-08 23:31] stevvooe commented on #588
I think we'd have to support both platform field and annotations, in practice, but the simplification seems straightforward.

I'll see if I can look deeper into platform qualified pull to give some better guidance here, as promised.

[2017-03-09 05:21] erikh commented on #598
* bot auto-closes issues that have not seen discussion in X time

[2017-03-09 08:02] qianzhangxa commented on #588
@stevvooe Did you mean adding `Platform` into `Descriptor` as its field and then we do not need `ManifestDescriptor` anymore?

And could you please provide more details about why it can address this issue (e.g., how to handle duplicated `org.opencontainers.ref.name` in `index.json`)?

[2017-03-09 08:13] cyphar commented on #600
:+1:

[2017-03-09 11:00] xiekeyang commented on #588
@cyphar

Could you please put up some possible examples of `complex index data struct`? Actually I'm interest the experimental usage of index.

If it means the contents(config+layers) in one manifest might be not operable? Instead, manifests in one index can be combined and run a container according to customized order?

[2017-03-09 13:56] vbatts commented on #435
https://github.com/opencontainers/image-spec/pull/545 addresses this

[2017-03-09 13:59] #247 closed

[2017-03-09 13:59] #435 closed

[2017-03-09 14:39] vbatts commented on #599
cc @alexlarsson, would the URI character set work for you as well?

[2017-03-09 14:55] jonboulle commented on #599
To be very explicit, is this a change in direction from the position expressed [here](https://github.com/opencontainers/image-spec/issues/581#issuecomment-282074320) and [here](https://github.com/opencontainers/image-spec/issues/581#issuecomment-283434330)?

[2017-03-09 16:01] vbatts commented on #406
@wking I read this, and am not real clear on the point? I'm inclined to close this as I feel like I haven't heard how it's critical for v1 considering.

[2017-03-09 16:17] vbatts commented on #600
i like the provenance, though does this include the reference to that image's manifest digest as well?

[2017-03-09 16:22] vbatts commented on #246
Is this still needed? I just read over the FAQ again, and while the second entry could have a Q more like "Isn't this the same as the runtime-spec", I feel like the A is mostly fine. I'm tempted to just close this issue for now.

[2017-03-09 16:23] vbatts commented on #126
I think this is good. Perhaps best to have a wiki page or similar for listing these things.

[2017-03-09 16:24] vbatts commented on #126
oh we've disabled wiki. fair... perhaps just close this and folks can add comments if they feel inclined? Seems like it ought to be tracked somewhere, but not keeping this issue open indefinitely

[2017-03-09 16:36] caniszczyk commented on #246
also as an FYI we did an extensive update of the FAQ on the website recently: https://www.opencontainers.org/faq

[2017-03-09 16:38] vbatts commented on #59
@vishvananda I think this can be down now with the image-layout, and an index (old manifest-list). I'm inclined to close this issue out.

[2017-03-09 16:42] vbatts commented on #129
@stevvooe i think so too. closing

[2017-03-09 16:42] #129 closed

[2017-03-09 16:48] vbatts commented on #396
cc @erikh has mentioned adding support to [box](https://github.com/erikh/box)
I think this issue is able to be closed

[2017-03-09 16:51] vbatts commented on #246
so should we just point to that and be done with this?

[2017-03-09 16:52] vishvananda commented on #59
Yeah custom metadata in the index should work. That was my plan. I haven't
tested it but I don't see any reason. Why it shouldn't.

On Thu, Mar 9, 2017, 8:38 AM Vincent Batts <notifications@github.com> wrote:

[2017-03-09 16:54] vbatts commented on #59
fixed by https://github.com/opencontainers/image-spec/pull/533

[2017-03-09 16:54] #59 closed

[2017-03-09 16:56] vbatts commented on #424
@stevvooe related to https://github.com/opencontainers/image-spec/issues/600 ?

[2017-03-09 17:19] caniszczyk opened #603 "Check up on maintainers absenteeism and desire to be a maintainer"
via @stevvooe :

Hey @opencontainers/image-spec-maintainers if you desire to continue to be a maintainer with the time commitments expected, please let us know. I'll leave this issue open for a couple of weeks to get feedback before we decide to add more maintainers:

https://github.com/opencontainers/image-spec/issues/590#issuecomment-285179960

[2017-03-09 17:21] caniszczyk commented on #590
@stevvooe SGTM! I created https://github.com/opencontainers/image-spec/issues/603 for the current set of maintainers to speak up or step down if they don't have the time anymore. After that, it would be great to consider new maintainers who are active based on contributions.

The the second issue you mentioned is tough to solve and would love your thoughts on how to address it.

[2017-03-09 17:25] jonboulle commented on #603
I'd like to stay involved (and participate more actively, I haven't given a lot of PRs as much attention as I'd like). A significant issue for me has been the weekly call time, but fortunately seems like we're figuring that out in the [associated mailing list thread](https://groups.google.com/a/opencontainers.org/forum/#!topic/dev/p0mTOspVgd0)

[2017-03-09 17:28] jonboulle commented on #396
Preliminary support also added in containers/build . I think we can close this out for now and keep ongoing track of implementations via the doc added in #602.

[2017-03-09 17:28] #396 closed

[2017-03-09 17:29] jonboulle commented on #600
@vbatts hmm, you mean so one can reverse-trace from a runtime-spec config.json to an image?

[2017-03-09 17:38] jonboulle commented on #246
TBH the distribution question still comes up so often that we should continue to reference it it. But we can probably get rid of the "new project" and "why work on this" questions and point to the website FAQ.

[2017-03-09 17:49] wking commented on #590
On Thu, Mar 09, 2017 at 09:21:20AM -0800, Chris Aniszczyk wrote:

I think the way forward on maintainer-expertise is to identify areas
where there seems to be a shortage and add additional maintainers to
cover those areas.  Getting two experienced LGTMs on a particular
topic seems achievable for topics which impact image-spec.  Are there
areas where experienced maintainers are thin that are missin

[2017-03-09 18:06] wking commented on #406
On Thu, Mar 09, 2017 at 08:01:24AM -0800, Vincent Batts wrote:

I think we need to have a maintenance plan for intra-blob validation
before we cut a 1.0 spec release.  The current approach seems to be
(b), except without backporting JSON Schema fixes, or patch releases
in the spec repo.  Unless *something* about that changes, I think
we're going to have maintenance problems in image-tools.

If we

[2017-03-09 18:09] vbatts commented on #415
can i test this on a vm? Is windows 7 suitable enough?

[2017-03-09 18:13] vbatts commented on #450
i like this idea, and we had discussed it previously. It died-on-the-vine when it came to parsing and extracting the tags. Not terribly difficult, but just never got done

[2017-03-09 18:14] jonboulle commented on #450
SGTM.

[2017-03-09 18:35] vbatts commented on #415
like fifos, symlinks, sockets, character devices. These are platform specific.
The assumption on the current doc, that is readying for v1, is that it is unless otherwise specified targeting POSIX. As windows specific changes come in, we'll just denote those platform dependent differences, so that a post-v1 addition will not break the current POSIX expectations.

_(i realize it's not strictly POSIX

[2017-03-09 18:36] jonboulle commented on #415
POSIX is dead?? no-one told me!!

[2017-03-09 18:37] jonboulle commented on #415
(I would also really like to hear more input from our MS friends on how the current layer specification is working out for them)

[2017-03-09 18:42] vbatts commented on #406
again, you just restated the same kind of words with out clarifying the issue you're seeing. I'm not clear.

[2017-03-09 18:44] vbatts commented on #246
done

[2017-03-09 18:47] vbatts commented on #415
2016 article that recently floated around
http://www.cs.columbia.edu/~vatlidak/resources/POSIXmagazine.pdf
Take it with a grain of salt ...

[2017-03-09 18:50] wking commented on #406
On Thu, Mar 09, 2017 at 10:42:00AM -0800, Vincent Batts wrote:

Say we close this issue without establishing a policy.  Then we cut
1.0.  Then we find a bug in the JSON Schema, or the wrapping Go, or
some other non-spec validation tooling.  What happens next?  There are
a number of choices, and I think we should think it over and at least
have an initial plan before we find ourselves in that situa

[2017-03-09 19:04] vbatts commented on #600
@jonboulle maybe that too, but not what i was originally thinking. More like "i have ubuntu LTS image (sha256:deadbeefface..), and add my software on top" as only the ubuntu LTS _layers_ stay referenced, but not the original manifest. This would allow a pointer to those objects.

[2017-03-09 19:18] stevvooe commented on #424
@vbatts I did not intend for these to be related. #600 is just "append a string to keep us all sane".

I still attest that we have the necessary _structural_ information to recover lineage, even if there aren't explicit pointers. Albeit, the general problem of label propagation (and "lifting") can be used to address this issue. My general aversion to heading down that path are labels that may intr

[2017-03-09 19:18] stevvooe commented on #600
@vbatts This was not intended to go that far. I placed a comment in #600 clarifying the possible link.

I'll create a PR for this one today.

[2017-03-09 19:25] stevvooe commented on #415
PTAL @RobDolinMS @jstarks @jhowardmsft

[2017-03-09 19:27] vbatts commented on #600
oh oh. this is just an addition onto the prefix, not an `.image` name. sorry

[2017-03-09 19:33] stevvooe commented on #599
@jonboulle Not exactly and there is some subtlety here.

From the perspective of the specification, annotations are opaque. They will be read and propagated without modification or verification.

This does not mean that the specifier of the annotation can't make requirements that a given annotation has a structure that is internal to that annotation. Practically, this means that when an annotation

[2017-03-09 20:51] #126 closed

[2017-03-09 20:57] stevvooe commented on #588
Yes.

This can help with the issue by avoid having to deal with different descriptor types, which was never intended by this specification.

As far as an example of a ux that deals with multiple reference, let's say we have a tool that lists the references in a image layout:

[code]

Then we can unpack with something like this:

[code]

Now, just qualify the reference:

[code]

Or:

[code]

[2017-03-10 01:58] qianzhangxa commented on #588
Thanks @stevvooe for the example!

And I am thinking another case:
[code]

In this case, what will be the expected behavior of `oci image unpack target/ foo foo.tar.gz`? Should it fail with `error: reference foo is ambiguous` too? Or it should go with the first foo whose media type is `application/vnd.oci.image.index.v1+json`.

[2017-03-10 02:37] stevvooe commented on #588
I think you would need to unroll the references in the targeted index. Perhaps, we could print that as a tree?

[2017-03-10 02:40] q384566678 commented on #599
I think that as long as the string type of standard can be, do not need more norms.

[2017-03-10 02:57] xiekeyang commented on #406
@vbatts
We might need more validation on JSON objects, besides `schema/*.json`, such as how to handle dis-matched result, and should valid child fields media-type if exist. Current `schema/validator.go` take some validation work, but seems not enough. We have not a clear plan or idea for this.

[2017-03-10 02:57] qianzhangxa commented on #588
Do we really need to allow multiple descriptors with the name but with different media types in an image layout? I think it is definitely OK if there are multiple manifest descriptors with the same name but for different platforms. But if there is already an index descriptor which is for multiple platforms, why should there be a manifest descriptor with the same name for a specific platform? I thi

[2017-03-10 10:59] jonboulle commented on #406
I think wking's position can be summarised as concern that we're not appropriately testing the json schema that we're shipping, and so it's quite possible (probable?) that whatever we call "1.0" actually has a divergence between the spec-as-markdown and spec-as-json-schema. Is that accurate?

[2017-03-10 14:36] wking commented on #406
Yes, and my concern is not just for the JSON Schema.  Everything from this repo which is consumed by image-tools but not part of the Markdown spec is in the same boat.

For example, if the intra-blob validation doesn't grow a violated-SHOULD-warning API until 1.1, it will make it hard to warn/error on those when image-tools is validating a 1.0 image.  You'd need one of the a/b/c approaches, or sup

[2017-03-10 23:05] #600 closed

[2017-03-13 11:06] xiekeyang commented on #406
I remember we had discussed about the framework on validation, here I list them roughly, to help us for next improvement on `image-spec` and `image-tools`. Welcome forkers to add and correct.
1. As previous suggestion, schema JSON had better to be dropped, instead to use golang directly. That mean `schema.Validator` should be reconstructed.
2. Auto-detection of media type of JSON object should not

[2017-03-13 16:46] wking commented on #406
On Mon, Mar 13, 2017 at 04:06:14AM -0700, xiekeyang wrote:

This gets raised periodically, but I'm skeptical.  JSON Schema is a
domain-specific language designed for exactly this purpose, and trying
to implement the same checks directly in Go seems like a lot more work
than it would be worth.  And I don't think it impacts the release
process anyway, since the intra-blob validation API provided by

[2017-03-13 19:51] stevvooe commented on #406
domain-specific language designed for exactly this purpose, and trying
to implement the same checks directly in Go seems like a lot more work
than it would be worth.  And I don't think it impacts the release
process anyway, since the intra-blob validation API provided by
image-spec should be independent of the implementation (JSON Schema or
otherwise).

I think we have months of evidence proving t

[2017-03-13 22:37] erikh commented on #598
@vbatts https://github.com/icecrime/poule/pull/42 should resolve the discuss-this-item and reference-open-issues agenda items but it will still need a patch to implement comment-based reminders.

[2017-03-14 02:41] erikh commented on #598
Here's a poule.yml that can satisfy most of the issues (more below)

[code]

To run this effectively you will need a fork of icecrime/poule I made over at erikh/poule, oci-integration branch. To build and run:

[code]

This should not make any modifications to the repository's issues or PRs, just tell you what it will do.

Information about the rules:

* Commenting with `#discuss` on its own line

[2017-03-14 21:37] stevvooe commented on #603
@jonboulle Thank you for your increased participation!

@caniszczyk I think since we are on track now, we can close this. Any objections? @opencontainers/image-spec-maintainers

[2017-03-14 21:47] caniszczyk commented on #603
@stevvooe SGTM however I think we should consider adding some folks based on their contribution rate by asking if they want to be nominated as a maintainer and assume responsibilities (https://github.com/opencontainers/image-spec/issues/590#issuecomment-285109834) but I leave it up to you and the @opencontainers/image-spec-maintainers to decide :)

[2017-03-14 21:47] #603 closed

[2017-03-15 05:18] xiekeyang commented on #406
giving up on #452 and #403 being closed, I think we're just waiting on
the maintainers to show us what they want.

I close #452 partly because I know maintainers didn't achieve ideal agreement yet, partly because I feel it is not very graceful.

Actually we are mostly talking about validator especially on edge case. we almost agree it SHOULD be only for OCI image JSON objects, and MUST cover all o

[2017-03-15 23:15] #246 closed

[2017-03-16 15:27] vbatts opened #615 "FINAL v1.0 RELEASE BURN DOWN"
- [x] implementations on latest RC (need some citations here)
- [x] final sanity check (build consistency, terminology consistency) ( err'body )

[2017-03-16 15:27] vbatts commented on #615
cc @caniszczyk

[2017-03-17 23:48] stevvooe commented on #588
@qianzhangxa @cyphar Here is my visitor implementation for containerd: https://github.com/docker/containerd/pull/638. It let's you arbitrarily walk image resources and process them in the vein discussed above. Let me know if you have questions.

[2017-03-17 23:48] stevvooe opened #618 "merge "ManifestDescriptor" and "Descriptor" types"
Currently, we have `ManifestDescriptor` and `Descriptor` types. The only difference is the inclusion of the platform field. For making generic processors that filter based on platform type, this creates a number of complexities (see https://github.com/docker/containerd/pull/638 for an example of this pattern).

We'll simply need to merge these types in the specification and struct definitions.

[2017-03-19 13:09] qianzhangxa commented on #588
Thanks @stevvooe I took a quick look at that PR, but it seems that its implementation is still based on the old image layout (`./ref`) rather than the latest one (`index.json`)? I do not see the code for fetching and processing `index.json`. Please correct me if I was wrong.

[2017-03-20 19:55] stevvooe commented on #588
In fact, it is not based either. As I've said multiple times, I think the focus on the archive format has greatly confused things. "Fetching" an index.json file makes absolutely no sense.

That PR shows the simple method of walking a tree with a visitor pattern to process image related resources. It also provides the ability to filter at pull, push or assembly. This can be generalized to deal with

[2017-03-20 21:00] caniszczyk commented on #615
@vbatts sounds good, how do other @opencontainers/image-spec-maintainers feel?

[2017-03-20 23:59] RobDolinMS commented on #615
AFAIK, the image spec needs hyperlinks to sections.  @vbatts - Would you please add that to the release burndown checklist?

[2017-03-21 02:06] erikh commented on #615
I'm going to take a stab at rewriting the bottom of spec.md here in a
minute which should resolve this.

On Mon, Mar 20, 2017 at 4:59 PM Rob Dolin (MSFT) <notifications@github.com>
wrote:

[2017-03-21 02:39] erikh commented on #615
#621 created for @RobDolinMS's issue

[2017-03-21 04:59] AkihiroSuda opened #622 "improve definition of `platform.features`"
https://github.com/opencontainers/image-spec/blob/ab461b048bd1c8b6077d8e96936f706a518233c2/image-index.md

The definition of `platform.features` seems vague.
At first glance, I thought the values are adopted from Linux `/proc/cpuinfo`, but I learned that the `cpuinfo` file never contains `sse4`.

http://unix.stackexchange.com/questions/43539/what-do-the-flags-in-proc-cpuinfo-mean

(Note: AMD's SSE

[2017-03-21 10:25] cyphar commented on #588
Is metadata meant to apply to all children of a particular descriptor? If so, how are conflicts handled (the lowest statement wins?), and does that mean that the only way to implement a reference resolver is to walk everything that a descriptor points to and then collate those objects and their metadata?

Surely there needs to be some clarification on this point. I mean, I'm not even sure how you

[2017-03-21 11:05] jonboulle commented on #622
Proposed wording SGTM

[2017-03-21 14:00] wking commented on #588
On Tue, Mar 21, 2017 at 03:25:45AM -0700, Aleksa Sarai wrote:

I don't think we want to require descendant walking.  Each node in the
DAG should carry whatever metadata it wants walkers to use locally.
That is why we copy platform information [1] up from the config [2]
now, although the index platform information grew into something more
richly typed.

[1]: https://github.com/opencontainers/image-

[2017-03-21 14:08] wking commented on #622
On Tue, Mar 21, 2017 at 04:05:09AM -0700, Jonathan Boulle wrote:

And to me, although I think we want:

  If a feature is not supported by Linux…

instead of:

  If an architecture is not supported by Linux…

if the idea is to have folks registering things like ‘sse4_2’.

And I'd be happier if cpuinfo's flags values were documented
somewhere, but I haven't been able to turn up docs yet.

[2017-03-21 14:49] wking commented on #622
Unfortunately, `flags` turns out to be an x86-ism.  The x86 code writes it out [here][1], but other arches may do different things.  For example, [arm uses `Features`][2].  The best docs I've found so far are in an [SO post][3], which is probably quickly stale and not a good idea as a spec reference ;).

So I'm not sure what to do.  Using `flags` (or `Features`, etc.) is certainly convenient on Li

[2017-03-21 19:44] stevvooe commented on #588
There is an equivalence between [trees and a linearization of a tree based on the traversal order](https://en.wikipedia.org/wiki/Tree_traversal#Types). Exploit this and you can do all these things.

As I've said, you can do whatever you want but having the lowest statement win would be lossy. I would just collect these references under a key and display them together. You can maintain a stack to r

[2017-03-21 20:01] stevvooe commented on #622
@AkihiroSuda I think you are getting hung up on the examples. If the examples are wrong fix them. There is no "docker compatible" value -- they aren't really in use.

For the most part, these feature flags are platform dependent.

[2017-03-22 01:34] AkihiroSuda commented on #622
Thank you all for the feedback.

What should we do toward v1.0?

Plan 1. Mark the `platform.features` "reserved" for future releases. Implementations SHOULD NOT use this field in v1.0.

Plan 2. Just remove it. We can revive it in future releases if needed.

Plan 3. Standardize it for Linux on well-known platforms

My suggestion is 1 (or 2).

Also, the same discussion could be applied to `os.versio

[2017-03-22 05:40] cyphar commented on #588
@stevvooe

It's a lossy transformation. Given the following in-order traversal, which of the following trees did it come from?

[code]

[code]

[code]

I could make more but you get the idea. The same problem exists for preorder and postorder traversals.

IIRC from my discrete maths classes, there is not a bijection between a traversal and the arbitrary tree that can produce it. While it is true t

[2017-03-22 06:03] cyphar commented on #588
I'm not dismissing the approach, I'm asking for clarification. As it stands, it's ambiguous what should be done. I _do_ know how to implement a traversal of a tree, what I'm not sure of is whether it's a good idea for everyone to expose a completely different UX and concepts when handling references. I mean, you've said that's not an issue in the past and I begrudgingly agreed, but the whole point

[2017-03-22 20:12] mtrmac commented on #588
(I haven’t been following _any_ of the previous conversations, so I apologize if this rehashes long-settled discussions.)

Yeah, from my POV the index format prioritizes the wrong thing: it wants to be abstract enough to be able to represent any possible situation, but it gives absolutely no guidance how to consume the content.

**If two different implementations running on the same computer, give

[2017-03-22 21:43] stevvooe commented on #493
@wking Yes, that should cover it. Closing this.

@philips If you disagree, feel free to re-open and I'll tackle this directly.

[2017-03-22 21:43] #493 closed

[2017-03-23 00:11] erikh commented on #599
https://en.m.wikipedia.org/wiki/Punycode Is a method of encoding non-latin encodings into urls in a way that's easy to both parse and display in all instances. Maybe that's a good solution since it has a limited input set?

[2017-03-23 00:11] erikh commented on #599
It's used in many internationalized urls, so it's not just a spec for spec's sake. :D

[2017-03-23 00:21] erikh commented on #599
https://godoc.org/golang.org/x/net/idna Is a golang library to manage the conversion.

[2017-03-27 08:24] AkihiroSuda commented on #622
Can we set milestone of this to 1.0.0-rc6?

[2017-03-28 02:16] qianzhangxa commented on #588
@stevvooe @cyphar Any updates for this issue?

I think for this issue, we have 4 cases need clarification:

1. In `index.json`, there are more than one index (`application/vnd.oci.image.index.v1+json`) which have the same ref name (`org.opencontainers.image.ref.name`).
2. In `index.json`, there are more than one manifest (`application/vnd.oci.image.manifest.v1+json`) which have the same ref name a

[2017-03-29 11:26] lucab opened #626 "specs-go/v1/config: `omitempty` is ineffective on Created"
https://github.com/opencontainers/image-spec/pull/534 changed `Created` from string to time.Time field. This neutered the `omitempty` property on it, as a missing field is now populated as the default time.Time value (0000-01-01).

Ref: https://github.com/golang/go/issues/11939

/cc @jlbutler as #534 author

[2017-03-30 19:34] stevvooe commented on #588
@mtrmac If you think there is an area that is under-specified, please make an attempt to specify those fields. As it is, the referenced fields are mostly owned by the given platform. We can create a registry of those platform fields and their meanings, if that helps, but it is a big effort. Either way, I think that has little to do with this issue.

@cyphar The classic rules of a lack of bijection

[2017-03-30 19:36] stevvooe commented on #622
`platform.features` is for x86 CPU features that are required for the image. If other architectures want to use it for specific meanings, there is not reason it couldn't be re-purposed here.

If someone wants to step up and do the work here, that would be great.

[2017-03-30 20:30] mtrmac commented on #588
This verges towards “you can produce anything and call itself a compliant OCI producer, and you can refuse to consume anything and call yourself a compliant OCi consumer”, and the poor users are left with… pretty much no interoperability promise, i.e. no standard to speak of. (Or have these principles been already decided in the past, so that OCI is satisfied with documenting “data structures” and

[2017-03-30 21:00] stevvooe commented on #588
@mtrmac I can see my response was lost on you. When I said it would be nice if you could avoid histrionics, I meant that you should avoid statements like there is "pretty much no interoperability promise, i.e. no standard to speak of". Come on. This isn't even close to being true and you know it. I am wasting no more time on you.

Seeing as this conversation is going absolutely no where, I am clos

[2017-03-31 00:16] cyphar commented on #588
@stevvooe We still haven't added implementor's notes, which is what this issue was about in the first place. I do echo @mtrmac's concern about the abundance of "it's up to the implementation if they support <core feature of the spec>" -- mainly because I'd like to make `umoci` as un-opinionated as possible and this discussion is really forcing me to become opinionated about how references work. Th

[2017-03-31 01:32] stevvooe commented on #588
@cyphar __There two choices here:__

1. Allow the user to resolve ambiguity.
2. Error out on ambiguity.

To run all compliant images, you probably have to go with option 1 but this is a rare case, so option 2 is sufficient in practice. We can make implementer's notes that describe this trade off.

[2017-03-31 03:47] wking commented on #588
On Thu, Mar 30, 2017 at 12:34PM -0700, Stephen Day wrote [1]:

This sounds like:

  When resolving a reference by org.opencontainers.image.ref.name,
  compliant implementation MUST:

  1. Walk all application/vnd.oci.image.index.v1+json recursively,
     inheriting ancestor annotations down the DAG (resolving conflicts
     in favor of children?).

  2. Consider the list of non-index descriptors c

[2017-03-31 04:44] wking commented on #622
There's not much work to do if we agree that scoping the definition to Linux/(386|amd64) is acceptable for now.  In #631, I've taken a stab based on @AkihiroSuda's [initial proposal][1] with the following changes:

* Mention that `flags` is [specific to the x86 family][2].
* [Drop the Docker-compat table][3].
* [Limit the definition to the x86 family][4].

I'm also comfortable with @AkihiroSuda's

[2017-03-31 15:10] jonboulle commented on #626
@lucab how about submitting a patch to pointer-ify this one?

[2017-03-31 15:44] jonboulle commented on #588
@stevvooe Please have more empathy for our community. If issues are being brought up repeatedly by different parties -- including a number of contributors actively working on implementations and attempting to use this specification -- it is more likely because the issues have not been adequately explained or resolved by us. Not because said contributors are stupid or seeking attention.

This GitHu

[2017-04-03 08:22] lucab commented on #626
Ack, up at https://github.com/opencontainers/image-spec/pull/633.

[2017-04-03 20:22] #626 closed

[2017-04-04 20:45] stevvooe opened #637 "Golden master testsuite"
After seeing issues like https://github.com/opencontainers/image-spec/issues/626, it seems wise to create a golden master testsuite that contains known valid data structures and ensures that we parse and generate them correctly. Such a test suite should be done outside of the scope tools like `gojsonschema` to ensure they are operating correctly.

[2017-04-04 20:58] erikh commented on #637
Maybe just some data in json files, parse and check the fields? Is that
what you were thinking?

I might be able to do this over an evening or weekend if that's all that's
necessary.

-Erik

On Tue, Apr 4, 2017 at 1:45 PM Stephen Day <notifications@github.com> wrote:

[2017-04-04 21:26] stevvooe commented on #637
@erikh Yes, very simple. Most of the effort will be in verifying the golden master output.

[2017-04-05 05:27] qianzhangxa commented on #618
@stevvooe @jbouzane Based on the description of this ticket:

We need to update both spec and struct definition, however I think #620 only updates the struct definition, we need another PR to update spec (descriptor.md and image-index.md)?

[2017-04-05 10:29] jonboulle commented on #618
@qianzhangxa oops, for some reason I thought that had already been done, sorry. Feel like putting up a PR?

[2017-04-05 17:53] stevvooe commented on #618
Actually, this was a conscious decision not to. The alternative fields can be ignored outside the context of processing a manifest index. We only merge the Go datatype to make usage easier in practice.

[2017-04-07 13:44] duglin commented on #588
I'm trying to follow this discussion, does this capture the basic idea/concerns:
- index.json can represent single images or multiple images - typically for cases where the images are alternative representations of the same thing - e.g. multi-arch images
- at any level in the tree of images being described we can have a set of properties that are used to identify, or describe, the image at that le

[2017-04-07 16:21] wking commented on #588
On Fri, Apr 07, 2017 at 06:44:53AM -0700, Doug Davis wrote:

This doesn't give image authors much guidance about what sorts of
images will be unambiguous or not [1,2].  Are there specific things
they should avoid?  Or is there no subset of the allowed image space
that is guaranteed to be unpackable by all compliant implementations?

[1]: https://github.com/opencontainers/image-spec/issues/588#issu

[2017-04-07 17:04] duglin commented on #588
I'm not sure we can hand-hold people enough to prevent them from doing silly things. If someone wants to define two images under one index.json such that all of the properties are the exact same then they get what they asked for - ambiguity.  And people will stop using that image.

This, IMO, is about interop not preventing silliness. If we have cases where we can look at an index.json and two dif

[2017-04-07 17:23] wking commented on #588
On Fri, Apr 07, 2017 at 10:04:23AM -0700, Doug Davis wrote:

I tried to lay some out in the final paragraph of [1].  Do all of
those cases sound unambiguous to you?  There may be less ambiguity
here after #631 / #632, but I don't see either of those helping with
the “one needs feature A while another needs feature B” case.  If that
case is a “silly thing”, then I think we need to make that clear i

[2017-04-07 17:39] duglin commented on #588
So, let me ask this... is the real issue here around the relationship (e.g. inheritance) of metadata as you walk the tree?

If its just about the last case you mentioned (the A and B example), then I don't think there's much we can do. In the case where both set of features are supported then yes its ambiguous and the platform will decide how to deal with it - error, toss a coin, etc...  I'll admi

[2017-04-07 17:57] wking commented on #588
On Fri, Apr 07, 2017 at 10:39:59AM -0700, Doug Davis wrote:

That's one of the things that's confusing me, but not the only thing
;).

Then I think we need to say something about that in the spec.  Either:

  If an index references multiple manifests with the same
  org.opencontainers.image.ref.name, platform.architecture, and
  platform.os, portable indexes SHOULD avoid setting platform.features

[2017-04-07 18:06] cyphar commented on #588
@duglin I'm going to throw my hat at this one again. God help me.

Those three concerns are things that we've discussed, and I will discuss them in a second. But first, I would argue that with #634 we should revisit some of the arguments we originally had about how flexible the spec is (all of this discussion comes from not wanting to make `refs.name` unique, which results in the first dereference

[2017-04-07 18:19] stevvooe commented on #588
@duglin Thanks for your analysis on this issue!

I've also filed https://github.com/opencontainers/image-spec/pull/634, which greatly simplifies the problem.

We need to be very careful about the direction of what an implementation must accept or reject, as we risk rendering otherwise operable implementations non-compliant if we do this haphazardly.

This was a concern I brought up multiple times

[2017-04-07 19:33] erikh commented on #588
Hopefully my opinion is welcome, but I really really think some of these
properties should be first class attributes; if we're always going to have
them, why not define them that way?

I think it simplifies this argument significantly and reduces complexity of
the spec. Some things, like name, will never go out of style. :)

On Fri, Apr 7, 2017 at 11:19 AM Stephen Day <notifications@github.com>
wr

[2017-04-07 20:28] stevvooe commented on #588
@erikh The main problem here is that naming is hard. Even worse, embedded naming was tried in docker schema1 and it was not a good design. It presents a number of problems, in practice, including authority delegation. The addition of `ref.name` is a narrow annotation use to allow an image layout to reproduce the behavior of the docker save/load format. Most of the complaints of ambiguity here are

[2017-04-08 00:57] erikh commented on #588
Ok fair enough; thanks for the explanation!

On Fri, Apr 7, 2017 at 1:28 PM Stephen Day <notifications@github.com> wrote:

[2017-04-09 10:55] cyphar commented on #588
@stevvooe

I completely agree with you on this point :wink:. All of my concerns come from a place of "why do we need to make tag resolution ambiguous in certain cases"? Since I'm fairly sure that there would be no loss of generality if we made `refs.name` unique in the top layer (adding an extra indirection after the unique `refs.name`). If you're going to be at DockerCon next week I'd love to tal

[2017-04-12 21:14] stevvooe commented on #618
@jonboulle Can we close this or did you want me to add some clarification on the difference between the spec and datatype?

[2017-04-13 20:18] philips commented on #415
PTAL @RobDolinMS @jstarks @jhowardmsft

[2017-04-13 20:18] philips commented on #415
@RobDolinMS @jstarks @jhowardmsft This is a v1.0 blocking issue.

[2017-04-13 20:20] philips commented on #637
What do you mean by "golden master output"? @erikh is suggesting parsing json and checking fields while you seem to be thinking about something differently.

[2017-04-13 20:26] philips commented on #615
Are there updates on this burndown? Are these the only two remaining issues everyone agrees upon? https://github.com/opencontainers/image-spec/milestone/3

If so +1 on getting this shipped.

[2017-04-13 20:31] wking commented on #615
On Thu, Apr 13, 2017 at 01:26:43PM -0700, Brandon Philips wrote:

I was expecting an rc6 [1] before the v1.0.0 milestone [2].

[1]: https://github.com/opencontainers/image-spec/milestone/13
[2]: https://github.com/opencontainers/image-spec/milestone/3

[2017-04-13 20:41] stevvooe commented on #637
@philips "Golden Master" is the technique of generating hand verified files and then testing output against them. They should have the correct values and format. It is just a form of black box testing that is effective in side-stepping the kinds of issues we've seen as of late.

The technique is demonstrated here in https://github.com/golang/protobuf/blob/master/protoc-gen-go/testdata/imp.pb.go.go

[2017-04-13 20:44] stevvooe commented on #615
I would expect we do an rc6 before a 1.0. The [rc6 milestone](https://github.com/opencontainers/image-spec/milestone/13) has a few issues we need to work out, as well.

[2017-04-13 20:47] RobDolinMS commented on #415
Thanks @Philips.  I've pinged @jstarks @jhowardmsft and a few others from their team with a reminder to look at this issue.

[2017-04-13 20:56] RobDolinMS commented on #622
@AkihiroSuda Would you want to convert this to a pull request?

[2017-04-13 20:57] RobDolinMS commented on #622
@stevvooe suggested earlier in the discussion that this could be milestone==v1.0.0-rc6.  Would one of the @opencontainers/image-spec-maintainers want to set as such?

[2017-04-13 20:58] caniszczyk commented on #622
@RobDolinMS done

[2017-04-13 20:59] RobDolinMS commented on #598
@vbatts Could this be set to milestone==post-v1.0 ?

[2017-04-13 21:00] RobDolinMS commented on #590
@caniszczyk Would you mind setting this to milestone==post-v1.0 ?

[2017-04-13 21:03] RobDolinMS commented on #577
@AkihiroSuda Is this something that we need for milestone==v1.0.0 or could this be considered for milestone==post-v1.0.0 ?

[2017-04-13 21:03] wking commented on #622
On Thu, Apr 13, 2017 at 01:56:14PM -0700, Rob Dolin (MSFT) wrote:

This is already two pull requests (#631 and #632).

[2017-04-13 21:04] RobDolinMS commented on #573
@vbatts Would the proposal at: https://github.com/opencontainers/certification/pull/26 fulfill this issue?

[2017-04-13 21:05] RobDolinMS commented on #496
@cyphar Does PR #504 satisfy this issue?

[2017-04-13 21:19] erikh commented on #637
I'll put a reminder in to research over the weekend what needs to be done
and hopefully get back to you then with more information.

On Thu, Apr 13, 2017 at 1:41 PM Stephen Day <notifications@github.com>
wrote:

[2017-04-13 21:29] RobDolinMS commented on #479
@philips Can this Issue be closed with active discussion now happening in PR #492 ?

[2017-04-13 21:35] RobDolinMS commented on #485
@lizrice (et. al.) Would it make sense to reference the @label-schema work hosted at http://label-schema.org/ as an informative reference in the spec?

[2017-04-13 21:38] RobDolinMS commented on #467
Should we close this issue and move discussion to PR #554 ?

[2017-04-13 21:49] stevvooe commented on #467
@RobDolinMS I'm not sure that #554 covers what I was looking for. I think this one is on my plate, but it will have to come after 1.0.

[2017-04-13 21:50] stevvooe commented on #577
@AkihiroSuda This is post 1.0.

[2017-04-13 21:52] stevvooe commented on #590
@caniszczyk @RobDolinMS I think most of the issues that started this discussion have been addressed. Maintainer participation has been much better as of late. If there are any maintainers who are inactive and would like to step down, we can make a call for that, as well.

[2017-04-13 22:08] stevvooe commented on #479
@RobDolinMS We should really wait for the issue to get resolved before closing it.

[2017-04-14 01:04] erikh commented on #598
this is ready, fwiw. I just need to work with Chris on the integration end.

On Thu, Apr 13, 2017 at 1:59 PM Rob Dolin (MSFT) <notifications@github.com>
wrote:

[2017-04-14 01:05] erikh commented on #598
work with @caniszczyk that is

[2017-04-17 19:26] cyphar commented on #496
@RobDolinMS Yes, but the PR hasn't been merged yet so we should keep this open for the moment.

[2017-04-18 19:59] stevvooe commented on #637
@erikh Any updates?

[2017-04-18 20:00] stevvooe commented on #618
@jonboulle Ping.

[2017-04-18 20:19] erikh commented on #637
ah crap; I've been buried in box issues. I'll work on this tomorrow AM.

Is there urgency here? I don't want to hold anyone up.

On Tue, Apr 18, 2017 at 12:59 PM Stephen Day <notifications@github.com>
wrote:

[2017-04-18 20:20] duglin commented on #485
OH@OCI F2F: use "title" instead of "name" as a label

[2017-04-18 20:51] vbatts commented on #573
@RobDolinMS perhaps so

[2017-04-20 11:07] jonboulle commented on #618
I'd still like to see the [tweak](https://github.com/opencontainers/image-spec/pull/638#pullrequestreview-31021778) discussed in #638 - @qianzhangxa @q384566678 either of you feel like taking this on?

[2017-04-21 01:01] qianzhangxa commented on #618
Sure. I have submitted #649 for it.

[2017-04-21 05:03] q384566678 commented on #618
I think it should be explained for the difference. #649 looks good to me.

[2017-04-21 05:13] q384566678 commented on #618
I think the `json` file needs to be updated to coincide with the `specs-go / v1` file, just as I do [here.](https://github.com/opencontainers/image-spec/pull/638/files#diff-6f11672cc3c0cd49052d926e2ca5a82aR22)

[2017-04-24 19:29] erikh commented on #598
icecrime/poule#42 was merged so we can move forward without my fork; I may also need some configuration mods too. I will post something tonight.

[2017-04-24 19:35] vbatts commented on #598
nice!

On Mon, Apr 24, 2017 at 3:30 PM Erik Hollensbe <notifications@github.com>
wrote:

[2017-04-26 02:42] AkihiroSuda commented on #599
How to tell punycode string from ASCII string?
(Is is valid to use "xn--" prefix for non-domain strings?)

Why not use percent-encoded UTF-8?

[2017-04-26 02:49] erikh commented on #599
no argument from me re: percent encoded utf-8

[2017-04-26 04:30] AkihiroSuda opened #657 "Proposal: descriptor: "dependency" property"
A blob referenced via [descriptor](https://github.com/opencontainers/image-spec/blob/master/descriptor.md) MAY be a fine-graind CAS archive. e.g. continuity manifest. (WIP: https://github.com/opencontainers/image-spec/issues/577)

This might make it difficult to implement "gc" for blob store, because the actual referenced blob set cannot be assured just by parsing OCI descriptors.

So I suggest ad

[2017-04-26 15:42] vbatts opened #658 "annotation / schema items"
Following on to the DockerCon conversation:
* [x] backwards compatibility table
* [x] https://github.com/opencontainers/image-spec/pull/636
* [x] work with label-schema site folks for their domain, etc