[2016-04-04 19:23] vbatts opened #4 "add travis checks"
For:

* [x] DCO
* [x] commit length
* [x] etc

[2016-04-04 20:36] vbatts opened #7 "JSON schema all the things"
Carrying over the approach from https://github.com/opencontainers/runtime-spec/tree/v0.4.0/schema
We might ought to have JSON schema for the structures defined in this project and easy validation of them.

[2016-04-07 00:15] philips opened #11 "Name Delegation Design Discussion"
DNS delegation is the idea that I can own the domain `example.com` but delegate hosting of my container images to `container.hosting`. Think MX records, where I have a DNS name that tells me where to send email for a domain without the dedicated special DNS record.

Today, AppC supports a method for doing this type of delegation that uses [HTTPS, and HTML meta tags](https://github.com/appc/spec/bl

[2016-04-07 04:34] wking commented on #11
On Wed, Apr 06, 2016 at 05:15:43PM -0700, Brandon Philips wrote:

I think blob delegation should be outside the scope of the image
format, since blobs that are content-addressed based on a
cryptographic hash can be fetched from any content-addressable storage
(CAS)—although registries probably want to include hints about hosts
providing blobs required by a given image [1].  Baking CAS repository
i

[2016-04-07 13:47] philips commented on #11
@wking This isn't about blob delegation. This is about delegation of naming for images. Which is explicitly in scope (see the README).

[2016-04-07 16:55] wking commented on #11
On Thu, Apr 07, 2016 at 06:47:35AM -0700, Brandon Philips wrote:

Ah, it's just about discovering manifest hashes.  Developing and
versioning the separate image/naming/signing components [1] in a
single repository sounds complicated to me (do you make a major bump
when you adjust the naming spec, even though you haven't touched the
image spec?).  But discovering manifest hashes using an approach l

[2016-04-08 17:25] philips opened #14 "Create mime-type compatibility table"
One thing I hope we can do with the image-spec is to remain compatible with the initial docker layer.tar format so that hosting providers don't need to duplicate filesystems to support both formats.

To that end we will need to create a compatibility.md file or something that says something like:

[code]

This is coming from the introduction of the new mime types in this PR: https://github.com/ope

[2016-04-08 23:15] philips commented on #4
@vbatts this is done, right?

[2016-04-09 05:10] brendandburns opened #15 "Add layer discovery/location to the image spec"
If a client has a URL/URI/file for an image spec. manifest, how does the client then know how to download/obtain the relevant layers?

This seems like its an important part of the image spec. that is currently not defined anywhere.  Given the image manifest as its currently defined, I don't think that anyone will actually be able to distribute image manifests in a way where multiple different clie

[2016-04-09 13:16] vbatts commented on #4
yep

[2016-04-09 13:16] #4 closed

[2016-04-09 22:20] wking commented on #15
On Fri, Apr 08, 2016 at 10:10:06PM -0700, Brendan Burns wrote:

That's an important part of a complete distribution system, but it's
pretty independent of the image-format itself.  For previous
discussion, see the required-HTTPS and CAS API discussion in this
thread [1] and the “Why doesn't this project mention distribution?”
FAQ [2].

If different clients retrieve CAS objects differently but stil

[2016-04-09 23:26] philips commented on #15
@wking @brendandburns Yes, I agree this is something we need to sort out in the TOB as soon as possible. Having the spec only container a manifest describing CAS objects and a way to serialize a filesystem to a CAS object doesn't help the 99% use case today of downloading the manifest and then knowing where to find the CAS objects.

I will raise this on the TOB mailing list again so we can start t

[2016-04-11 10:42] jonboulle commented on #15
+1, an optional but well-known mechanism for locating these layers seems
critical for making the spec usable.

On Sun, Apr 10, 2016 at 1:26 AM, Brandon Philips <notifications@github.com>
wrote:

[2016-04-11 16:38] vbatts commented on #15
Glad it was not just me. This exact issue was brought up on the initial call.
+1 from me

[2016-04-11 19:33] stevvooe commented on #11
@philips Let's make a note here to consider cases such as [notary](https://github.com/docker/notary) for naming delegation.

Have we decomposed naming delegation to particular set operations?

[2016-04-11 19:38] philips commented on #11
@stevvooe I don't see how notary relates to name delegation. Do you have a doc?

[2016-04-11 22:45] philips commented on #15
I have [raised this discussion to the TOB](https://groups.google.com/a/opencontainers.org/d/msg/tob/oaEza4cu25M/gBLeHm5NFAAJ) to put it into scope for this project. I will provide an update to this issue once that discussion is done. We can discuss the technical details here in the meantime.

[2016-04-12 13:53] vbatts commented on #7
do other @opencontainers/image-spec-maintainers have an opinion on this?

[2016-04-12 15:16] vbatts opened #16 "Produce PDF and HTML for releases"

[2016-04-12 18:34] stevvooe commented on #15
-1

The fact that we have the potential to resolve images in N different ways is a _feature_ of OCI. By going down this route, we risk irrecoverably coupling identity and locality in the specification. When you define a target transport, it becomes very easy to have the specification grow towards that transport, limiting the possibilities with other transports.

When we start looking at the existi

[2016-04-12 19:11] wking commented on #15
On Tue, Apr 12, 2016 at 11:34:27AM -0700, Stephen Day wrote:

I agree with this, which is why I'm advocating a CAS API for testing
[1,2].

Agreed, which is another reason it makes sense to put any
OCI-maintained CAS protocol specs in other repositories (besides the
versioning complications [3]).  And again, that doesn't mean that the
OCI shouldn't develop a CAS protocol or two if it wants.  It jus

[2016-04-12 19:13] vbatts commented on #7
I do like this from the swagger/openAPI https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#info-object

[2016-04-12 20:00] stevvooe commented on #15
@wking Thanks for the response!

IPFS hashes the (protobuf) Merkle objects, not the payload hashes used
in the Docker manifest [5].

This lends somewhat to my larger point: how can we interface with CAS systems that have disparate hash algorithms? It is doable, but seems a little out of scope.

There would either have to be a mapping into IPFS's CAS system, which may force the implementation to in

[2016-04-12 20:14] caniszczyk commented on #15
A couple of comments from an LF perspective:

1) ensure there are at least two weeks to see if consensus can be attained, this is a complex topic and there should be input from all members (see section 6(l) https://www.opencontainers.org/governance)

2) we need clarity on how to amend the scope table, there was confusion last time on the process so we may need to update it to make sure it's clear

[2016-04-12 20:32] wking commented on #15
On Tue, Apr 12, 2016 at 01:00:42PM -0700, Stephen Day wrote:

I agree with both “doable” (IPFS-hash hints?  Then a client can fetch
the hinted file, hash the content, and compare with the canonical hash
in the manifest) and “out of scope” (you probably don't want to bake
hash-hints into the manifest).

The manifest format in this repo is just another way to map a
filesystem bundle into CAS.  You s

[2016-04-12 20:36] wking commented on #15
On Tue, Apr 12, 2016 at 01:14:44PM -0700, Chris Aniszczyk wrote:

For this to work, I think we need clarity on whether there is one TDC
or multiple TDCs (e.g. see [1]).  If there is a single TDC that
manages all OCI Projects, it probably needs it's own repo listing
maintainers/members and contact information (analagous to
opencontainers/tob).

[1]: https://github.com/opencontainers/tob/issues/2#is

[2016-04-13 08:45] jonboulle commented on #15
I am not sure what existing formats you're referring, but to take one example: in appc there's no tight coupling between [naming and transport](https://github.com/appc/spec/blame/master/spec/discovery.md#L62), or with runtimes ([of](https://github.com/coreos/rkt) which [there](https://github.com/3ofcoins/jetpack) are [multiple](https://github.com/apcera/kurma)). There's also an attempt at a next-g

[2016-04-13 18:52] wking commented on #15
On Wed, Apr 13, 2016 at 01:45:06AM -0700, Jonathan Boulle wrote:

That has:

  … for example, with different scheme names representing different
  transport mechanisms…

Which sounds like “registered protocol” approach [1] :).

I think the connection is [2]:

  When you define a target transport, it becomes very easy to have the
  specification grow towards that transport, limiting the
  possibili

[2016-04-13 19:13] jonboulle commented on #15
Folks who feel that transport is out-of-scope can also just ignore the optional parts of the spec, or use another spec with which they're fully comfortable. Separate repositories seems like an implementation detail.

[2016-04-13 19:21] philips commented on #15
Agreed that a repo is an implementation detail. As a reminder we have other
optional layers in this project that people can ignore: federated naming
and signatures.

On Wed, Apr 13, 2016 at 3:13 PM Jonathan Boulle <notifications@github.com>
wrote:

[2016-04-13 19:31] wking commented on #15
On Wed, Apr 13, 2016 at 12:21:28PM -0700, Brandon Philips wrote:

Sure, but it's not trivial to pack that into one repository.  Folks
have to subscribe/unsubscribe on a per-issue/-PR level, and versioning
is complicated (tags like image-v0.4.0, signatures-v0.1.0, …?).  If
everyone is on board with these ideas (the image schema, the CAS
protocol(s), name-to-image-hash lookup, …) being related but s

[2016-04-13 21:56] stevvooe commented on #15
It is an effort that would involve defining a CAS system, which is less than straightforward. I really think this would be a distraction that could unnecessarily complicate the image specification process.

I am not asking us to assume the current registry api version, but it is a sufficient target for getting something up and running (not sure why this isn't listed under "two independent experime

[2016-04-13 23:07] philips commented on #15
On Tue, Apr 12, 2016 at 2:34 PM Stephen Day <notifications@github.com>
wrote:

People will transport these images over HTTPS. 99% of images today are
transported this way. To not provide an optional recommendation on how this
is done will lead to incompatibility and confusion.

We have other optional layers in this project too. The reason they are
optional is so they don't irrevocably get coupled.

[2016-04-13 23:36] stevvooe commented on #15
@philips And that may continue to be the case. The difference will be in _how_ the image is transported over HTTPS.

Why is it so important that this optional layer be defined at this point in time? Why not at least wait till we have a version of the image specification out before leaping? We already have ways to store images that can be used as guidance to build out the image specification.

[2016-04-14 04:54] philips commented on #16
Do you want to get this done by the v0.1.0 milestone? https://github.com/opencontainers/image-spec/milestones/v0.1.0

[2016-04-14 05:03] philips commented on #11
@stevvooe Ping.

[2016-04-14 06:01] philips opened #22 "signing: start discussion on signing"
This project should "specify a way to attach signatures". There are a few different approaches that could be taken based on prior art:

1 Detached signature sitting alongside each CAS object (this is the approach [appc takes](https://github.com/appc/spec/blob/master/spec/aci.md#image-archives))
2. Inline signatures in the manifest list, putting things into the JSON objects themselves won't work, o

[2016-04-14 06:04] philips commented on #22
@stevvooe Is there a doc somewhere that describes the notary API in detail not just the CLI tool. Reading through the docs I couldn't find anything that someone wishing to verify name example.com/app with hash `ffff` could implement from top to bottom. This was the closest I could find: https://github.com/docker/notary/blob/master/docs/getting_started.md#inspect-a-docker-hub-repository

[2016-04-14 14:57] vbatts commented on #7
Now that #18 is merged, next steps might be:
* [ ] Schema for the serialization document
* [ ] Decide best way to have common definitions across OCI projects (i.e. `defs.json`, etc)
* [ ] Validation tooling for an OC image archive (e.g. https://github.com/opencontainers/ocitools )

[2016-04-14 15:00] vbatts opened #23 "Outline the transportable objects"
From a single tar archive of tar archives and JSON documents, or a manifest JSON document that points to other objects needing to be fetched.

UserStory:
* As an opensource project, I want to produce an OCI image for the world to consume.

See also https://groups.google.com/a/opencontainers.org/d/msg/dev/VKpZNs-qYoI/RzPhj71ODgAJ

[2016-04-14 21:14] stevvooe commented on #11
@philips You can read [here](https://github.com/docker/notary/blob/master/docs/getting_started.md#understand-notary-naming). The link is fairly straightforward. Let me know if you have more questions.

Perhaps, I am misunderstanding naming delegation. We may need a clear definition and identification specific use cases it solves for the individual user. Part of the crux with naming delegation is t

[2016-04-14 21:16] timthelion opened #24 "Any chance of changing the whiteout file approach"
It seems unfortunate that a new standard should use a method which unecesarilly limits the standard. With the .wh file approach, base images can no longer contain arbitrary data. This means, for example, that you cannot have an image with example OCI image-spec data stored in it. Is there any possibility of changing this to use, for example, a white out list instead. So that the files that made a

[2016-04-14 21:20] timthelion opened #25 "Any chance of using hashes rather than random numbers for layer id's?"
I'm confused why layers are refered to using random numbers rather than with cryptographic hashes. We already know that using random numbers as IDs lead to security problems at Docker, so why continue using this approach in a new standard?

The only thing that occures to me, is that one might think it possible that two layers of the same image would have the same hash, for example, if a file was r

[2016-04-14 21:23] vbatts commented on #24
To be clear, you are saying that the .wh approach is limited? And the
whiteout file is preferred?

If so, I agree.

On Thu, Apr 14, 2016, 17:16 Timothy Hobbs <notifications@github.com> wrote:

[2016-04-14 21:26] timthelion commented on #24
Creating a list of files to be whited out, and keeping that outside of `layer.tar` is better than putting `.wh` files in `layer.tar`. We wouldn't want a situation like this: http://git-annex.branchable.com/forum/Storing_git_repos_in_git-annex/

[2016-04-14 21:35] vbatts commented on #24
I wholly agree and intend to see it done as a whiteout file list.

On Thu, Apr 14, 2016, 17:26 Timothy Hobbs <notifications@github.com> wrote:

[2016-04-14 22:03] stevvooe commented on #22
@philips Check out the [advanced documentation](https://github.com/docker/notary/blob/master/docs/advanced_usage.md). It demonstrates the use of a text file.

For signatures, the key will be to focus on the signing target, be it a primary artifact or a hash. This is the commonality of all these schemes.

In general, we found inline signatures to be problematic, as it changes the artifact. We've mo

[2016-04-14 22:13] wking commented on #22
On Wed, Apr 13, 2016 at 11:01:25PM -0700, Brandon Philips wrote:

This sounds like “non-CAS stuff in the CAS engine”, which seems like a
bad idea ;).

This seems like the best approach to me.  It's still going to have the
coordinated-update problem @stevvoe points out for (2) [1], but it's
in an engine that's designed with that in mind, so locking, etc. while
adding a new signature to the list is

[2016-04-14 22:26] philips commented on #24
I think this is something we should think about for post v1.0.0. I whole heartedly agree but in the ideal case the initial v1 serialization spec is binary compatible with the existing docker serialization to save the sanity of all of the existing registry folks like acr, gcr.io, Quay, Hub, etc.

[2016-04-14 22:27] philips commented on #25
I believe we should just update the language to say the ID MUST be a crypto hash. Would you mind submitting a PR to the location that has this language?

[2016-04-14 22:48] timthelion commented on #24
Would it be possible to use the whiteout list file IFF a whiteout list file exists, and otherwise use the `.wh` approach?

[2016-04-14 22:57] timthelion commented on #25
The current text is this:

[code]

If I change it to being:

[code]

That doesn't work, because as I already stated, there can be multiple `layer.tar` files with the same contents.

I would propose:

[code]

In order to have a proper hash across a directory, it needs to be specified that closely (well, actually, I put it in alphabetic order, but I think it is easier to understand when it is writte

[2016-04-15 00:01] blakelapierre opened #30 "Image IDs and checksums"
@philips [requested](https://news.ycombinator.com/item?id=11498633) an issue to require [Image IDs](https://github.com/opencontainers/image-spec/blob/master/serialization.md) to be crypto hashes and not be randomly generated.

However, wouldn't that make

redundant?

I'm not sure why you *shouldn't* be able to use a 'random' (or other) ID, but I'm also not sure why you wouldn't want to use a hash

[2016-04-15 00:07] timthelion commented on #30
@blakelapierre The reason you shouldn't be allowed to use a random ID is that when one downloads an image from a sever based on an ID, if the ID is random that user has no idea what they are downloading. This allows the server to send them a different image than the one they requested.

Worse, it can lead to actual security flaws. It used to be that the docker registry served layers based on the l

[2016-04-15 00:19] philips commented on #30
I think this is a dupe of https://github.com/opencontainers/image-spec/issues/30. I am closing it in an effort to consolidate but LMK if I misunderstood.

[2016-04-15 00:19] #30 closed

[2016-04-15 00:22] philips commented on #24
@timthelion Yes, that would be the right way of approaching it. It would be a schema bump which would be a version break. Happy to consider adding this feature to fix the issue but I do want to hold off until we get post v1.0.0 (in a couple of months).

[2016-04-15 00:55] vbatts commented on #16
Sure thing

[2016-04-15 08:29] timthelion commented on #25
Does anyone know the exact specification, including order of meta-data hashing, is for Docker image ids?

[2016-04-15 08:32] timthelion commented on #24
@philips so basically, you want to have the 1.0 release be supported by Docker/CoreOS/whatever, without actually haven't to change Docker/CoreOS/whatever's code? Basically, there will be no actual technical changes to the spec before 1.0?

[2016-04-15 12:52] jonboulle commented on #23
Is this essentially the enhancement/replacement of serialization.md?

[2016-04-15 20:31] vbatts commented on #23
@jonboulle sorry, this was more of placeholder thought. The serialization doc does have tar archive info. Though I was thinking more of the manifest. This may be a non-topic, if the culmination of referenced layers in a manifest are handled independently, but the docs need to be cleaned up to show the transportable states of the image.

[2016-04-15 20:34] vbatts commented on #23
Updated the title and comment. Hopefully that helps a bit more.

[2016-04-15 23:19] stevvooe opened #34 "Create golden standards to test against json schema"
We need a few "golden standards" to test against the json schema specs to catch unintentional changes. It will also help in having them as part of PRs that show the schema change and how it affects the "golden standard".

@vbatts Thoughts?

[2016-04-15 23:32] philips commented on #34
+1 on that. It would be nice to have it test both the markdown embedded and examples but that is more of a nice to have.

[2016-04-16 14:57] vbatts commented on #34
So we could add the files from the embedded markdown examples as files, and have a test target against them.
https://gist.github.com/vbatts/b3e4fc231fbc92a9cbc28b9184f0b2d2 is what I was using when writing the schema.

I'm not really sure of a clean way to work with the examples while they're embedded in the markdown though.

[2016-04-16 21:09] wking commented on #34
On Sat, Apr 16, 2016 at 07:57:13AM -0700, Vincent Batts wrote:

Probably just make sure all embedded examples are subsets of the
stand-alone example JSON.  It shouldn't be too hard to pull out the
JSON blocks by looking for ‘```json’ and ‘```’ delimiters, and then
checking to see if that snippet is contained in one of a set of
stand-alone files.  If this approach sounds useful, I'm happy to write

[2016-04-18 14:18] vbatts opened #35 "Serialization vs. Manifest"
* The serialization.md shows a config json per layer, where the manifest.md only has one config json. What happens during translation here?

* The serialization.md shows file names for the objects, where the manifest.md just has the objects in a base-layer-first order.

[2016-04-18 14:41] vbatts opened #36 "Serialization.md needs a big overhaul"
Per https://github.com/opencontainers/image-spec/pull/26#issuecomment-210608962 and
https://github.com/opencontainers/image-spec/issues?q=is%3Aissue+is%3Aopen+label%3A%22component%2Fserialization+spec%22

There is much cruft carried forward with the version that was cherry-picked for this image-spec.

[2016-04-20 04:39] kamalmarhubi opened #37 "Clarification re layer parents: can it be omitted? Are non-chains possible?"
Will it be possible with this spec to share tar blobs across multiple images? Requiring a parent field in a layer's metadata could make that impossible, depending on what's hashed and how, but I've had trouble finding out if a parent is required.

My ideal is to be able to specify an image as a collection of tar files that contain disjoint collections of files. Multiple images might share data or

[2016-04-20 04:40] kamalmarhubi commented on #37
As an aside: I think the choice of the word "layer" is confusing and underdefined in this spec.

[2016-04-20 17:21] vbatts commented on #23
Once you've gotten all the objects on disk specified in a manifest, there will be a validation and translation to the runtime-spec bundle, or similar. This needs to be outlined as well.

[2016-04-20 18:02] stevvooe opened #38 "Consider a packed archive format for content addressable content"
With `docker save`, we typically have a complete image that can be transported independent of a registry. It includes configuration, layers and pointers to the actual content.

For OCI, we should define a similar tree-structured format focused on distributing OCI manifests and constituent content addressable content. The resulting archive can be used to transport complete OCI images based on manif

[2016-04-20 18:05] philips commented on #38
I am certain that this is the same spirit of @vbatts issue on https://github.com/opencontainers/image-spec/issues/23

[2016-04-20 18:23] stevvooe commented on #38
@philips No, it is quite different. I understood his issue is identifying the actual artifacts involved in an image, whereas this is a format for packing them into a single file.

Using multimedia encoding as an example, imagine #23 as being the video encoding format and this issue as defining the container format, such as mkv or mp4.

[2016-04-20 20:15] vbatts commented on #38
I'm confused. This sounds like what I was (poorly) attempting to arrive at.
With a user story like "As an opensource project, I want to produce an OCI image for the world to consume" what do I do to get this packed archive?

[2016-04-20 21:06] stevvooe commented on #38
@vbatts Perhaps, with the original title. The new title is now "Outline the transportable objects". I saw that as defining the inner components (manifests, layers, image config, etc.).

I was imagining it like this:

[code]

Are separate these concerns?

[2016-04-20 21:28] crimeminister commented on #38
I am curious as to whether or not OCI is committed to tar as the only export format for images. Is there any value in looking at other options, e.g. 7z, SquashFS, etc.?

[2016-04-20 21:46] wking commented on #38
On Wed, Apr 20, 2016 at 02:28:56PM -0700, Robert Medeiros wrote:

I think the OCI specifying a particular family of serializations and
distribution APIs is independent of whether a discovery registry
*requires* those serializations and distribution APIs [1].  In that
case, OCI work like this issue doesn't exclude alternative
serializations from the discovery-registry ecosystem (although a
particul

[2016-04-20 22:20] philips commented on #23
I think there are two things here.

Spec out a directory layout for manifests and blobs that mirrors how the image manifests work. My suggestion is that the manifest is the primary object in the system so the other "things" are adjacent.

[code]

Build a tool that consumes this directory and creates a runnable OCI bundle.

[code]

[2016-04-20 22:21] philips commented on #37
@kamalmarhubi Can you open a new issue on the use of layer and your concerns with it?

[2016-04-20 22:24] philips commented on #37
@kamalmarhubi The intention is to allow for images to share blobs. For example you could imagine that the blobs in my example here could be hardlinks to other blobs on the filesystem: https://github.com/opencontainers/image-spec/issues/23#issuecomment-212636147

(similar to like git clone --shared)

Or, you could imagine that a transport over HTTPS could be defined that uses a shared CAS store to

[2016-04-20 22:25] philips commented on #34
@stevvooe Are you going to work on this?

[2016-04-20 22:56] stevvooe commented on #34
I can look into it, but I'm not very familiar with JSONSchema. If anyone could suggest tools or an approach, that would be helpful.

I'll probably just use a Go package and a Makefile, barring common tools above.

[2016-04-20 23:32] wking commented on #23
On Wed, Apr 20, 2016 at 03:20:44PM -0700, Brandon Philips wrote:

I'd expect the format should also include signatures and the name ↔
format://manifest-hash being asserted by those signatures, because the
“I just want to attach one thing” workflow [1] shouldn't require
additional network activity to collect those names and signatures.

And the single-archive-tar use-case needs a HEAD reference or

[2016-04-20 23:34] philips commented on #23
VERSION doesn't seem necessary. The manifests describe themselves.

[2016-04-20 23:35] philips commented on #23
I am sort of "meh" on creating some optimization around forcing a user to specify exactly what they want to render. HEAD and "latest" create all sorts of weird races and UX.

[2016-04-20 23:55] wking commented on #34
On Wed, Apr 20, 2016 at 03:56:44PM -0700, Stephen Day wrote:

#18 and #32 already landed the JSON Schema and Go tooling for
validating stand-alone JSON [1], so you probably don't need to write
new stuff there.  There's a README for that approach in [2], if that
helps get you started.

You will need to add the example JSON manifests, etc. that are used to
test the schema, and some tooling to run va

[2016-04-21 00:00] wking commented on #23
On Wed, Apr 20, 2016 at 04:34:24PM -0700, Brandon Philips:
“VERSION doesn't seem necessary. The manifests describe themselves.”

But they don't describe the format of the structure holding the
manifests.  For example, maybe a later version of that structure
decides to follow Git in fanning-out the blob store.

[2016-04-21 00:05] wking commented on #23
On Wed, Apr 20, 2016 at 04:35:39PM -0700, Brandon Philips wrote:
“I am sort of "meh" on creating some optimization around forcing a
user to specify exactly what they want to render. HEAD and "latest"
create all sorts of weird races and UX.”

It lets you run (for the tarball case [1]):

  $ ocitool runtime-bundle file:///path/to/my-oci-image.tar.gz
  $ ocitool runtime-bundle https://example.com/pat

[2016-04-21 00:36] stevvooe commented on #34
@wking Thanks!

validate.go should be sufficient to get started. Do we want to consider the specification to be the source of all golden standards?

[2016-04-21 02:51] kamalmarhubi opened #39 ""Layer" is not the right term"
Given the discussion on #37 and [on the mailing list](https://github.com/opencontainers/image-spec/issues/37#issuecomment-212637246), non-chain topologies of "layers" are possible and parents are in fact optional. Given this, I think the term "layer" is not ideal. I think it comes directly from Docker's implementation and particularly from the Dockerfile build mechanism. For this spec, I think the

[2016-04-21 02:57] kamalmarhubi commented on #37
@philips

I've attempted to do so in #39.

[2016-04-21 02:58] kamalmarhubi commented on #37
Yeah I think this is the ideal I'd like to be easily achievable.

[2016-04-21 03:08] kamalmarhubi commented on #22
For a take on this, take a look at https://cyberphone.github.io/openkeystore/resources/docs/jcs.html

It specifies ordering and scope of subobjects that are signed.

[2016-04-21 03:15] kamalmarhubi commented on #22
As another alternative in this space, there's the approach taken by [TUF](http://theupdateframework.com/), which creates an object like:

[code]

where they use [Canonical JSON](http://wiki.laptop.org/go/Canonical_JSON) to form the byte sequence to be signed based on the `signed` object.

[2016-04-21 03:22] kamalmarhubi commented on #23
Clarification: is `v1.0` and `v1.0-debug` an example set of manifests where the latter is a debug build of the same artifact?

[2016-04-21 03:26] kamalmarhubi commented on #25
Will a traversal order for the filesystem contents be specified for the hash of the layer tar file?

[2016-04-21 03:28] kamalmarhubi commented on #25
Ah I see this is what you mean about there being mulltiple layer tar files with the same contents.

[2016-04-21 03:31] kamalmarhubi commented on #38
@crimeminister I'd be interested in having SquashFS usable for this purpose on Linux. It would allow building the runtime layout via mount which is a nice property.

[2016-04-21 03:32] timthelion commented on #37
Before we go and invent a new standard for CAS, have the existing, better studied, CAS stores been ruled out? Specifically, IPFS:  [IPFS](https://ipfs.io/) ping @jbenet @whyrusleeping

[2016-04-21 03:59] wking commented on #39
On Wed, Apr 20, 2016 at 07:51:49PM -0700, Kamal Marhubi wrote:

While I don't think baking parent information into a layer is
necessary [1], all Docker-like serialization formats I've seen use a
single, ordered array of tarballs (with whitelist/blacklists?).  I'm
personally a fan of the increased granularity (sub-file!) of IPFS's
unixfs objects (to avoid issues like [2]), but as long as the
serial

[2016-04-21 04:08] wking commented on #22
On Wed, Apr 20, 2016 at 08:15:37PM -0700, Kamal Marhubi wrote:
“… they use Canonical JSON to form the byte sequence to be signed
based on the `signed` object.”

That sounds like a reasonable approach as far as signing sub-objects
goes.  My only experience with signed and unsigned portions of objects
is from writing an OpenPGP implementation (e.g. see [1]), and working
on it made me want to claw ou

[2016-04-21 04:17] wking commented on #23
On Wed, Apr 20, 2016 at 08:22:56PM -0700, Kamal Marhubi wrote:

I don't think it really matters what the difference between the names
is.  It just matters that you can put multiple named manifests into
the file.  I'm not sure that's a requirement for the initial use case,
but I think it's useful to channel git-bundle [2] (which also allows
multiple references in a single bundle).

[1]: https://git

[2016-04-21 04:24] kamalmarhubi commented on #23
I mean is that the intention of the running example. Otherwise I'm confused.

[2016-04-21 05:22] whyrusleeping commented on #37
I would love to chat about this, and i'm sure @jbenet would too

[2016-04-21 05:28] timthelion commented on #37
@whyrusleeping Just to let you know, due to my need for de-duplication and fast updates, IPFS support is the No. 1 priority for the [subuser](subuser.org) project. So even if IPFS doesn't get integrated with THIS standard, I'm going to be trying my hardest to get it so that IPFS works with containers in the future :)

[2016-04-21 05:36] philips commented on #23
@kamalmarhubi sure, just something where you could imagine a different set of default args, environments, or some additional objects added to the layer. I could have said v1.0 and v2.0 as well.

[2016-04-21 08:23] jbenet commented on #37
@timthelion thanks for the ping! I think we have a lot to contribute here, particularly with a few relevant pieces and tooling from ipfs land. Can we catch up separately first (@timthelion @philips), to make sure we add the most value here and are brought up to speed with what you're thinking? Maybe a hangout fri?

Some relevant things of interest:
- IPLD: merkleized data interchange format. -- ht

[2016-04-21 17:10] philips commented on #39
I agree this is something we should discuss and address. I am making it a post v1.0.0 item though.

[2016-04-21 17:59] vbatts commented on #38
@crimeminister I do like the use-cases using squashfs. They enforce read only, the kernel supports them nicely, and they compress well for transport.
Tar archives are also surprisingly widely support and are the current primary packaging format for containers. While I hope to see more innovation in this area, I expect things may stay partially favoring to tar archives.

[2016-04-21 20:21] stevvooe commented on #38
While SquashFS may be an appropriate target, "the kernel" assumes linux.

However, I am not sure that this is relevant to this issue. In this issue, we are more focused on how the target artifacts are shipped. Whether or not they are SquashFS is irrelevant. This may make more sense to discuss in #23, where a SquashFS artifact could be a possible element of an image.

[2016-04-21 20:38] stevvooe commented on #22
One time artifact generation with unattached signatures is the sweet spot for content addressable, sign-able content. Anything else creates too high of an engineering burden to maintain flexibility under future changes.

@kamalmarhubi We employed something similar in docker, except we used "prettyjws" version of it. The primary problem is that the target of the signature needs to be unpacked from

[2016-04-22 00:42] stevvooe commented on #34
Took a small pass at this in #41.

#41 proposes maintaining examples in specifications. All examples are a part of the specification, rather than maintaining them in external files.

If we like that approach, I can round out that PR and we can move forward.

[2016-04-22 02:49] ibuildthecloud commented on #11
Every enterprise I work with wants a trusted repository of data.  This is a model they are very familiar with.  Think rpm/deb repo or Java's maven repos.  How does this name delegation model work for this model?  For example imagine nginx comes from nginx.com.  But in the "enterprise" they want to mirror the images from nginx.com to their local servers such that when a user pulls "nginx" it goes t

[2016-04-22 05:47] philips commented on #11
Configuration to declare where the mirror is for nginx.com or more likely
'*'. It is just namespaces that has some default useful semantics.

On Thu, Apr 21, 2016, 7:49 PM Darren Shepherd <notifications@github.com>
wrote:

[2016-04-22 06:57] ibuildthecloud commented on #11
Does this work today already on rkt or appc?  I'd like to understand more.  I'm trying to wrap my head around this.  The fact that it's model after go is the problem for me.  Go has so many distribution problems where other languages like node and Java don't really.  But the fundamental difference in the two is that node/Java have a centralized de facto store for everything (npm/mvn central).  I h

[2016-04-22 14:17] timthelion commented on #11
@ibuildthecloud Is what you are suggesting actually, technically different than an indefinitely caching proxy with a hand written white list? In that case, such proxys already exist, and no software on OPCs side is necessary. Just set up your "in enterprise" systems to use the companies proxy, and curration and trust management can happen when writting the white list.

[2016-04-22 14:39] vbatts commented on #34
I like it.

On Thu, Apr 21, 2016 at 8:42 PM, Stephen Day <notifications@github.com>
wrote:

[2016-04-22 14:40] vbatts commented on #34
Also, it would dictate that a new item for the `style.md` showing how to do
the mime-type json examples.

On Fri, Apr 22, 2016 at 10:39 AM, Vincent Batts <vbatts@hashbangbash.com>
wrote:

[2016-04-22 15:08] vbatts commented on #39
[Appc/spec](https://github.com/appc/spec) allows this. In fact the folks at BlaBlaCar are doing this in https://github.com/blablacar/dgr
It's something I feel ought to be allowable, but not immediately if it's going to break compatibility in this initial v1 release.

[2016-04-22 15:46] vbatts commented on #23
re: https://github.com/opencontainers/image-spec/issues/23#issuecomment-212636147

It is logical, though very different from say the current `docker save/load` format.
Does this rule out the possibility of a config per rootfs? (even if only for historical audit).
Is the `./manifests/v1.0-debug` an alternate manifest that would include filesystems with debug symbols and tooling?

An aside: like the

[2016-04-22 15:48] philips commented on #23
@vbatts where is the docker save/load format documented?

[2016-04-22 15:51] philips commented on #23
On Fri, Apr 22, 2016 at 8:47 AM Vincent Batts <notifications@github.com>
wrote:

I don't believe so. The configs are CAS, right?
https://github.com/opencontainers/image-spec/blob/master/manifest.md#example-image-manifest

 Sure, I am just pointing out that someone will likely want a "fat" bundle
that contains 1 or more manifests and some potentially shared blobs.

Not following, file a separate is

[2016-04-22 16:02] kamalmarhubi opened #42 "Detail compatibility requirements of v1.0"
I have gathered from various discussions that the intention is to have v1.0 be compatible with Docker's spec. If that's right, the goal should be detailed in the README or elsewhere, along with some justification.

[2016-04-22 16:03] kamalmarhubi commented on #39
@vbatts

I find this notion of breaking compatibility in a v1 to be odd. I opened #42 to make sure I'm understanding correctly that v1 is meant to be compatible with Docker's current spec.

[2016-04-22 16:04] kamalmarhubi commented on #42
The scope of "allowed" deviations from this should also be outlined. It's a bit unclear to a newcomer what the scope of this project is, assuming this restriction.

[2016-04-22 16:08] kamalmarhubi commented on #11
Is there room for [TUF](http://theupdateframework.com/)'s delegation notions to get incorporated here? The have a pretty fine grained way of delegating trust for certain packages to different sources, with a well-studied set of security / authenticity guarantees.

[2016-04-22 16:12] kamalmarhubi commented on #22
@stevvooe I think that makes sense. Since we're distributing multiple blobs and manifests as part of an image, it sounds simpler to have "sidecar signatures".

[2016-04-22 16:31] wking commented on #11
On Fri, Apr 22, 2016 at 09:08:29AM -0700, Kamal Marhubi wrote:

Notary [1,2] is a wrapper around TUF.  More notes on that and thoughts
about trust delegation here [3].

[1]: https://github.com/opencontainers/image-spec/issues/11#issuecomment-208518335
[2]: https://github.com/docker/notary
[3]: https://groups.google.com/a/opencontainers.org/forum/#!topic/dev/2RC_GN35ltU
     Subject: Signature veri

[2016-04-22 16:52] philips commented on #11
On Fri, Apr 22, 2016 at 9:08 AM Kamal Marhubi <notifications@github.com>
wrote:

Namespaces in TUF and in particular Notary can use a DNS form.

Here is a concrete example from the docs:
https://github.com/docker/notary/blob/master/docs/getting_started.md#understand-notary-naming

[2016-04-22 17:52] vbatts commented on #23
@philips save/load is not documented to my knowledge.

That was my thought. If they're present but not used, then "undefined behaviour" I suppose.

that contains 1 or more manifests and some potentially shared blobs.

Right on.

Just a brainstorm. I'll mull on it further.

[2016-04-22 17:55] vbatts commented on #23
@stevvooe in your opinion, if there were ever a `docker save --format=oci.v1 ...` flag, would you see that being feasible with https://github.com/opencontainers/image-spec/issues/23#issuecomment-212636147 ?
Wouldn't mind weigh-in from @aaronlehmann

[2016-04-22 18:00] vbatts commented on #39
@kamalmarhubi It seems odd, granted, and I would like it to not be the case either. The intention of the spec is to carry forward lessons learned, and build on the pervasive industry standards. So some changes that would break much infrastructure need to be planned and coordinated. It's not an entirely clear line.

[2016-04-22 19:14] kamalmarhubi commented on #42
Copying [@vbatts' response on #39](https://github.com/opencontainers/image-spec/issues/39#issuecomment-213531134):

[2016-04-22 19:17] kamalmarhubi commented on #42
Thinking a bit more: Docker has not had an issue introducing an incompatible image format in their v2.x spec. Given that, it's really unclear to me why Docker's image format is so privileged that the OCI image-spec v1.0 can't be incompatible with it.

[2016-04-22 19:29] wking commented on #42
On Fri, Apr 22, 2016 at 12:17:07PM -0700, Kamal Marhubi wrote:

I expect @stevvooe can answer this, but my guess is that a
consumer-side “has not had an issue” is because the Docker folk did a
lot of legwork on the backend to provide backwards compatibility ;).
The restriction on this repo is probably just “if we break backwards
compatibility and require that backend legwork, we should only do it

[2016-04-22 20:44] vbatts commented on #36
https://github.com/docker/docker/pull/22264

[2016-04-22 20:50] vbatts commented on #23
@philips so sorry. save/load is here https://github.com/opencontainers/image-spec/blob/master/serialization.md#combined-image-json--filesystem-changeset-format

[2016-04-26 13:32] philips opened #43 "oci-image-tool: rough sketch"
We need a tool to make it easy for people to validate and play with an OCI Image.

Basic validation tool that can parse and inspect all of the objects inside of the OCI Image spec

[code]

Unpack an image on disk (dependency on https://github.com/opencontainers/image-spec/issues/23)
 to a OCI [runtime bundle](https://github.com/opencontainers/runtime-spec/blob/master/bundle.md):

[code]

Details:

[2016-04-26 15:29] vbatts commented on #43
not to be confused with https://github.com/opencontainers/ocitools ?

[2016-04-26 15:40] philips commented on #43
@vbatts I think we should rename ocitools to ocirtool or something. It is already focused on the runtime.

[2016-04-27 17:03] philips commented on #43
@vbatts I will work on renaming it oci-runtime-tool with @mrunalp

[2016-04-27 17:05] philips commented on #43
@s-urbaniak is going to work on this one

[2016-04-27 17:16] philips commented on #43
@s-urbaniak you can steal validation code from here: https://github.com/opencontainers/image-spec/pull/41

[2016-04-27 17:43] philips commented on #36
@vbatts I am ready to merge this improved doc after reviewing it. Are we blocked on that PR or can we merge it as-is and then add fixes as they go?

[2016-04-27 17:58] vbatts commented on #36
hmm. i'm okay with merging and adding fixes as we/they go

[2016-04-27 18:04] philips commented on #36
@vbatts you got dis or do you want me to do it? Lets wait a day or so to merge it.

[2016-04-27 18:06] vbatts commented on #36
k. I'll open a PR

[2016-04-27 22:27] brendandburns commented on #11
Here are the three use cases as I see it:

   1) User doesn't care at all about name delegation, they use an existing registry for all images (e.g. `gcr.io/brendanburns/foo`, `gcr.io/brendanburns/bar`, ...)

   2) User is running inside their own data center, doesn't trust anyone, doesn't want to go outside their LAN.  In this case user still doesn't care about delegation, but they run their own r

[2016-04-27 22:42] stevvooe commented on #11
@brendandburns To clarify, are you saying that the user should be able to configure the naming authority for `my-company.com`? If a user pulls, `my-company.com/bar/foo` and gets `my-company.com.gcr.io/bar/foo`, what is the name of the resulting image?

We can agree, here. Allowing remotes or local to manipulate paths quickly gets out of hand.

Put differently, if we expressed naming as a function

[2016-04-27 22:45] brendandburns commented on #11
@stevvooe the name of the image is still `my-company.com/bar/foo` just like if you visit `www.company.com` and it CNAME's to `storage.googleapis.com` your browser still shows `www.my-company.com` in the URL bar.

[2016-04-27 22:49] brendandburns commented on #11
@stevvooe put another way, this all happens in the DNS subsystem, so the client code pulling the image doesn't even notice.  They just see `my-company.com` resolve to `1.2.3.4` which happens to be the IP for `my-company.com.gcr.io`

[2016-04-27 23:13] philips commented on #11
On Wed, Apr 27, 2016 at 3:27 PM Brendan Burns <notifications@github.com>
wrote:

Yes, exactly.

CNAME doesn't work if you want TLS delegation to be "secure", right?

I think of delegation based on DNS/well-known URI as a "globally
distributed default". If you want to override the default you need to
configure that policy at a cluster/machine level, similar to download
credentials.

Depending on th

[2016-04-27 23:17] stevvooe commented on #23
@vbatts `docker save` with a format parameter doesn't seem wildly out of place. I would like to see what @aaronlehman would have to say.

It may be a good idea to decouple the save format from the serialization specification (or slice it differently).

The only difference I would have is to have an extra layer of indirection in the save format for the tag types:

[code]

We then give the "refs" a

[2016-04-27 23:21] brendandburns commented on #11
It seems to me that TLS should be fine, as long as the thing you are delegating to holds the cert for the original registry.

I think there are two cases to consider (and maybe this is the source of confusion) there is the pure delegation case: "I don't have a registry, but I want a vanity domain" and the mirror case "There's some registry out there, but for various reasons, I want to actually acc

[2016-04-27 23:36] stevvooe commented on #11
I don't see how we can dismiss TLS here. We still need to provide secure connections to both the white label domain and the upstream. They may be different.

How can this happen at a pure dns-level if the primary and delegate domains may have different implementations and certificates? If it really is just pure DNS, why not just tell users to use a CNAME and be done with this? If it really is just

[2016-04-27 23:37] wking commented on #23
On Wed, Apr 27, 2016 at 04:17:40PM -0700, Stephen Day wrote:

This is just pushing the manifest content into CAS, which I think is a
great idea.  In [1], I called those “metafile blobs” and suggested
following TUF and allowing an opaque ‘custom’ field in case the signer
wants to attach additional information (e.g. an expiration timestamp).
Then I suggest pushing the metafile blobs into CAS as well

[2016-04-28 01:59] vbatts commented on #23
@stevvooe so that is not far off from https://github.com/opencontainers/image-spec/issues/23#issuecomment-212636147
@philips what do you think of the manifests json doc itself being in the blobs/objects path, having a reference point to it?

[2016-04-28 16:40] brendandburns commented on #11
@stevvooe I'm not dismissing TLS.   The CNAME option would involve a user defining a whole subdomain (e.g. `registry.mycompany.com`) creating a new different cert just for that subdomain, and storing that cert with their registry provider.  And then CNAME over to the registries DNS, (similar to the flow here: https://www.keycdn.com/blog/cdn-ssl-made-easy/)

I think the goal in the spec is to desig

[2016-04-28 16:58] philips commented on #36
@vbatts this stuff replaces the config in serialization.md?

[2016-04-28 17:32] vbatts commented on #36
not so much *replaces*, but updates

[2016-04-28 22:11] stevvooe commented on #11
@brendandburns I see. Sorry about the harsh wording here.

How is this different from using TLS with a CNAME as one normally would? It sounds like a very standard usage. Am I missing something? Why does it need to specified? Seems like it belongs in recommendations or best practices.

As an interesting data point, I have suggested this approach situations looking "spruce" up the registry urls. Typ

[2016-04-28 22:23] brendandburns commented on #11
@stevvooe
In my mind, hosting keys isn't really a challenge for most cloud providers, since they already have to do it in order to terminate SSL for their load balancers.

Regarding spec. versus best practice, I guess the point is that this issue says: "define a spec" if we decide that CNAME is what we would suggest then we'll just close this issue as "done" ;)

[2016-04-28 22:38] stevvooe commented on #11
In principal, but are any registry providers currently offering this? I couldn't find it in gcr or ecr and I don't think Docker Hub has it either.

Either way, I am not sure that CNAME is an interesting case. It sounds like more interesting topic is decoupling naming from location.

[2016-04-28 23:35] philips commented on #42
@kamalmarhubi we should try not to introduce an incompatible serialization/layer mime-type because it will cause lots of duplication on the backend for public registries that are holding onto terabytes of layers and make it so they can't "port" them forward to OCI without creating a copy.

@wking Docker has had to [break old clients in the past](https://blog.docker.com/2015/10/docker-hub-deprecati

[2016-04-28 23:49] philips commented on #14
Should be added to this doc: https://github.com/opencontainers/image-spec/blob/master/media-types.md

[2016-04-28 23:50] wking commented on #42
On Thu, Apr 28, 2016 at 04:35:33PM -0700, Brandon Philips wrote:

+1 to being able to simultaneously distribute several serializations
of your container (e.g. pushing older formats, potentially to older
registries for Docker 1.5 and earlier).  I keep calling that the
“registered protocol” approach [1], but am happy to switch terms if
there's already an accepted name.

And with the trusted signer p

[2016-04-28 23:57] stevvooe commented on #42
I'm not sure if I can contribute here other than to say that we broke compatibility for very good reasons.

The short answer is that we "broke it" for very good reasons and we did so slowly and methodically.  This was nothing but painful for the engineers involved, the fruits of which reflected over a year of work from a talented team of Docker employees, contributors, partners and users. It _was_

[2016-04-29 00:04] philips commented on #42
Exactly. Thanks for the detailed reply @stevvooe.

[2016-04-29 02:15] #34 closed

[2016-04-29 02:19] ibuildthecloud commented on #11
Is there some technical reason why this discussion is termed "name delegation" and not "discovery?"   It seems so much simpler if we talk about discovery.  That is just defining a process of looking at X, Y, and Z in some specific manner.

[2016-04-29 07:41] timthelion commented on #11
In my understanding, name delegation and discovery are two related
processes, and one is harder than the other ;). Name delegation is the
science of creating unique identifiers, it typically requires either
centralization or randomness. In the DNS system, name delegation is
centralized, when you create a new domain name, you reserve it in a
central registrar. However, DNS lookup (aka discovery) is

[2016-04-29 07:59] s-urbaniak commented on #43
@philips great, thanks, this will keep me busy the next few days. Mind assigning this to me (or give privileges to do so)

[2016-04-29 09:47] s-urbaniak commented on #43
@vbatts @philips How about moving `github.com/opencontainers/ocitools` to `github.com/opencontainers/runtime` and create a `github.com/opencontainers/image` repo for the implementation of this very issue?

The directory structure could be:
[code]
and for the image concerns an equivalent:
[code]

[2016-04-29 15:39] vbatts commented on #16
https://github.com/opencontainers/image-spec/pull/47#issuecomment-215598736

[2016-04-29 17:17] brendandburns commented on #11
@stevvooe CNAME is one way of decoupling naming from location.  It's a way of saying: "for this location, the canonical (that's the 'C') location is this other location over here"

and though no one currently provides it, it seems that the point of developing a specification is to encourage providers to add support.

Again, in my mind there are two options with the pros and cons outlined above.  T

[2016-04-29 17:36] philips commented on #11
@brendandburns Yes, the purpose is to get to a solution and commit. Ping the other maintainers: @jonboulle @jstarks @jbouzane @vbatts to chime in on how they feel. If you are coming new to this thread see @brendandburns [excellent write-up](https://github.com/opencontainers/image-spec/issues/11#issuecomment-215250341) on pros/cons of various options for name delegation.

Also, paging @josephschorr

[2016-04-29 17:50] philips commented on #43
@s-urbaniak I think keeping the tool with the spec is good. It means overtime spec changes come with working code for handling the schema. Honestly I hope we can merge ocitool back into the runtime repo at some point.

[2016-04-29 18:29] josephschorr commented on #11
@brendandburns, @stevvooe: Speaking just from the perspective of the registry, as @philips alluded to, we've considered the idea of "white labeling" via CNAME for some time. The original goal was to allow name owners (e.g. "redhat.com") to delegate pulls from their own domain to Quay, such that `docker pull cooldomain.com/someimage` would be rewritten as `docker pull quay.io/someorgforcooldomain/s

[2016-04-29 19:08] stevvooe commented on #11
@philips I still think we need a solid problem definition before moving forward. I'd still like a solid answer to, if we represent naming delegation as a function `f(name) -> y`, what is the type of `y`? The reason I ask it in this format is that for well-known vs CNAME, the type of `y` may be very different. In the well-known case, `y` could be a fairly wide set of protocols and locations. With C

[2016-04-29 19:39] wking commented on #11
On Fri, Apr 29, 2016 at 12:08:51PM -0700, Stephen Day wrote:

Labels to all the steps would be nice.  In the beginning, you have
something like ‘cooldomain.com/someimage’.  In the end you have a CAS
hash from which you can unpack the bundle (see also #23).  It sounds
like things folks have discussed are:

* metadata_interpolate(name, platform_information) -> URL [1]
* cname_redirect(URL) → URL [2]

[2016-04-30 17:15] kamalmarhubi commented on #42
Thanks @stevvooe, @wking, @philips!

[2016-04-30 19:42] #16 closed

[2016-05-02 05:25] philips commented on #42
I am going to close this out and try and write-up the overall sentiment from @stevvooe and my comments into the media-types.md compatibility matrix.

Thanks for the conversation @kamalmarhubi

[2016-05-02 05:25] #42 closed

[2016-05-02 07:16] philips commented on #7
@vbatts can you give an update on where this is now? I think serialization doc is now covered, right?

[2016-05-02 07:16] philips commented on #7
@vbatts perhaps open a new issue for sharing and then we can close this out?

[2016-05-02 07:17] philips commented on #22
Moving to v0.2.0 as I don't think anything actionable has come out of this yet.

[2016-05-02 07:18] philips commented on #25
@vbatts the new serialization doc removes all of the non CAS ids, right? This can be closed, I think.

[2016-05-02 07:19] philips commented on #36
@vbatts are we waiting on anything or can this be closed out?

[2016-05-02 07:21] philips commented on #35
@vbatts who can help with this? What would your ideal be?

[2016-05-02 07:24] philips commented on #23
@vbatts what do you mean by a reference that points to it? Like a symlink? A symlink seems fine.

I don't really think we should add a layer of indirection with a new JSON type that then points to an object unless there is a really great reason for it.

[2016-05-02 08:58] s-urbaniak opened #53 "manifest: application/vnd.oci.image.serialization.v1+json is unspecified"
The Image Manifest specifies a "config" object in https://github.com/s-urbaniak/image-spec/blob/master/manifest.md#image-manifest-field-descriptions and references a `application/vnd.oci.image.serialization.v1+json` media type but it is not specified.

Can I assume this refers to `application/vnd.oci.image.serialization.config.v1+json`?

[2016-05-02 10:08] s-urbaniak opened #54 "ambiguity of manifest.json in Combined Image JSON + Filesystem Changeset Format"
https://github.com/s-urbaniak/image-spec/blob/master/serialization.md#combined-image-json--filesystem-changeset-format specifies a couple of files, none of which have any media types defined:

- `VERSION` (plain text file) schema version of the following `json` file
- `json` (json file), pointing to a "version 1" metadata format of the, which show 404.
- `repositories` (json file)
- `layer.tar` (l

[2016-05-02 14:37] s-urbaniak commented on #43
@philips I am writing a basic validation function now, stealing ideas from `actool`.

Validation in a first rough sketch would include:
- `oci-image-tool validate --type config`: simple validation of _application/vnd.oci.image.serialization.config.v1+json_
- `oci-image-tool validate --type manifest`: simple validation of _application/vnd.oci.image.manifest.v1+json_, or _application/vnd.oci.image.m

[2016-05-02 14:48] vbatts commented on #7
There is nothing done for the serialization.md file yet, but I can track that separately. It's a more intricate document than the manifests.

[2016-05-02 14:48] #7 closed

[2016-05-02 14:53] vbatts opened #56 "JSON schema for the serialization formats"
Carrying over from #7 but specifically for the serialization formats.

* [x] [image JSON](https://github.com/opencontainers/image-spec/blob/master/serialization.md#image-json-description)
* [x] [`repositories` JSON](https://github.com/opencontainers/image-spec/blob/master/serialization.md#combined-image-json--filesystem-changeset-format)
* [x] [`manifest.json`](https://github.com/opencontainers/im

[2016-05-02 14:54] s-urbaniak commented on #54
xref https://github.com/opencontainers/image-spec/issues/56

[2016-05-02 14:55] vbatts commented on #25
Correct.

[2016-05-02 14:55] #25 closed

[2016-05-02 16:28] wking commented on #23
On Mon, May 02, 2016 at 12:24:42AM -0700, Brandon Philips wrote:

I'd caution against symlinks and stick with explicit by-hash
references to CAS objects.  Symlinks will work fine in the tarball
context, but are problematic in other contexts (e.g. when pushing to
an API).  Since this serialized format seems like it's intended to be
a tarball of the usual manifest + names (and signatures?), I think

[2016-05-02 16:40] brendandburns commented on #11
@stevvooe @philips

I think the problem definition is

[code]

where an IP address is a degenerate domain name.

I see no reason not to do anything else.

There may be a bigger type (e.g. `[]Mirror`) used to implement that function, but that's what the function is.

[2016-05-02 16:46] wking commented on #11
On Mon, May 02, 2016 at 09:40:16AM -0700, Brendan Burns wrote:

If your initial image name is ‘cooldomain.com/someimage’, I'm guessing
‘cooldomain.com’ is what you're feeding this function.  Are you
requiring DNS- or IP-based names for all images and not supporting
names like ‘debian’?  Or are those names allowed, and they just don't
get namespace delegation?  And how is the resulting DomainName t

[2016-05-02 16:49] brendandburns commented on #11
Personally, I think we need to require well-formed domain names.

Both of the methods discussed so far (either DNS or a well-known-URI) require a domain name that is resolvable.

[2016-05-02 17:04] vbatts commented on #23
@philips Sorry for now being clear. I was thinking that `./manifests/0.8.0` or `./refs/0.8.0` file just had a `sha256:deadbeef..` contents. Where that referenced object is the JSON document.

[2016-05-02 17:05] wking commented on #11
On Mon, May 02, 2016 at 09:49:26AM -0700, Brendan Burns wrote:

For DNS-based delegation, sure, but DNS-based naming and delegation is
optional [1].  The overall name-resolution problem is to go from a
container name (whatever format) to a CAS hash.  In [2,3] I sketch out
name → CAS hash in a generic:

  registryLookup(name, trustStore) → (CAS hash, error)

format, and having more clarity on how t

[2016-05-02 17:06] vbatts commented on #54
This is unclear to me too.

[2016-05-02 17:12] brendandburns commented on #11
I guess my view on this is that they are two related, but independent problems.

In my mind, here is how they go together:

Basically `registryLookup(...)` in your above requires the name of an actual, functioning registry.

Whereas `getNamespaceDelegate` just requires a registry name (which may be an alias)

So the code looks like this:

[code]

[2016-05-02 17:30] wking commented on #11
On Mon, May 02, 2016 at 10:12:42AM -0700, Brendan Burns wrote:

I was imagining users could configure their client to use a number of
registries, over a number of registry protocols.  Then the client
could check them all (“Registry1, have you heard of image ‘debian’?
No?  Registry2, have you heard of image ‘debian’?  Ah you have three
images called ‘debian’.  It looks like I only trust the second

[2016-05-02 17:59] brendandburns commented on #11
hrm, I kind of strongly believe that all images are the combination of the `(registry, image-name)` tuple.  e.g. an image named `debian` shouldn't exist, there is an image named `debian.org/debian`

For the purposes of trust, this means that either:

*Owner delegated trust* (aka, registry aliases)
I trust `debian.org` and `debian.org` delegates trust to `gcr.io` via either of the mechanisms descri

[2016-05-02 18:14] wking commented on #11
On Mon, May 02, 2016 at 10:59:16AM -0700, Brendan Burns wrote:

I disagree, but this level of trust discussion should probably happen
in #22.  For the purpose of DNS-based delegation, we agree that you
need an initial domain name associated with the image to seed the
delegation algorithm.

[2016-05-02 18:40] stevvooe commented on #11
@brendandburns The problem with assuming that an image is an `(registry, image-name)`-tuple is that we couple naming to the registry, we couple trust to the registry. The ideal setup for this is to ensure that `degian.org/debian` is the same where ever it comes from, given the same configuration on a client. If trust is delegated to `gcr.io`, an image named `gcr.io/debian.org/debian` shouldn't pop

[2016-05-02 18:43] stevvooe commented on #11
@brendandburns BTW, thank you for the functional description. This can help to ensure we are discussing the same approach.

Abstractly, we can say the function looks like this:

[code]

Where `Location` can be either an alias or concrete location.

[2016-05-02 18:56] #53 closed

[2016-05-02 19:01] #14 closed

[2016-05-02 19:35] stevvooe commented on #35
@vbatts The per layer approach should probably be dropped. Typically, Docker pulls these intermediaries up into "history".

The main question to be answered is whether images are built on other images or if they are a collection of layers. For performance and simplicity, the latter is better.

[2016-05-02 19:45] brendandburns commented on #11
Personally, I think its important that `name` is a resolvable domain name, so I'd rather have some type other than `string` in there, but other than that, yes, that seems correct.

[2016-05-02 19:48] vbatts commented on #35
Right. Which is lossy since it truncates down the config of the container that produced that image. If metadata like LABELs were not done with a Dockerfile, then that context is lost.

I would say either. And given the `mediaType`, it can dereference it, but forcefully removing config per layer seems like an arbitrary assertion.
An image built can be built on top of, and still retain it's config,

[2016-05-02 19:49] brendandburns commented on #11
@stevvooe I guess I just fundamentally disagree. the domain name in the image name isn't a registry, its a namespace.  We may ultimately resolve the domain name, and try to find a registry, but calling it a registry in this context confuses what we are trying to achive.

I shouldn't even go looking for `debian.org/debian` anywhere unless either:

a) `debian.org` delegates trust to some other regis

[2016-05-02 20:07] stevvooe commented on #11
@brendandburns I'm not sure how you can disagree with your own assertion:

Based on what you've said, I'm also confused as to how you can disagree with the following:

Why should `debian.org` be responsible for `debian.org`'s trust? Shouldn't it be up to the client to decide who to trust if they want to trust `debian.org`? Why should "trust" be delegated to the registry?

[2016-05-02 20:25] brendandburns commented on #11
@stevvooe
I'm in favor of both (hence the a) and b) in the previous comment) but I believe that the default should be that the trust is placed in the domain name.

For better or worse, domain names are the entities that hold the root of trust in our world.  By default, if I see an image that is `google.com/foo` I'm going to assume that Google is responsible for that image, and therefore it seems t

[2016-05-02 20:31] wking commented on #11
On Mon, May 02, 2016 at 01:25:19PM -0700, Brendan Burns wrote:

The X.509 hierarchy based on some assumed-responsible CAs is fine, and
a reasonable choice for a number of workflows.  But I don't see a need
to require it in the spec.  For example, if I know the publisher (say,
because I work with them) and I trust their OpenPGP key, I don't see
why I wouldn't trust name↔hash assertions signed by th

[2016-05-02 20:35] brendandburns commented on #11
Hrm, I really think we're conflating two issues:

1) is who do I trust for name to hash resolutions, and in that context, I 100% agree that if I trust a registries keys, its fine for me to trust their name to hash regardless of whether then name matches their domain name or not.

2) how do resolve a (possibly aliased) image name down to a concrete image name.

This issue is concerned with 2.

I do

[2016-05-02 20:35] philips commented on #43
@s-urbaniak LGTM, LMK when you get something going and I can look at a branch or WIP PR.

[2016-05-02 20:47] wking commented on #11
On Mon, May 02, 2016 at 01:35:29PM -0700, Brendan Burns wrote:

Both of those issues should be covered by the trust model.  Otherwise
a malicious agent could abuse the image-name canonicalization to point
folks at the “wrong” canonical name.

[2016-05-02 20:47] stevvooe commented on #11
This delegates _still_ delegates the trust model to the registry.

The problem comes when working with multiple registries. Which keys do you trust when they disagree? The only way to manage this is centralization. One approach is to partition the namespace with DNS.

I am not sure that one can honestly separate naming and trust models without redundancy and ambiguity. Can this be done without mak

[2016-05-02 20:56] vishvananda opened #59 "Image metadata without affecting the CAS"
It would be nice to be able to add metadata to an image (or a layer) without affecting the CAS id for the image. This allows for images to be built reproducibly but stills allows for keeping useful information with the image like the build date, build software versioning, build machine, etc.

This could go into a specific directory (.meta/) inside the image that can be ignored when generating the

[2016-05-02 21:02] vishvananda commented on #59
I note that there is some discussion in #22 about where signatures should be stored so that they don't disrupt the CAS hash as well. It seems that this is a general issue.

[2016-05-02 21:03] vbatts commented on #59
Like the `annotations` field?

On Mon, May 2, 2016 at 5:03 PM Vish Ishaya <notifications@github.com> wrote:

[2016-05-02 21:07] wking commented on #11
On Mon, May 02, 2016 at 01:47:24PM -0700, Stephen Day wrote:

For example, if the registry (or registries, it doesn't matter) has
two name→hash associations that disagree on the hash, and one is
signed by Alice, and another is signed by Bob, and I trust both Alice
and Bob, then I'll use the newer association.  If Alice or Bob is
doing that maliciously, then the solution is to remove them from my
t

[2016-05-02 21:13] wking commented on #59
On Mon, May 02, 2016 at 01:56:02PM -0700, Vish Ishaya wrote:

I like TUF's ‘custom’ on the signed name ↔ hash assertion [1].  You
could use that for, among other things, expiration timestamps [2].

[1]: https://github.com/opencontainers/image-spec/issues/23#issuecomment-212651871
[2]: https://github.com/opencontainers/image-spec/issues/23#issuecomment-215264458

[2016-05-02 21:13] vishvananda commented on #59
@vbatts interesting, I missed that addition. It depends on whether the json for the image is part of the CAS or lives separately. Does the image itself have a reproducible ID or is that outside the scope of the spec? I suppose annotations could work if the image ID were generated by filtering out the annotations field and taking a sha of the json file.

My goal would be to have two different build

[2016-05-02 21:17] wking commented on #59
On Mon, May 02, 2016 at 02:13:15PM -0700, Vish Ishaya wrote:
“I suppose annotations could work if the image ID were generated by
filtering out the annotations field and taking a sha of the json
file.”

^ this makes annotations unsignable and breaks content-addressability
for the image, so I'd rather not ;).

“My goal would be to have two different build machines building an
image from the same sou

[2016-05-02 21:39] vishvananda commented on #59
@wking I currently have tar and json producing stable results for a custom build system so I'm not so worried there. I understand the desire to keep everything content-addressible, but it is also important to have build metadata available. In this case I would think that annotations are not the right place for this information because it is useful at the very least to determine that multiple build

[2016-05-02 22:14] vishvananda commented on #59
I think the ideal solution is essentially something akin to a git annotated tag. Each build server could create a signed tag with their build metadata. Then there could be some way to find all annotated tags for a given image id.

Then a user could download an image based on the sha of the tag (which would be unique per build) or the sha of the image id. The runtime (docker, rkt, etc.) could resol

[2016-05-02 22:26] josephschorr commented on #11
Perhaps I'm missing something (and I apologize if I do), but wouldn't the ultimate trust model still consist of having the image pulled being signed by a recognized public key? That way, even if it is served by `gcr.io/debian`, I can still verify it is the Debian image by either transporting the Debian key manually or out-of-band (which is what Notary does)

[2016-05-02 22:26] wking commented on #59
On Mon, May 02, 2016 at 03:14:41PM -0700, Vish Ishaya wrote:

This sounds like “custom metadata in the signed name ↔ hash assertion”
[1] to me, so +1.

[1]: https://github.com/opencontainers/image-spec/issues/59#issuecomment-216366106

[2016-05-02 22:49] wking commented on #11
On Mon, May 02, 2016 at 03:26:19PM -0700, josephschorr wrote:

Yeah, I think end-to-end signing is important.  Which is why I think
@brendandburns name canonicalization ((2) in [1]) needs to be covered
by the trust model [2].  In other words, I should be able to fetch a
‘debian.org/debian’ image from gcr.io/debian.org/debian (or a local
file, #23, or wherever, it shouldn't matter) and *still* be c

[2016-05-03 05:03] philips commented on #59
@vishvananda Happy to consider a concrete proposal. What is the use case?

[2016-05-03 22:16] philips commented on #54
@stevvooe Can you help clear this one up?

[2016-05-04 00:31] stevvooe commented on #59
Complex hash funnels typically lead to fragile and insecure behavior. It makes implementations fragile and creates an opening for unverified data to creep through. Anything that requires pre-processing before calculating a hash is suspect.

The right approach to handling ephemeral metadata is to appropriately layer it. Only change fields at the level that corresponds to the build. For example, rat

[2016-05-04 00:34] stevvooe commented on #54
@philips @vbatts This is the specification for the "docker save" format.

Here is what they are, in relation to docker:

- The `json` file is just the image config corresponding to the specified layer. Used pre 1.10
- `VERSION` is the version of the `json` file, which is just as useful as `json` itself. Used pre 1.10.
- `repositories` links names to tags. Used pre 1.10.
- `manifest.json` identifie

[2016-05-04 01:07] philips commented on #59
@stevvooe Yep, +1 on all points.

I would be OK with considering the schema for this "external" metadata in this repo. So, if @vishvananda comes up with a good use case and wants to drive the work I am OK with it.

[2016-05-04 10:06] s-urbaniak opened #63 "The "image JSON"/"Container config JSON" does have a media-type but no schema, no headers"
The "image JSON" also described as "Container config JSON" https://github.com/opencontainers/image-spec/blob/master/serialization.md#image-json-description does have a media-type `application/vnd.oci.image.serialization.config.v1+json` but no schema defined.

Also the example image/config JSON does not have the `schemaVersion` and `mediaType` headers defined. I am aware this was taken over, but it

[2016-05-05 13:45] philips commented on #56
@vbatts deadbeef.json?

[2016-05-05 13:45] philips commented on #63
@s-urbaniak is this a dupe of #56?

[2016-05-05 13:46] philips commented on #54
@s-urbaniak can you take @stevvooe and offer a cleanup PR?

[2016-05-05 13:49] philips commented on #43
Moving to v0.2.0 as we are fixing upstream packages like the go json schema library and I don't want to block a release.

[2016-05-05 13:49] philips commented on #36
Moving to v0.2.0 as I don't know what we are blocked on or what updates we need. Help would be appreciated @vbatts.

[2016-05-05 13:51] vbatts commented on #56
poor name for a hexidecimal... i'll change it

[2016-05-05 13:56] philips opened #66 "v0.1.0: tag and release this version"
I think we should tag and release v0.1.0 of the image spec. We have imported the relevant docs, added information about the media types, and created the new media types for the OCI. It isn't perfect but I want to start having discussions with people implementing registries and build systems and I think it is in good enough shape to start having those discussions.

Any objections @opencontainers/im

[2016-05-05 13:57] philips commented on #66
Here are the major themes accomplished in v0.1.0: https://github.com/opencontainers/image-spec/issues?q=milestone%3Av0.1.0+is%3Aclosed

[2016-05-05 13:59] philips commented on #56
@vbatts this is referring to the "json" next to layer.tar?

[2016-05-05 14:13] vbatts commented on #56
@philips nope. It's part of the next generation single config file, post docker-1.10 format.
[code]

see also https://github.com/opencontainers/image-spec/issues/54#issuecomment-216709649

[2016-05-05 14:57] vbatts commented on #66
Should we include a ChangeLog for v0.1.0 release? otherwise I can push it out right now.

[2016-05-05 15:24] caniszczyk commented on #66
is there a release process defined yet where a certain number of maintainers need to +1 / LGTM? would be nice to get input from more of the @opencontainers/image-spec-maintainers before doing a v0.1.0

[2016-05-05 16:06] philips commented on #66
@caniszczyk On the image spec we just try and get a few of the MAINTAINERS saying it LGTM and it seems to work fine. We have the technical process but it isn't very in-depth: https://github.com/opencontainers/image-spec/blob/a096dacf27d0677e295244c8c7e350d818b04b22/project.md#project-docs

[2016-05-05 16:10] philips commented on #66
@vbatts a ChangeLog isn't likely super helpful as this is an initial release. v0.2.0 should have a ChangeLog though!

[2016-05-05 18:12] s-urbaniak commented on #63
@philips yep, good catch. #56 refers to all the JSON formats in `serialization.md` which is even better, hence closing this in favor of #56.

[2016-05-05 18:12] #63 closed

[2016-05-05 19:28] stevvooe commented on #66
@philips Does tagging this version imply anything about compatibility? For example, does 0.2.0 need to be compatible with 0.1.0?

My concern is that people will start implementing, expecting stability but these point releases should really be considered alpha.

[2016-05-05 19:32] stevvooe commented on #56
Probably should carry `repositories` and `json`, as they are for pre-1.10.

[2016-05-05 19:38] wking commented on #66
On Thu, May 05, 2016 at 12:28:14PM -0700, Stephen Day wrote:

Not in SemVer.  From §4 [1]:

  Major version zero (0.y.z) is for initial development. Anything may
  change at any time. The public API should not be considered stable.

[1]: http://semver.org/spec/v2.0.0.html

[2016-05-05 20:02] philips commented on #66
@stevvooe What @wking is correct. There is no intention of maintaining compatibility but to 1) get in the habit of doing releases 2) start the discussion with people about implementing stuff and get feedback on the spec.

[2016-05-05 20:54] philips commented on #66
@stevvooe Can I take your 👍 on my comment as a +1 on doing a release?

[2016-05-05 21:07] stevvooe commented on #66
@philips That is a 👍 of understanding. I'm a little reticent to tag a release at this point but I don't have a good reason not to.

We may want to adjust the road map for 0.2.0. The focus there needs to be on getting a solid distributable format, along with conversion to and from a runc bundle. Maybe move those items off of this description to a milestone or epic?

[2016-05-06 14:03] philips commented on #66
Alright, I haven't heard any objections. We are going to go ahead and tag the release today.

@vbatts still have bandwidth to tag and release?

[2016-05-06 17:22] brendandburns commented on #66
+1 to tagging a release.  I think getting into a regular habit (monthly? bi-weekly?) will oil the release machinery in a good way.

@vbatts if you don't have bandwidth, I can do it...

[2016-05-06 17:24] philips commented on #66
@brendandburns Please try and get the release out if you have time. I believe @vbatts is on a ✈️ today.

+1 on doing monthly or bi-weekly releases. The original roadmap had monthly releases and we are behind, eek!

[2016-05-06 17:57] brendandburns commented on #11
I will re-iterate, there are really two different issues here:

1) I want a name for my image based on my domain (`mycompany.com/foo`) but I have no intention of hosting my own registry.  I should have the ability to redirect you to a registry so that you can know where to get the image.  This is name resolution.

2) There is mirroring, which is I am registry `a.com` but I want to host image that

[2016-05-06 18:13] wking commented on #11
On Fri, May 06, 2016 at 10:57:51AM -0700, Brendan Burns wrote:

This assumes:

1. That X.509 certificates based on a shared CA pool let folks agree
   on which keys can sign for mycompany.com.
2. That images named with a {host}/{other-stuff} pattern belong to
   the keys from (1).

Both of those are reasonable choices for an implementation and are
probably requirements for DNS-based delegation, bu

[2016-05-06 18:16] brendandburns commented on #11
Hrm, I think all of the signing stuff is out of scope for this issue.  In my mind there are two ways that we establish trust:

1) I use DNSSEC to ensure that the DNS resolution is trusted.
2) If we use well-known URIs, then we also use standard HTTPS CA certs to ensure that I trust the data I receive from that well known URI.

People who don't want this can use IP addresses for their registry pref

[2016-05-06 18:58] wking commented on #11
On Fri, May 06, 2016 at 11:16:46AM -0700, Brendan Burns wrote:

And folks who are using a sneakernet and OpenPGP?  I agree that lots
of folks are going to be distributing images over HTTPS involving
their usual DNS and X.509 trust, but I'd rather that wasn't the only
naming/signing scheme that this specification supports.  For example,
the #23 use case (project publishing its application), it woul

[2016-05-06 21:04] brendandburns commented on #11
@wking in that case they can use any name they want, and then install the appropriate mirror definition in their clients.

This is why I think there are two different issues getting smashed around here.

One is discovery/naming: how do I go from the name of an image to an actual place where I can get a bunch of file hashes.

The other is trust: I have this collection of tarballs, how do I assert t

[2016-05-06 21:12] wking commented on #11
On Fri, May 06, 2016 at 02:04:54PM -0700, Brendan Burns wrote:

I agree that there are at least two issues, I just don't want to see
resolution for one (DNS-based delegation) negatively impact another
(naming and trust).

With that approach, how will folks sign/verify gcr.io or localhost
images?

[2016-05-06 21:26] vbatts commented on #66
I'll do it post-haste

[2016-05-06 21:31] vbatts commented on #66
Oh bugger. The nice dot diagram doesn't jive with pandoc for the pdf.
[code]

[2016-05-06 21:33] vbatts commented on #66
Otherwise, https://github.com/opencontainers/image-spec/releases/tag/v0.1.0 from a :airplane:

[2016-05-06 22:04] philips commented on #66
@vbatts Hrm, that is weird. Can you convert it to a jpg?

I am closing this out and will add the couple of additional issues as milestones to v0.2.0.

[2016-05-06 22:04] #66 closed

[2016-05-06 22:07] philips opened #69 "README: Improved introductory text"
We need to factor the spec for top to bottom reading with three audiences in mind:

- Build system creators
- Image registry creators
- Container engine creators

I will try and solicit feedback from folks on what they would like to see from the spec. And it would great if other @opencontainers/image-spec-maintainers could help out here now that we have a v0.1.0 out the door.

[2016-05-06 22:12] philips commented on #59
@vishvananda Want to try and start on something next week so we can consider it for v0.2.0?

[2016-05-06 22:16] vbatts commented on #66
I'll try a couple things

On Fri, May 6, 2016, 18:04 Brandon Philips <notifications@github.com> wrote:

[2016-05-07 09:24] vbatts opened #70 "pandoc: issue with displaying images"
with https://github.com/opencontainers/image-spec/releases/tag/v0.1.0
The media-types.png caused issues in the `make docs` target. See https://github.com/opencontainers/image-spec/issues/66#issuecomment-217563622

As a make-shift effort, I switched it to inline html. While that caused pandoc to not fail, it did not render the image in the resulting document.
Here's the diff that let pandoc run suc

[2016-05-07 15:48] vbatts commented on #69
@duglin was just mentioning this on IRC too

[2016-05-07 17:53] philips commented on #70
sounds like base64 it is! :)

On Sat, May 7, 2016 at 11:24 AM Vincent Batts <notifications@github.com>
wrote:

[2016-05-09 16:37] vishvananda commented on #59
My current thinking is that this should be merged with the idea of signing. And that signed objects are canonical json that live in the cas as a reference to another object. Something along the lines of:

`{
  "signature": {...},
  "metadata": {...},
  "object": "some-cas-image-id"
}`

The runtime software (rkt, docker) can choose to treat this as a "tag" (in the sense of git annotated tags) on th

[2016-05-09 17:06] wking commented on #59
On Mon, May 09, 2016 at 09:37:21AM -0700, Vish Ishaya wrote:

A crucial piece of annotated tags that your JSON sketch misses is the
name being assigned.  In [1] I have a similar sketch that includes a
‘name’ property, which allows you to say “I assert that the manifest
at sha256:ca6e… is ‘debian 8.0’”.

[1]: https://github.com/opencontainers/image-spec/issues/23#issuecomment-212651871
[2]: https:/

[2016-05-09 21:06] vishvananda commented on #59
@wking agreed. Both "name" and "signature" could be embedded in metadata and interpreted by tools, but I think it makes sense to treat those two as special and split them out of the generic metadata.

[2016-05-10 10:27] vbatts commented on #56
my big issue is that this flattens layers. Images need to be a federated DAG. This `<sha256>.json`/`manifest.json` layout requires condensing the parent config into the image.

Unless these combined layout can themselves also be layered.
But then there is no point in having multiple tar layers.

[2016-05-10 19:46] stevvooe commented on #56
@vbatts How does this flatten layers? What we want to avoid here is having the DAG degrade to a linked list.

We can still federate with this approach. We lose the intermediary configs, but it is surprising when a single image carries all intermediary configurations. If one does want to ship the intermediaries, each intermediate can be include in the manifest.

[2016-05-13 20:19] vbatts commented on #56
@stevvooe I understand avoiding the linked list. Perhaps it will be worth the exercise to work out the example of having a manifest, that references two of `application/vnd.oci.image.serialization.combined.v1+json` types. This is something that appc *.aci allows and would be powerful to bring in here.

[2016-05-13 20:34] stevvooe commented on #56
I'm not sure why this requires another manifest type. Just reference each root config in the tag index. There is no need to maintain the linked the list -- this can be recovered by identifying common layers. `aci` suffers from the same "parent" degrading to linked list problem and it should be avoided for OCI.

[2016-05-15 18:34] vbatts commented on #56
Oh sorry. I wasn't thinking of another manifest type, but rather an example
of a manifest that can allow more than one of the combined types as
objects, so those independent images do not have to be squashed and lose
the digest of their parentage.

On Fri, May 13, 2016 at 3:34 PM, Stephen Day <notifications@github.com>
wrote:

[2016-05-19 14:41] jonboulle opened #72 "docs: pandoc gives permission denied error"
[code]

@vbatts something simple?

[2016-05-19 15:38] vbatts commented on #72
hrm. I don't get that error... what's the host info or versions of things?

[2016-05-19 15:39] jonboulle commented on #72
what do you want the version of?

On Thu, May 19, 2016 at 5:38 PM, Vincent Batts <notifications@github.com>
wrote:

[2016-05-19 15:43] vbatts commented on #72
host OS? docker version?

On Thu, May 19, 2016 at 11:39 AM, Jonathan Boulle <notifications@github.com>
wrote:

[2016-05-19 16:03] jonboulle commented on #72
Version:      1.8.2-fc22
 API version:  1.20
 Package Version: docker-1.8.2-7.gitcb216be.fc22.x86_64
 Go version:   go1.5.1
 Git commit:   cb216be/1.8.2
 Built:
 OS/Arch:      linux/amd64

On Thu, May 19, 2016 at 5:43 PM, Vincent Batts <notifications@github.com>
wrote:

[2016-05-19 16:22] s-urbaniak opened #74 "oci-image-tool: Implement config validation"
The "Image JSON", media type `oci-image-tool: Implement config validation (media type application/vnd.oci.image.serialization.config.v1+json` validation needs to be implemented in the oci-image-tool

[2016-05-19 16:24] s-urbaniak opened #75 "oci-image-tool: validate and unpack image"
The oci-image-tool should be able to validate and unpack an oci-image from 1. a directory and 2. a tar file.

Proposed spec: https://github.com/opencontainers/image-spec/issues/23#issuecomment-212636147

[2016-05-19 16:26] s-urbaniak opened #76 "oci-image-tool: vendor dependencies"
Use a vendoring tool, i.e. glide to vendor all external dependencies

[2016-05-19 16:42] s-urbaniak opened #77 "Spec out image directory layout"
The oci-image-tool image unpacker will rely on a in-flux discussion starting from https://github.com/opencontainers/image-spec/issues/23#issuecomment-212636147. The proposed layout should be spec'ed out in markdown format and be part of this specification.

xref https://github.com/opencontainers/image-spec/issues/75

[2016-05-19 17:17] brendandburns commented on #11
@wking

So my thought is that you would sign with your keys prior to uploading the image to the registry, but I haven't thought super deep about the signing problem, since I think its different than name resolution, and I've focused name resolution for this issue.

[2016-05-19 17:56] s-urbaniak opened #79 "oci-image-tool/schema: *.go files are encoded in embedded fs"
As seen in https://github.com/opencontainers/image-spec/blob/master/schema/fs.go#L227 `*.go` files are encoded in `schema/fs.go` but shouldn't.

[2016-05-19 18:18] s-urbaniak commented on #77
ignore this, jet lag plays tricks with me, #23 actually addresses this.

[2016-05-19 18:18] #77 closed

[2016-05-19 19:15] wking commented on #11
On Thu, May 19, 2016 at 10:18:18AM -0700, Brendan Burns wrote:

I think signing is going to be inseparable from name resolution.
There needs to be clarity about which name is being verified [1], and
if it's not the user-supplied name (e.g. it's a canonical version),
there needs to be clarity on the trust model for the canonicalization
[2].

On the other hand, signing should be orthogonal from *dis

[2016-05-19 19:29] brendandburns commented on #11
@wking
I think we agree.  I view name resolution as being solely about figuring out where to download the thing from.

The name that you use for validating signing is still the original name.

Put clearly in an example:

I start pulling `company.com/bar/foo` which redirects me to the `company.com.gcr.io/bar/foo` registry, I download the layers from that registry.

But then once downloaded, I verif

[2016-05-19 20:27] wking commented on #11
On Thu, May 19, 2016 at 12:34:05PM -0700, Brendan Burns wrote:

Sounds good to me, although it sounds more like the pseudo-code in [1]
and text in [2] than the pseudo-code in [3] or text in [4].  And if
the original name is still being used (which I like), I think the
redirecting is better described by “mirroring” [5] than by
“delegation” [6] or “canonicalization” [7].  And there's no need to
worr

[2016-05-19 20:48] brendandburns commented on #11
I guess I think:

if the owner of the name choses the remapping then it is "delegation" since there no other locations where that image can be found.

if the owner of the client chooses the remapping then it is "mirroring" since it is copied from wherever the original source is located.

but it's semantics, I guess.  If we have rough agreement on the goals, do we have a preference for DNS or well-

[2016-05-19 21:28] wking commented on #11
On Thu, May 19, 2016 at 02:09:02PM -0700, Brendan Burns wrote:

How many images are licensed “all rights reserved”?  I'd guess for
things like Debian images, you could have third-parties choosing to
mirror images as they see fit, although the original author is always
free to bless (or not) those mirrors as they see fit (e.g. they can
say “a.example.com and b.example.com also carry this image”, wh

[2016-05-19 21:31] brendandburns commented on #11
@wking I think we should require dns compatible names.  whether the domain actually exists or not is up to the end user.

[2016-05-19 22:03] wking commented on #11
On Thu, May 19, 2016 at 02:31PM -0700, Brendan Burns wrote:

What's the benefit to requiring DNS-based names but allowing
nonexistant domains?  I explained why I want X.509 to be one option
among many for image trust earlier [1,2].  You floated localhost-based
naming earlier [3], but I think we agree that you won't be using an
X.509 certificate chain [4,5], because no CA will certify you as the
ow

[2016-05-20 02:04] #79 closed

[2016-05-23 20:00] stevvooe opened #83 "schema: define "negative" schema examples"
We have several examples of well-formed JSON objects that pass schema validation, but no examples that fail. We need several for the following reason:

1. Ensure that schema validation is actually working.
2. Clarify aspects of the specification.

Ideally, these could be part of the specification and marked as bad, in congruence with the approach of having the examples validated.

Please see https

[2016-05-23 20:59] vbatts commented on #83
+1 though it could mean some churn until a 1.0

[2016-05-23 21:18] stevvooe commented on #83
We can avoid making a bunch of these till before 1.0. For now, we just need to make the schema validation is operating correctly.

[2016-05-23 21:22] wking commented on #83
On Mon, May 23, 2016 at 02:18:50PM -0700, Stephen Day wrote:

That's probably just “test any *approach* that someone questions”, and
not “test all instances of all approaches”.  So @stevvooe wonders
about $ref between files, and we give that one test case.  I expect
that will be light enough to be feasible even with pre-1.0 churn.

[2016-05-23 21:23] wking commented on #83
And it would also help avoid sinking too much time into broken
approaches ;).

[2016-05-23 21:44] #74 closed

[2016-05-23 22:05] vbatts opened #84 "`make test` broken on master"
https://travis-ci.org/opencontainers/image-spec/builds/132403826

0aafcefaae646c29d3e0fe9b570962d2329b43ae

[2016-05-23 22:29] s-urbaniak commented on #84
wat, I cannot reproduce this here, also it wasn't present on the PR, do you mind rebuilding?
@stevvooe any idea?

[2016-05-23 22:37] vbatts commented on #84
I was able to reproduce on master, on my desktop

On Mon, May 23, 2016, 18:29 Sergiusz Urbaniak <notifications@github.com>
wrote:

[2016-05-23 22:46] s-urbaniak commented on #84
ok, I am able to reproduce it locally with a fresh GOPATH. so apparently blackfriday changed upstream, time to do vendoring.

I'll dig into it.

[2016-05-23 23:39] s-urbaniak commented on #84
correction: it was transiently introduced by https://github.com/pkg/errors/pull/27

[2016-05-24 01:46] stevvooe commented on #84
Wow. An error value that cannot be compared... what a minefield.

Filed pkg/errors#29.

[2016-05-24 02:43] s-urbaniak commented on #84
ok, pkg/errors is fixed upstream, that was quick :-) "Works on my machine" with a fresh gopath.

[2016-05-24 03:09] stevvooe commented on #84
@s-urbaniak Great! Kicking off a new build. Hopefully it works.

Do we close this and open a vendoring issue? I'd rather not go to vendoring quite yet...

[2016-05-24 03:10] stevvooe commented on #84
Build recovered. Closing.

[2016-05-24 03:10] #84 closed

[2016-05-24 19:59] philips commented on #69
I will take this one.

[2016-05-24 20:06] philips commented on #59
I am putting this as a post-v1.0.0 milestone as it feels like a nice to have with other dependencies like #22.

[2016-05-24 20:07] philips commented on #35
This feels like something we should sort out in v0.2.0. Can either @stevvooe or @vbatts take this one?

[2016-05-24 20:09] philips commented on #38
I am still not seeing how this discussion is different than #23. Can someone give me a concrete straw man example? @stevvooe? Or maybe we can chat on the call tomorrow about it?

[2016-05-24 20:10] philips commented on #70
This is fixed now. Closing.

[2016-05-24 20:10] #70 closed

[2016-05-24 20:10] philips commented on #72
@vbatts @jonboulle any updates here?

[2016-05-24 20:16] philips commented on #83
Unless someone volunteers earlier I am making this a post-v1.0.0 milestone.

[2016-05-24 20:31] philips commented on #22
Actually, moved to v1.0.0 as I don't think anyone has really stepped up to own/help here on OCI signing.

[2016-05-24 20:41] vbatts commented on #22
fair. It does make me think, once examples like this bubble up and folks have options to choose from, there may need to be additional media-types/MIME-types for signature objects.

[2016-05-24 21:00] wking commented on #38
On Tue, May 24, 2016 at 01:52:25PM -0700, Brandon Philips wrote:

Based on [1], my guess is that @stevvooe expected #23 to be about
“what are our fundamental objects?” (e.g. layer blobs, configs,
manifests, tags, …) while this issue would be about “how do we pack
those objects into an archive format?” (e.g. make a tarball with the
blobs at blobs/{algo}:{digest}, the manifests at manifests/{name},

[2016-05-24 21:09] vbatts commented on #35
@stevvooe what are your thoughts on https://gist.github.com/vbatts/870565ef6344f4a2b3b3f52fe4e51da3 ?

[2016-05-24 21:12] vbatts commented on #72
I still can't reproduce ...

On Tue, May 24, 2016 at 4:52 PM Brandon Philips <notifications@github.com>
wrote:

[2016-05-24 21:44] philips commented on #72
Closing. @jonboulle if you reproduce I will reopen it.

[2016-05-24 21:44] #72 closed

[2016-05-24 21:56] philips commented on #36
@vbatts docker/docker#22264 has been merged. So this should be easy?!

[2016-05-24 23:21] stevvooe commented on #77
@s-urbaniak I was trying to cover this in #38, actually, albeit #23 has discussion around this topic.

[2016-05-24 23:21] stevvooe commented on #23
@vbatts @philips @wking Given the confusion between #23 and #38, I'm wondering if this issue should be more oriented towards collecting the system objects into a specification, called out by mediatype.

[2016-05-24 23:22] stevvooe commented on #38
@philips @wking hit the nail on the head. These are different concepts. Defining them at the same time will lead to over-coupling of this format and the components. Content-addressable native systems may not even want to use this component of the specification to do distribution.

Albeit, the discussion in #23 has centered around the archive format described in this issue's description.

#23 shoul

[2016-05-24 23:32] wking commented on #23
On Tue, May 24, 2016 at 04:21:38PM -0700, Stephen Day wrote:

That sounds useful to me.  Are you suggesting specifying things like:

* application/vnd.oci.image.name.v1+json
* application/vnd.oci.signature.v1+json
* application/vnd.oci.signature.list.v1+json

I have suggestions for the first and last of those sketched in [1].

And I'd suggest listing existing MIME types
(e.g. application/pgp-signa

[2016-05-25 01:09] stevvooe commented on #83
@philips We can't release a 1.0 without ensuring validation is correct.

[2016-05-25 01:15] philips commented on #83
@stevvooe OK, are you volunteering to do that work?

[2016-05-25 01:44] s-urbaniak opened #87 "Convert a serialization config JSON to a OCI runtime configuration."
As per https://github.com/opencontainers/image-spec/pull/82#issuecomment-221450375: Currently, the `oci-image-tool` supports a simple unpacking mechanism to inspect deflated images and validation.

More concretely the config/image JSON https://github.com/opencontainers/image-spec/blob/master/serialization.md#image-json-description has to be converted to a https://github.com/opencontainers/runtime-

[2016-05-25 02:38] stevvooe commented on #23
@wking While I wasn't really thinking of signatures here, that is definitely a use case.

The advantage is that no one needs to add a new way to add signatures to the archive format. We simply specify the mediatype and parentage (how it is referenced) and it can be picked up as a content addressable blob in the archive.

Rolling your own mediatypes may be useful, but can be ignore. Refs are only f

[2016-05-25 03:02] wking commented on #23
On Tue, May 24, 2016 at 07:38:09PM -0700, Stephen Day wrote:

I think specifying “how it is referenced” *is* adding signatures to
the archive format.  But I agree that runtimes won't need to support
all possible signature types.

[2016-05-25 03:17] wking commented on #87
On Tue, May 24, 2016 at 06:44:43PM -0700, Sergiusz Urbaniak wrote:

I don't think this is possible.  For example, the image-spec schema
currently has ‘ExposedPorts’, but networking is out-of-scope for the
runtime config [1].  You'd have to select a particular network manager
(that isn't covered by an OCI spec) and setup hooks to drive that
network manager.

Stepping back, I see no reason for the i

[2016-05-25 03:28] wking commented on #22
On Tue, May 24, 2016 at 02:12:32PM -0700, Vincent Batts wrote:

I expect these already exist.  For example application/pgp-signature
[1], application/jose+json [2], and application/pkcs7-signature [3]
are already established.

[1]: http://tools.ietf.org/html/rfc3156#section-9
[2]: https://tools.ietf.org/html/rfc7515#section-9.2.1
[3]: https://tools.ietf.org/html/rfc5751#section-5.2

[2016-05-25 10:09] jonboulle commented on #72
Docker bug. Upgrading to the latest one fixed it.

[2016-05-25 15:18] philips commented on #87
@wking exposed ports is useful metadata from the image. I think it needs to exist to retain useful UX from builder to runner.

I am really really unclear on what you want to see here.

Furthermore, retaining the UX of container runtimes is a desirable part of the spec and explicitly called out in the README and image format spec project proposal:

[code]

[2016-05-25 15:23] philips commented on #38
@stevvooe I think we need to refile these tickets because I am not seeing the difference. There are likely some tactical things that need to get done to make this spec useful in the context of todays use cases and tech. And then some architectural things that can be done to make abstractions beautiful and generic.

Perhaps we can close this issue and a concrete proposal can be made in a new issue

[2016-05-25 15:36] philips opened #88 "documentation: explain the download workflow in practice"
It is likely that the OCI Image Spec [won't have an optional transport layer](https://groups.google.com/a/opencontainers.org/d/msg/tob/oaEza4cu25M/gBLeHm5NFAAJ) for a few more months while the TOB discusses and comes to a conclusion. But, as people start to use/implement the spec they will want advice on how to use the format with existing transport mechanisms.

The first topic to cover is how to

[2016-05-25 15:44] wking commented on #87
On Wed, May 25, 2016 at 08:22:16AM -0700, Brandon Philips wrote:

Then I think you want to file a PR against runtime-spec (or a
networking OCI spec?) to get it supported.  I don't think image-spec
is a good place to specify *container* networking.

As I understand it, #82 handles unpacking a local directory from layer
tarballs.  I want to see image-spec drop
application/vnd.oci.image.serialization

[2016-05-25 16:01] philips commented on #87
@wking the runtime can IGNORE this information and it can be used by a higher level system. I will file an issue about _how_ to convert it but I don't think dropping it makes sense.

[2016-05-25 16:02] philips commented on #87
@wking I disagree with your suggestion of the split. The image format needs a way of expressing runtime defaults that aren't host specific which the runtime spec has not tackled and made difficult by recombining everything into a single config.json.

[2016-05-25 20:21] wking commented on #87
On Wed, May 25, 2016 at 09:11:49AM -0700, Brandon Philips wrote:

And I'm fine with that, although I think we want to be careful about
how external tools like network managers are included [1].  I just
don't think the image-spec should be in the business of orchestrating
this.  You can have:

* Orchestration layer
  * Call image-spec tooling to fetch a generic directory by name
  * Call network-se

[2016-05-25 21:30] philips commented on #69
Merged!

[2016-05-25 21:30] #69 closed

[2016-05-25 22:09] stevvooe commented on #35
@vbatts That seems like the incorrect direction. It doesn't really make sense to have a manifest pointing to a combined object. The combined format is more just a container for image spec objects, where there may be one or more manifests. The actual relationships aren't between the combined object, but the objects referenced within. For example, whether or not the combined tar is one or two archiv

[2016-05-25 22:57] stevvooe commented on #83
@philips Looking into a fix but here is what I found:

1. Type validation seems to work. For example, if you change an int to a string, it is caught.
2. The regular expression validation seems to be broken. For example, the following passes, when there are not accepted characters:

[code]

We may be able to go live with a 1.0 in this condition, but there could be issues.

[2016-05-26 02:30] philips opened #90 "documentation: media-types.md doesn't have diagram"
https://github.com/opencontainers/image-spec/blob/master/media-types.md#relations is missing the diagram. How do we have the diagram on GitHub and in the final build?

[2016-05-26 21:15] philips commented on #90
You got dis vbatts?

[2016-05-26 23:05] philips commented on #36
The diff is very trivial from docker/docker#22264 to the OCI version and has no material changes. I am going to close this issue out and open a PR for the one wording improvement.

[code]

[-Note: whitespace-]{+Note that image JSON files produced by Docker don't contain formatting+}
{+whitespace. It+} has been added to this example for clarity.[-Whitespace is OPTIONAL and implementations MAY have

[2016-05-26 23:06] philips commented on #36
Closing PR: https://github.com/opencontainers/image-spec/pull/91

[2016-05-26 23:06] #36 closed

[2016-05-26 23:30] philips opened #92 "media-type: add a media-type for descriptor"
For the "image layout" that can be tar'd, zip'd, etc we need to create the spec and media-type for the "descriptor"

https://github.com/opencontainers/image-spec/blob/master/schema/defs-image.json#L23

Relevant IRC convo:

[code]

[2016-05-27 02:02] philips commented on #54
I think we should just drop the "combined mime-type". The format has too much history and has conflicting terminology like a "manifest.json" as @stevvooe pointed out. I am going to put up a PR to drop it and file an issue for a "image layout" (see https://github.com/opencontainers/image-spec/issues/92)

[2016-05-27 02:36] philips commented on #23
Everyone- I put up a PR to define an "image layout": https://github.com/opencontainers/image-spec/pull/94

[2016-05-31 09:20] #75 closed

[2016-05-31 15:47] philips commented on #54
#92 is merged. Closing this issue out.

[2016-05-31 15:47] #54 closed

[2016-05-31 18:01] philips commented on #92
@stevvooe Are you still able to take this one?

[2016-05-31 18:57] stevvooe commented on #92
Yes.

[2016-05-31 22:34] philips commented on #43
@s-urbaniak are you working on create-runtime-bundle next?

[2016-06-01 04:55] s-urbaniak commented on #43
@philips yes, that's the plan :-)

[2016-06-01 14:27] vbatts commented on #92
And the JSON schema for this (which should be very straight forward)

[2016-06-01 14:27] vbatts commented on #56
So this is all together done or N/A
Only this notion of descriptor is needed now. See https://github.com/opencontainers/image-spec/issues/92

[2016-06-01 14:27] #56 closed

[2016-06-01 14:30] vbatts commented on #35
So part of this will be clarified with #94 and #95.
Though the notion of having having layered builds, or more like the "dependencies" notion from appc/spec.

[2016-06-01 14:33] vbatts commented on #35
(sorry. Half a thought)
the notion of dependencies for building on a known CAS/fully-qualified-name, I haven't clarified this in my mind yet. I feel that this context is currently lost (or not straight-forward) with the current image specs.

[2016-06-01 16:49] philips opened #99 "oci-image-tool: create-runtime-bundle path/to/image path/to/bundle"
Once #94 is finalized we can make the oci-image-tool create to create an OCI runtime bundle:

[code]

[2016-06-01 16:50] philips commented on #43
Closing this out in favor of #99 as most of the features except that one have landed.

[2016-06-01 16:50] #43 closed

[2016-06-01 17:20] vbatts commented on #83
Those can be tricky. When I was doing the schema for runtime-spec, I had to constantly test passing and failing cases for each field. But that was all by hand.

[2016-06-01 17:37] vbatts commented on #38
So, given the removal of combined #95, and the progress of #94, it seems like this issue would just be permutations of the layout defined in #94. Right?

[2016-06-01 17:43] vbatts opened #102 "Ensure "dependencies" are possible"
Carrying over https://github.com/opencontainers/image-spec/issues/35#issuecomment-223011729

Like appc/spec ACI `dependencies` https://github.com/appc/spec/blob/master/spec/aci.md#dependency-matching

Ensure that OCI image spec can support an image (config plus descriptors) that includes references to dependent layers that may themselves include its own config.

To some extent, this would satisfy

[2016-06-01 17:44] vbatts commented on #35
Closing this for a more articulate #102

[2016-06-01 17:44] #35 closed

[2016-06-01 17:45] vbatts commented on #39
@kamalmarhubi would you say that #102 is more articulately the same as your issue?

[2016-06-01 19:53] RobDolinMS opened #103 "[Manifest] Is Digest required or optional ?"
In the spec:

Other similar items such as schemaVersion and mediaType indicate if they are REQUIRED or OPTIONAL but item does not.

[2016-06-01 20:10] #90 closed

[2016-06-01 21:13] RobDolinMS opened #109 "[Manifest] Unclear if "should" intended as "SHOULD""
If intended as a recommendation, use "SHOULD" (ALL CAPS.)
If not intended as a recommendation invoke RFC meaning, consider alternate wording.

[2016-06-01 23:18] stevvooe commented on #103
This should be required.

[2016-06-01 23:20] stevvooe commented on #109
I'm not even sure this is correct. The size is really there to support preallocation. Content verification should be done through digest.

[2016-06-01 23:28] stevvooe commented on #102
Are we interested in dependency or history?

The main issue with dependencies is that it requires a way to merge configuration. This is much easier if this merge is done at build time, where it can be controlled and deterministic.

In general, dependencies really belong at build time. We can always trace back common components through content-addressing, but carrying dependency information into th

[2016-06-01 23:34] RobDolinMS commented on #103
Thanks @stevvooe.  I've opened #112 to resolve this.

[2016-06-01 23:35] stevvooe commented on #103
@RobDolinMS Re-opening until #112 is merged.

[2016-06-01 23:38] RobDolinMS opened #113 "[Manifest] Is Config required or optional?"
Similar to #103, the `config` object is not indicated as REQUIRED or OPTIONAL.

[2016-06-01 23:47] #103 closed

[2016-06-02 00:06] philips commented on #113
I believe it is required.

[2016-06-02 00:08] philips commented on #109
I think it is correct. This may protect against future length extension attacks.

[2016-06-02 00:10] philips commented on #102
@stevvooe the objects required for the linked list could be collected ahead of time by the person signing the version. I agree in general that things should be immutable. Walking the linked list post-transport isn't expensive. This was always the intention with AppC, we just didn't get to it as the linked list is generally "short".

[2016-06-02 00:14] stevvooe commented on #109
Ok, this should be SHOULD, then.

I'm going to add [this](https://en.wikipedia.org/wiki/Length_extension_attack) to #111, as this question comes up all the time.

[2016-06-02 00:16] stevvooe commented on #102
@philips So, does this become a side-chain? Where does that reference land?

[2016-06-02 09:34] kamalmarhubi commented on #39
Yes I think so! Closing this because the important part is that feature and less so the name.

[2016-06-02 09:34] #39 closed

[2016-06-02 09:39] kamalmarhubi commented on #102
Here is a use case that I think should be possible: I want to compose an image out of a binary that dynamically links against libssl so that

1. I can audit versions of libssl I have running, and
2. I can push out an update without having to rebuild the blobs every container image I have out there.

Another is the one I mentioned in #39, of composing an image out of a server binary and served data

[2016-06-02 09:41] kamalmarhubi commented on #102
(There was a fantastic blog post about container packaging systems that I can't find now, but i gave lots of ideas of things you would like to do , and know about your running system.)

[2016-06-02 14:13] s-urbaniak opened #115 "Redunant definition of layers"
We have two definitions of layers:

1. https://github.com/opencontainers/image-spec/blob/master/manifest.md#image-manifest-property-descriptions
2. Layer DiffIDs specified in https://github.com/opencontainers/image-spec/blob/master/serialization.md#terminology

Which list should we consider for unpacking/oci-runtime-bundling?

[2016-06-02 18:29] philips commented on #115
I would assume 1. is the correct one and that 2. is deprecated

@vbatts @stevvooe seems like we should drop 2, right?

[2016-06-02 19:19] RobDolinMS commented on #113
Tagging @stevvooe who weighed-in on #103 to weigh-in on this as well.

[2016-06-02 19:59] stevvooe commented on #115
@philips I'm not sure saying we have redundant definitions of layers is correct. We have two different identifiers depending on the context. With the manifest, we have a simple, byte-stream digest. Within image config, `DiffID` was added to protect against hash instability introduced during compression. `DiffID` is used as part of the `ChainID` to ensure correct assembly. It is necessary if implem

[2016-06-02 20:06] stevvooe commented on #113
These are required on both the manifest and image (in serialization.md, needs a better name).

Unless, there is an example where these wouldn't be required.

[2016-06-02 20:11] wking commented on #115
On Thu, Jun 02, 2016 at 12:59:05PM -0700, Stephen Day wrote:

I haven't wrapped my head around DiffID, so this may be off target.
But isn't hash-instability a reconstructor issue?  And DiffID has to
be populated (and signed) by the original image author?  How does
“reconstruction-instability protection” work in a verified, Merkle-DAG
context?

This sounds like the best approach to me.  Disk space

[2016-06-02 20:29] stevvooe commented on #115
But isn't hash-instability a reconstructor issue?

Ideally, but with compressed layers, there is little that can be done to ensure this. Including the `DiffID` just ensures that internally these IDs remain as stable as possible. This design was done to secure image identification in a manner that was least disruptive to users.

reconstruction is difficult.

👃 👈

I'd love to resolve this in OCI, bu

[2016-06-02 20:58] stevvooe commented on #102
@kamalmarhubi So, are you willing to trust the metadata indicating which version of libssl is present in the image? [Deep scanning](https://blog.docker.com/2016/05/docker-security-scanning/) is the only way to guarantee this.

This really seems like a runtime concern. Because the references are content addressable, updating one or the other component really introduces a new artifact. Implementatio

[2016-06-02 20:58] wking commented on #115
On Thu, Jun 02, 2016 at 01:29:52PM -0700, Stephen Day wrote:

If we drop DiffID in favor of descriptors for layers, the only
downside seems to be potentially inefficient blobs (e.g. recompressing
tar stream 12 to blob 56, when you could have recycled an existing
blob 34 compression of tar stream 12).  Background discussion starting
at [1].  So if we go with descriptors, I'd recommend publishers us

[2016-06-02 21:10] philips commented on #59
cc @gtank

[2016-06-03 04:22] philips commented on #102
@stevvooe I would argue if you can't trust the metadata of the person pushing the binary then you shouldn't trust the binary either. But, I don't think this is really the forum for this discussion.

[2016-06-03 04:43] philips commented on #115
@stevvooe So, if I were to add a clarifying  point to help out @s-urbaniak and other people new to the spec the config diffID is the ungzipped hash? While the layers digest is gzipd?

[2016-06-03 18:55] philips commented on #113
@RobDolinMS want to put up the PR?

[2016-06-03 19:56] stevvooe commented on #102
While my statement above mentioned trust, this is less about malice than it is ensuring the right metadata lands in the right place. A small bug or incorrect metadata can be costly and the only way to catch it is to actually fingerprint and scan the content.

[2016-06-06 22:25] stevvooe commented on #115
@philips That is a fair differentiation but not binding.

The digest is the hash of the unprocessed content. It can be verified without understand tar or layers or images. The diffID *must* be the ungzipped hash.

[2016-06-07 00:24] philips commented on #115
@stevvooe what do you mean by non-binding?

I will try and get some language together to close out this bug.

[2016-06-07 00:42] stevvooe commented on #115
This is what I meant:

A digest reference can be verified without understanding the content, a diffID cannot.

[2016-06-07 05:50] philips commented on #87
I think what we should do is just have an annotation on the runtime spec config that lists the exposed ports. Something like:

[code]

Then that can be consumed by whatever tool is setting up the networking.

[2016-06-07 07:11] RobDolinMS commented on #113
Thanks guys.  I've opened PR #119

[2016-06-07 07:14] RobDolinMS opened #120 "[ReadMe] Base layer term seems overloaded"
In ReadMe.md, there are references to "base layer" but seems to be an overloaded use of the term:

Maybe change:
"base layer" --> REQUIRED
"optional layer" --> OPTIONAL

[2016-06-07 07:21] RobDolinMS opened #121 "manifest: Why use schemaVersion == 2"
It might be good to have some additional guidance around schemaVersion

For example, is this intended to align with major and minor versions?  i.e. v0.1 ==1, v0.2 ==2, etc.?

[2016-06-07 07:26] RobDolinMS opened #122 "[Manifest] Clarification of "old format""
The Backwards Compatibility section has a number of references to "old format."

It may be helpful to clarify what "old format" is referring to.

[2016-06-07 16:57] wking commented on #87
On Mon, Jun 06, 2016 at 10:50:41PM -0700, Brandon Philips wrote:

This approach doesn't work as well for more complex values like the
‘history’ structure [1].  I'd rather drop the hashmap restriction on
‘annotations’ [2] and embed the whole serialization config there, or
copy the full serialization config to separate file in the unpacked
bundle.  I'm not entirely clear on what the ‘history’ field

[2016-06-07 18:36] stevvooe commented on #121
@RobDolinMS This is an artifact we have in place for compatibility with older versions of docker. It reflects a sub-versioning over the representation of the schema over time, corresponding with the move to mediatypes to do proper version resolution.

Keeping it in the OCI specification is a hedge for compatibility. With some experimentation, it is possible we can remove, but we should confirm tha

[2016-06-07 21:04] stevvooe commented on #122
Link?

[2016-06-07 21:34] philips commented on #122
@stevvooe In manifest.md. I will submit a PR to fix up.

[2016-06-07 21:38] philips commented on #122
FIxed in https://github.com/opencontainers/image-spec/pull/123

[2016-06-07 21:38] philips commented on #122
Moving discussion to #123.

[2016-06-07 21:38] #122 closed

[2016-06-07 21:39] philips commented on #121
@RobDolinMS want to take a swing at adding the language?

[2016-06-07 21:40] philips commented on #120
Base layer is a term from the OCI Scope Table. I will try and add a clarifying statement but we should use the same language: https://www.opencontainers.org/governance/oci-scope-table

[2016-06-07 21:44] philips commented on #120
Fixed in https://github.com/opencontainers/image-spec/pull/124

[2016-06-07 21:44] #120 closed

[2016-06-07 21:46] philips commented on #113
Closing this out and moving discussion to #119.

[2016-06-07 21:46] #113 closed

[2016-06-07 22:24] stevvooe commented on #122
@philips Should we avoid closing these until the PR merges?

[2016-06-07 22:55] wking commented on #122
On Tue, Jun 07, 2016 at 03:24:19PM -0700, Stephen Day wrote:

GitHub makes this easy to do [1], and that syntax works in PR topic
messages too.

[1]: https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-06-07 23:33] philips opened #125 "descriptor: discuss the reserved fields"
The descriptor spec has a section on reserved fields which we really don't have great precedent for. This issue is to discuss the formalization or removal of the "reserved" concept across the spec.

Previous discussions:
https://github.com/opencontainers/image-spec/pull/111#discussion-diff-65659259
https://github.com/opencontainers/image-spec/pull/111#discussion-diff-65752637

[2016-06-07 23:40] philips commented on #87
To what end do we add stuff to the runtime config.json though? We could simply say that the original manifest sits inside the bundle instead.

The reason this annotation is needed in the container runtime is because presumably an OCI network plugin would need to read this to setup forwarding firewalls or something.

cc @opencontainers/runtime-spec-maintainers to discuss. @mrunalp lets put this on

[2016-06-07 23:43] wking commented on #125
On Tue, Jun 07, 2016 at 04:33:21PM -0700, Brandon Philips wrote:

And also in [1], where I argue for for JSON-LD to get explicit,
per-property semantics.

[1]: https://github.com/opencontainers/image-spec/pull/111#discussion_r65468737

[2016-06-07 23:45] wking commented on #87
On Tue, Jun 07, 2016 at 04:40:25PM -0700, Brandon Philips wrote:

“copy the full serialization config to separate file” was one of my
options [1].

And they can access that information in the bundle directory without
us needing to put it in the annotations field [2].

[1]: https://github.com/opencontainers/image-spec/issues/87#issuecomment-224344976
[2]: https://github.com/opencontainers/runtime-s

[2016-06-07 23:46] philips commented on #122
@stevvooe @wking Sure, I can leave these open.

The last few issues by @RobDolinMS have been good questions but trivial to fix. As the issue can't really drive discussion because the fix is non-obvious prose stuff so I just closed them to focus on the actual fix instead. If other @opencontainers/image-spec-maintainers have opinions about how to handle these sorts of things we can discuss here. In

[2016-06-07 23:50] philips commented on #87
@wking fair point. I think the runtime spec maintainers should chime in on this point of external files vs serialized metadata into the config.json.

[2016-06-08 02:50] stevvooe commented on #122
@philips Typically, I'm used to using auto-close, just in case the PR goes sideways. I understand this can split discussion, so either way is fine.

[2016-06-08 04:17] wking commented on #87
On Tue, Jun 07, 2016 at 04:50:56PM -0700, Brandon Philips wrote:

I've filed opencontainers/runtime-spec#492 to see if they have any
generic opinions on this sort of thing.

[2016-06-08 10:59] cyphar opened #126 "[1.0.0] Need actual independent implementations"
Currently we don't have any canonical independent implementations of the specification. Docker's image format is different to ours (even though the base came from them), and rkt doesn't have support for ours.

As a result, this spec is entirely untested as we don't have any code implementing the spec word-for-word. As [several people have discussed on the mailing list](https://groups.google.com/a/

[2016-06-08 14:14] philips commented on #126
The OCI image format is not different than the Docker image format. Changing the [single media-type string constant](https://github.com/opencontainers/image-spec/blob/master/media-types.md) doesn't make the format schema different. And on top of that we have added tests, documentation, JSON schema, etc.

We have one independent implementation of the specification, the `oci-image-tool` in this tree

[2016-06-08 15:10] cyphar commented on #126
AFAICS [this code (specifically the unpacking code)][1] was merged **8 days ago**. Am I misunderstanding something? The validation code is older than that, but my understanding of image-spec is that we define a format so that people can implement unpacking tools. Ours has only been in mainline for a week(!).

Who decided that we **have** to release `1.0.0` this month? The use of the word "delaying

[2016-06-08 15:16] philips commented on #126
@cyphar The decision and rough milestones were ratified by the OCI TOB in March of 2016. You can find the mailing list thread here: https://groups.google.com/a/opencontainers.org/d/msg/tob/KGyPpu8YfNk/JnOvOEdSBQAJ

[2016-06-08 15:33] cyphar commented on #126
@philips Do all maintainers still agree with the roadmap? It doesn't look like the community agrees IMO. Maybe we should hold another vote?

[2016-06-08 20:54] vbatts commented on #126
See also https://tools.ietf.org/html/rfc5657

[2016-06-08 20:55] vbatts opened #127 "[1.0.0] Expand on tar format and whiteouts"
From the [mailing-list thread on v1.0.0](https://groups.google.com/a/opencontainers.org/d/msg/dev/NPBMTrniG8Q/BS6adHTaAgAJ)

[2016-06-08 20:57] vbatts opened #128 "Split serialization.md into layers and config documents"
From the [mailing-list thread on v1.0.0](https://groups.google.com/a/opencontainers.org/d/msg/dev/NPBMTrniG8Q/BS6adHTaAgAJ)

[2016-06-08 23:39] philips commented on #22
I meant to move this to post-v1.0.0 as no one has stepped up and as it is an optional layer of the spec. Please discuss if anyone objects to this change @opencontainers/image-spec-maintainers.

[2016-06-08 23:49] philips opened #129 "image-layout: addition of companion data"
@stevvooe introduced a new term in https://github.com/opencontainers/image-spec/pull/94#issuecomment-224483677 called "companion data" which @wking and I don't know. Instead of forking conversation over this new concept lets discuss the idea in a new issue.

[2016-06-08 23:49] philips commented on #129
@stevvooe can you fill in details on what you mean by companion data?

[2016-06-08 23:52] philips commented on #128
I can do this but @stevvooe felt strongly about the naming.

I feel like "filesystem serialization" is the best name for the media-type that is today tarball representing a filesystem. This term is also sort of implied by the mime-type `application/vnd.oci.image.serialization.rootfs.tar.gzip`. Any objections to calling the two split out "config" and "filesystem serialization" @stevvooe?

[2016-06-08 23:53] philips commented on #127
@stevvooe Putting need info on this because I don't know exactly what more information you want to see in the spec.

[2016-06-08 23:56] philips commented on #102
@vbatts I think this should be moved out of the v1.0 path. Anything we do here will likely break compatibility with Docker v2.2 and we should strive for compatibility in the first version. Any objection to me moving this to post-v1.0.0?

[2016-06-09 00:44] stevvooe commented on #127
@philips My plan was to spend time filing these bugs today or tomorrow.

[2016-06-09 00:48] vbatts commented on #127
Right on. Feel free to edit the title and description of the issue

On Wed, Jun 8, 2016, 19:44 Stephen Day <notifications@github.com> wrote:

[2016-06-09 00:50] vbatts commented on #102
I'm not opposed to that. I think I'd hoped the naming discussion would have
yielded something that this issue could lean on.

On Wed, Jun 8, 2016, 18:56 Brandon Philips <notifications@github.com> wrote:

[2016-06-09 01:28] #92 closed

[2016-06-09 02:44] #83 closed

[2016-06-09 05:07] stevvooe commented on #129
The concept is described here: https://github.com/opencontainers/image-spec/pull/94#issuecomment-224784897.

The directory layout from #94 will require suffixes at the top-level as a format makes additions for unverified, blob associated data:

[code]

If we use `./blobs/sha256-abdef/data` as the primary data storage location, these just become extra files:

[code]

This may be interesting in rega

[2016-06-09 05:19] RobDolinMS commented on #120
@philips Thanks for the quick action on this.

It's a relatively minor nit, but I think REQUIRED and OPTIONAL are more generally understood than "base layer" and "optional layer" (though I now better understand the context after being pointed to the opening sentences defining these in the [OCI Scope Table](https://www.opencontainers.org/governance/oci-scope-table).)

Would you (or others) have any

[2016-06-09 05:20] philips commented on #120
@RobDolinMS Honestly I would rather just fix the Scope Table to use this standard language. :(

If you can add clarifying information to this project I would take a PR though.

[2016-06-09 05:22] philips commented on #129
@stevvooe why postfix vs prefix? For example:

[code]

[2016-06-09 08:58] stevvooe commented on #129
`mv ./blobs/sha256-abdef ./somewhere` vs `mv {mirrors,conversion}/sha256-abdef ./somewhere`

[2016-06-09 10:52] vbatts commented on #122
Either way is fine with me. We've had a mix of both.

On Tue, Jun 7, 2016, 21:50 Stephen Day <notifications@github.com> wrote:

[2016-06-09 10:53] #99 closed

[2016-06-09 16:45] wking commented on #129
On Wed, Jun 08, 2016 at 10:07:29PM -0700, Stephen Day wrote:

I agree that that may be useful information, but I'd rather keep
non-CAS information outside the CAS blobs/.  How about a separate
notes/{alg}-{digest}/ for folks to dump this unverified,
blob-associated data?  Then when folks get around to putting engines
behind this, they are less likely to forget which data is CAS and
which is not.

[2016-06-09 16:52] philips commented on #129
Another advantage of keeping the CAS as a pure CAS and not co-mingling the hierarchy is that you could make the whole tree a RO mount. Where the expectation for this other data might be that it is writeable by a local system.

[2016-06-09 21:40] stevvooe commented on #102
@vbatts It might be okay to include a parent reference. There is already a history of rootfs diffIDs. I think if we clarify whether these dependency references are to manifests, image config or raw layers, we can make a clearer decision.

[2016-06-09 23:16] philips commented on #102
@vbatts OK, moving it to post-v1.0 for now. I think we should focus on the required (base) layers in v1.0 and compatibility. After that we can discuss optional features and layers.

[2016-06-10 00:35] stevvooe opened #130 "Describe format and application of whiteout files"
Whiteout files allow layers higher in the stack to control how base layer content appears in a container filesystem. Much of the whiteout format comes from the AUFS implementation, but certain files are not transmitted. There are many details about format and application that are currently missing from the specification.

Ensuring that these whiteouts are handled consistently is critical to a port

[2016-06-10 00:36] #127 closed

[2016-06-10 00:36] philips commented on #127
Moved to #130

[2016-06-10 00:37] philips commented on #130
Are you going to take on the task of writing this up? Can I assign this to you?

[2016-06-10 00:41] stevvooe commented on #127
@vbatts Thanks for filing. I put a full description of the missing white format in #130.

[2016-06-10 01:15] vbatts commented on #127
Cool cool

On Thu, Jun 9, 2016, 19:41 Stephen Day <notifications@github.com> wrote:

[2016-06-10 14:36] vbatts commented on #130
This is specifically referring to the `*.wh.*` entries in a tar archive? or also a whiteout list?

[2016-06-10 19:59] stevvooe commented on #22
@philips According to the [proposal](https://github.com/opencontainers/tob/tree/master/proposals/image-format#initial-recommendation), this is part of the 1.0 specification. While it is optional for implementors, that proposal is unclear whether it is optional to specify the features for a first release of the specification.

Technically speaking, I'm fine with moving this past 1.0. We know how to

[2016-06-13 22:16] runcom opened #132 "image-layout: are `refs` following semver?"
basically $SUBJECT - or can we name refs inside `./refs/` the way we want? Can I name refs using _digests_ also?

/cc @vbatts @philips

[2016-06-13 22:23] philips commented on #132
You can name the refs however you want. You _could_name it by something that looks like a digest but it would resolve to the digest in the ref document. cc @stevvooe

[2016-06-13 22:25] runcom commented on #132
@philips I think we should make this clear in the image-layout.md - if I'm not wrong this is left to the reader to understand

[2016-06-13 22:26] philips commented on #132
@runcom Would you mind taking a swing at making this clearer?

[2016-06-13 22:32] runcom opened #133 "export types for implementation"
are types under `image/` exportable for implementation rather than defining our own in pkgs?

[2016-06-13 22:35] runcom opened #134 "image-layout: clarification about ./blobs/ directory content"
It isn't (wasn't for me) immediately clear that files under `./blobs/` can be either manifests or actual tar blobs - the example at the end shows only a manifest so this made me ask where acutal data (tars) was. I think this should be clarified.

[2016-06-13 22:36] runcom commented on #134
@philips I'll clarify this as well in a PR

[2016-06-13 22:39] wking commented on #133
On Mon, Jun 13, 2016 at 03:32:49PM -0700, Antonio Murdaca wrote:

I'd expect so, but either way it's probably worth documenting.
runtime-spec references its Go types as bindings since
opencontainers/runtime-spec#342, and we may want similar language
here.

[2016-06-13 22:44] wking commented on #134
On Mon, Jun 13, 2016 at 03:35:54PM -0700, Antonio Murdaca wrote:

They can be anything you want (even text/plain, image/png, …).  Most
image-unpacking software is unlikely to be able to unpack those types
if you reference them, but that doesn't mean they're invalid entries
in the blob store (e.g. maybe you don't reference them from the
manifest-list you asked to have unpacked).

[2016-06-13 22:47] runcom commented on #134
I see, but as an implementation I was struggling at understanding how tar files were (coming from Docker background here) even if it's obvious to you. I think this needs clarification if I was unable to get it at the first look.

[2016-06-13 22:49] wking commented on #134
On Mon, Jun 13, 2016 at 03:47:36PM -0700, Antonio Murdaca wrote:

Absolutely.  I was just chiming in to avoid having the clarification
you're adding be too narrowly scoped ;).

[2016-06-13 22:54] philips commented on #134
@runcom thanks! Great to have another set of eyes reading through this. @vbatts @stevvooe and I are way to close to see the flaws in our descriptions :)

[2016-06-14 02:20] runcom commented on #88
@philips is the end result of this downloader-from-docker-registryv2 an image-layout as defined here in the spec or something else?

[2016-06-14 03:51] wking commented on #88
On Mon, Jun 13, 2016 at 07:20:10PM -0700, Antonio Murdaca wrote:

The CAS fetching (e.g. pulling stuff from ./blobs) is part of this
download workflow.  I was expecting it to setup a generic directory
(with whatever content the image author had setup, possibly with the
intention of some pre-runtime processing) [1].  But if the image-spec
repository really sees a benefit to maintaining its own requ

[2016-06-14 14:45] vbatts commented on #133
I was mulling on this as well.

[2016-06-14 14:57] philips commented on #133
@vbatts what is your hesitation?

[2016-06-14 15:34] vbatts commented on #133
nothing more than a clean layout of the source. Reference structs in one import path, and validation in another.

[2016-06-14 15:43] #132 closed

[2016-06-14 15:43] #134 closed

[2016-06-14 16:20] wking commented on #87
On Wed, May 25, 2016 at 01:21:39PM -0700, W. Trevor King wrote [1]:

Trying another angle at this…

If the mapping from RunConfig [2] to runtime-spec's config.json [3] is
supposed to be complete [4] and deterministic, what do we gain by
making the translation a post-fetch action instead of making it a
pre-publish action?  If image-spec transmits an opaque directory, you
get complete decoupling bet

[2016-06-14 17:17] philips commented on #87
@wking the main reason for keeping the config format as-is: 7.g "The first version of the OCI Specification should strive to be backwards compatible with the initial container image format..."

We might add a new media-type to the image spec to allow folks to provide a runtime spec directly but in its current form this spec only requires users to change the media-types in the manifest with a `%s%d

[2016-06-14 17:18] runcom commented on #22
/cc @mtrmac

[2016-06-14 18:56] wking commented on #87
On Tue, Jun 14, 2016 at 10:17:46AM -0700, Brandon Philips wrote:

I'm not clear on spec entries for backwards compat vs. tooling support
for backwards compat (I prefer restricting it to the tooling [1] and
migration notes [2]).  But if the goal is just backwards compat with
existing Docker versions, I can take a stab at an oci-image-tool
update that will make us both happy ;).  I'll try to get at

[2016-06-15 01:32] philips commented on #11
We have been discussing naming for quite some time but I would like to propose to the @opencontainers/image-spec-maintainers that we move this to the post-v1.0.0 milestone for two reasons:

1) Naming is an "optional layer" for the [specification scope](https://www.opencontainers.org/governance/oci-scope-table). We have moved the other "optional layers" out such as signing in #22 to post-v1.0.0 as

[2016-06-15 05:54] stevvooe commented on #133
@vbatts @runcom @philips Ultimately, I think this is a good idea. I do share @vbatts hesitation, but would like to see Go implementations using common implementations to avoid fracture.

https://godoc.org/github.com/docker/distribution/manifest is the package structure used in the Docker implementations. There is schema back-registration in https://godoc.org/github.com/docker/distribution#Register

[2016-06-15 09:16] runcom opened #138 "image-layout: blobs have schema?"
[code]

just a question, but blobs can contain manifests which have schema - am I just misunderstanding?

@philips ?

[2016-06-15 14:54] philips commented on #138
@runcom I am trying to express if you don't know what the blob is ahead of time you can't figure it out without guessing.

[2016-06-15 14:55] philips commented on #128
ping @stevvooe

[2016-06-15 14:56] philips commented on #130
ping @stevvooe

[2016-06-15 14:57] runcom commented on #138
@philips got it

[2016-06-15 14:57] #138 closed

[2016-06-15 14:59] philips commented on #87
@wking There is a cost to throwing out backwards compatibility at the format level: large numbers of objects in a registry CAS need to be re-interpreted. Because only the manifest and manifest list change with the `%s%docker%oci%g` of the media types a registry can start serving OCI manifests without changing any stored objects.

[2016-06-15 15:49] wking commented on #87
On Wed, Jun 15, 2016 at 07:59:45AM -0700, Brandon Philips wrote:

That's only true if you want the registry to translate versions on the
fly, and I don't see a need for that.  For example, I have v1.1
through v1.7 PDFs on my hard-drive, but evince 3.16.1 based on poppler
can 0.42 can read them all without trouble (even though I don't have
tooling to translate v1.1 to v1.7 or vice versa).  An older

[2016-06-15 16:44] stevvooe commented on #130
@philips Sorry. I have been busy with a release.

We need to specify the format of the `*.wh.*` files. There are also security considerations that we may want to address in the specification.

[2016-06-15 16:44] stevvooe commented on #128
@philips I think that's okay. I'll send a PR to split these into two then we can see if there is enough context for each format.

[2016-06-15 16:59] stevvooe commented on #130
It may be sufficient to include language to this affect, from http://aufs.sourceforge.net/aufs.html:

The overlay documentation contains s imilar section: https://www.kernel.org/doc/Documentation/filesystems/overlayfs.txt.

The main issue is that we have an example based specification. Adding an introduction to the changeset model will cover this.

[2016-06-15 20:23] vbatts commented on #133
@runcom do you want to try your hand at this?

[2016-06-15 20:31] runcom commented on #133
@vbatts sure, what's in docker/distribution is a nice start as well

[2016-06-15 20:31] philips commented on #38
@vbatts right, I think this issue is now just about here is the image-layout as a zip, here it is as a tar gz, etc.

@stevvooe Does that make sense to you?

[2016-06-15 21:01] wking commented on #38
Doesn't #94 exactly solve this issue [1]?  Now that we have a clear
way to pack blobs and refs into a tar/zip/…, I don't think there's
anything left to do for this issue (and we can close it).

[1]: https://github.com/opencontainers/image-spec/issues/38#issuecomment-221431302

[2016-06-15 21:10] stevvooe commented on #38
@philips @vbatts I think the original concern here is covered by #94. We can close this.

There may be a gap for laying out files in arbitrary trees, such as mapping to a zip. This would include a simplified resource model (read: only files and directories). I see this as being the model layout for ssh/sftp and other file-based transports, if possible.

Do we have an issue for this? If not, I'll f

[2016-06-15 22:45] philips commented on #38
@stevvooe I don't know of a image-layout serialization/mapping issue. I will let you close this out once you file a new issue.

[2016-06-15 22:59] stevvooe opened #140 "Define generic directory heirarchy for content addressable objects"
#38, #23 and #94 outlined support for transporting content addressable OCI image objects in a tar layer. Tar may not be a desirable transport in all cases. We need to ensure that we have a generic layout that can work in several situations:

1. Directory layout works in zipfile.
2. Directory layout works on most filesystems.
3. Works over ssh or other path oriented platforms.

A CAS image layout h

[2016-06-15 22:59] stevvooe commented on #38
Filed #140, closing

[2016-06-15 22:59] #38 closed

[2016-06-15 23:02] vbatts commented on #140
What issues with the image-layout are you thinking regarding zip files Or
`ar` or etc?

On Wed, Jun 15, 2016, 18:59 Stephen Day <notifications@github.com> wrote:

[2016-06-15 23:05] stevvooe commented on #140
`ar` or etc?

My guess is that there are none. We don't require metadata, links or any other special features.

I hadn't consider `ar`.

[2016-06-15 23:14] wking commented on #140
On Wed, Jun 15, 2016 at 03:59:11PM -0700, Stephen Day wrote:

#94 does not single out tar and explicily mentions zip, NFS, HTTP,
FTP, and rsync [1].  I don't see any problems to be solved by this
issue, but it would be nice to replace image/walker with a generic CAS
API so we could more cleanly plug in backends for these various
transport mechanisms and file formats.

[1]: https://github.com/openc

[2016-06-15 23:23] philips commented on #109
confirmed fixed in #111

[2016-06-15 23:23] #109 closed

[2016-06-15 23:24] philips commented on #76
@s-urbaniak are you still intending to work on this or can we wait until a future release?

[2016-06-16 01:32] philips opened #144 "serialization: clarify situation around opaque"
During the discussion on whiteout files in #141 we hit upon the issue of opaques. From @stevvooe's explanation:

I think the only open item is the handling of opaque directories: https://github.com/docker/docker/blob/22aca92ee3503f811f813be4a1349ad8e67fbbdb/daemon/graphdriver/aufs/aufs.go#L369. From there, it looks like they are actually omitted.

In particular, we have the following case, assumin

[2016-06-16 05:51] s-urbaniak commented on #76
sure thing! I'll take over the learnings from the glide transition in rkt and prepare a PR today. I guess we'll treat image-spec as a "cli" go project only not expecting others to vendor this?

[2016-06-16 05:57] philips commented on #76
@s-urbaniak correct, we won't expect vendoring of the image-tool

[2016-06-16 07:26] #130 closed

[2016-06-16 14:36] wking opened #150 "oci-image-tool: Drop http.FileSystem?"
While reading #148, the [`http.FileSystem` section][1] struck me as the wrong approach.  “I'd like to validate this content against this JSON Schema” is easy to support generically, and keeping the schemas themselves outside of that tool allows you to use an existing version of the tool to validate new content against new schemas.  If you compile the schemas in, you have to rebuild the tool to get

[2016-06-16 22:01] philips commented on #150
I would be fine with making this an optional feature. Requiring network traffic by default doesn't seem like the best default however.

[2016-06-16 22:10] wking commented on #150
On Thu, Jun 16, 2016 at 03:01:46PM -0700, Brandon Philips wrote:

Does Go have defaults for storing associated data (like Python's [1])?
Baking it into the binary seems like “here's my spell checker with a
compiled in snapshot of today's dictionary” (and I hope nobody does
that ;).

[1]: https://docs.python.org/3/distutils/setupscript.html#installing-package-data

[2016-06-17 02:30] philips commented on #150
@wking no, this is the "right" way os doing this for Go. Compiling in the data in a section via a const is the common practice. Not great but that is how it is.

We have a bunch of tools at CoreOS that use this fake filesystem thingie as default and then let people override in "dev" mode.

[2016-06-17 13:48] s-urbaniak commented on #150
Agreeing to all @philips said. I can work on a possibility to look up schema via http/s, or if you @wking would like to do a PR, that'd be fine too.

[2016-06-17 16:12] wking commented on #150
On Fri, Jun 17, 2016 at 06:48:30AM -0700, Sergiusz Urbaniak wrote:

I'm happy to let you do the work ;).

[2016-06-17 19:13] #121 closed

[2016-06-21 03:17] wking opened #162 "master broken: unable to validate: open /config-schema.json: no such file or directory"
This is probably due to the floating dependencies without #148, but recent builds in a clean Go directory break with:

    $ make test
    go test -race ./...
    ?       github.com/opencontainers/image-spec/cmd/oci-image-tool [no test files]
    ?       github.com/opencontainers/image-spec/image      [no test files]
    --- FAIL: TestConfig (0.00s)
            config_test.go:162: test 6: expected

[2016-06-21 03:26] wking commented on #162
Spun off from [earlier discussion][1] in #161.

[1]: https://github.com/opencontainers/image-spec/pull/161#issuecomment-227300170

[2016-06-21 04:00] wking commented on #162
And the problem is (not surprisingly, given the error message) with `http/FileSystem` (see discussion in #150).  The tests pass with the following patch:

    diff --git a/schema/validator.go b/schema/validator.go
    index abc8d6d..537314a 100644
    --- a/schema/validator.go
    +++ b/schema/validator.go
    @@ -19,6 +19,7 @@ import (
     	"fmt"
     	"io"
     	"io/ioutil"
    +	"path/filepath

[2016-06-21 04:13] wking commented on #162
Rolling back assorted dependencies, I the issue was introduced by xeipuuv/gojsonschema#103, and there are already comments there about broken loading as a result.  So folks who want a working test suite should pin thier gojsonschema before that PR landed or wait until they roll out a fix.

[2016-06-21 14:10] vbatts commented on #162
correct. rolling back https://github.com/xeipuuv/gojsonschema/commit/ac948b64b57aa1beeb91c87069730e6f24bc91d9 lets the tests pass again. :-\

[2016-06-21 17:43] petemoore commented on #162
I think https://github.com/xeipuuv/gojsonschema/pull/105 fixed a bug introduced in https://github.com/xeipuuv/gojsonschema/pull/103 - so you _might_ not need to pin anymore...

[2016-06-21 17:45] vbatts commented on #162
nope. 105 did not fix the issue.

On Tue, Jun 21, 2016 at 1:43 PM, Pete Moore <notifications@github.com>
wrote:

[2016-06-22 17:37] stevvooe commented on #144
After a test, it seems `opq` is actually used here.

We have the following Dockerfile:

[code]

Then, save the image output and have a peak at their contents:

[code]

Basically, this plays the role of clearing the lower levels directory entries and needs to be covered in the specification.

Note, that I tested this on Docker with AUFS. We should probably solicit a few more tests to confirm this b

[2016-06-22 20:27] #115 closed

[2016-06-23 02:49] philips commented on #150
I am going to make this post-v1.0.0 as it feels like a nice to have. Also, labeling as help wanted as it is a fun Go project for someone :)

[2016-06-27 13:07] #76 closed

[2016-07-04 10:23] runcom commented on #144
Using `overlay` here I don't get the `opq` file:
[code]

[2016-07-05 17:25] vbatts commented on #144
on btrfs, it looks the same as @runcom output

[2016-07-05 17:50] vbatts commented on #129
Not sure where we've left off here.

[2016-07-05 17:57] wking commented on #129
On Tue, Jul 05, 2016 at 10:50:45AM -0700, Vincent Batts wrote:

I think:

* There are use-cases for mutable data that's associated with CAS
  blobs [1].
* That data is not content-addressable, so it doesn't belong in CAS
  [2,3].
* There's no image-spec specified location for storing this
  information, although you could use refs.
* Not having an image-spec specified location is probably fine,

[2016-07-05 19:08] stevvooe commented on #144
@vbatts @runcom Do these get the correct result?

The following might be a better test:

[code]

[2016-07-06 08:11] runcom commented on #144
@stevvooe yes on overlay:
[code]

[2016-07-06 17:09] stevvooe opened #168 "Update conference link in README"
Conference link was changed today. Let's update the README.

[2016-07-06 21:38] stevvooe commented on #144
@runcom Thanks you so much for the testing!!

One more test case:

[code]

I still get the following with AUFS:

[code]

My guess is that we need to support _both_ but favor one for generation.

[2016-07-06 23:18] runcom commented on #144
@stevvooe building your latest test I get:
[code]
I'd favor the one from overlay and other drivers w/o relying on AUFS for generation (while supporting both as you said)

[2016-07-07 19:22] vbatts commented on #144
on btrfs:
[code]

[2016-07-07 22:34] stevvooe commented on #144
I took a pass at the language in #144.

[2016-07-10 14:42] #168 closed

[2016-07-11 18:54] RobDolinMS commented on #113
Considering this resolved as PR #119 has been merged.

[2016-07-20 20:54] cyphar commented on #24
@timthelion No *breaking* technical changes.

[2016-07-21 13:44] runcom opened #173 "Misleading language in image-layout.md"
Three issues:

First:
[code]
This sentence is wrong because I can have colons `:` into the refs subdirectory to say `./refs/vbatts-app:latest`

Second:
[code]
these two sentences don't play nice together. What are we talking about? `refs` naming? both? I can have `./refs/sha256:5b58496` but what does that mean that _the name_ will map to `blobs/sha256-5b58496`? AFAICT the content of that refs whic

[2016-07-21 13:45] runcom commented on #173
I believe we need to split the `refs` and `blobs` naming paragraph into two pieces - one for `refs` and one for `blobs` because clearly the two have different naming restrictions.

[2016-07-21 14:37] wking commented on #173
On Thu, Jul 21, 2016 at 06:44:19AM -0700, Antonio Murdaca wrote:

Colons are not portable, and we map them to hyphens [1].  If folks
want more characters in the ref names, I suggest we have Unicode names
that are encoded to UTF-8 and then to filesystem-safe base64 [2].

This is just about the blob filename.  Splitting it into its own
paragraph would help clarify that.

This is correct.

I'm fine a

[2016-07-21 15:34] runcom commented on #173
it's still misleading - what does that actually mean? what are we talking about? blobs naming? who does the conversion? is it really needed to say that? can't we just say blobs are named `ALGO-SUM`?
The second sentence is also misleading, where is the case someone come up with `sha256:5b? I guess from a manifest blob, yes, correct, but that sentence right there isn't saying it explicitly, I'm just

[2016-07-21 16:21] wking commented on #173
On Thu, Jul 21, 2016 at 08:34:36AM -0700, Antonio Murdaca wrote:

The CAS consumer says “get me ‘sha256:5b…’”, and the CAS engine says
“with image-layout 1.0.0, ‘sha256:5b…’ will be stored in
‘blobs/sha256-5b…’” and fetches and returns that content [1].

You could do that too.  I don't think it really matters.

Who cares where sha256:5b… comes from?  Both sentences are just “If
you have a blob who

[2016-07-21 16:28] runcom commented on #173
What's your saying is ok with with as I understand most of the concept and stuff you've highlighted - still I think that's not really clear in those sentences

[2016-07-21 16:36] wking commented on #173
On Thu, Jul 21, 2016 at 09:28:49AM -0700, Antonio Murdaca wrote:

I expect PRs are welcome ;).

[2016-07-21 18:24] wking opened #174 "Base64 UTF-8 for image-layout ref names?"
Spun off from #173.

We currently have a [charset restriction on ref names][1], but folks [may][2] [want][3] to use colons, etc.  I don't think folks should care about human-readability of the `refs` filenames, so I'd like to change the mapping from refs to filenames from “they're the same thing” to “the filename is the NFC Unicode that is UTF-8 encoded and then [filesystem-safe Base 64][4] encode

[2016-07-21 18:35] runcom commented on #174
I think naming should be expressed in some way - how to you expect people to talk about a given _image_? "HEY I'm using `./refs/busybox:latest`" over "HEY I'm using `./refs/djEuMA==`"
Also, I'm not sure every tool out there is ready to change to UTF8 for something like image names (but that can be just me)

I'm not saying I'm against changing the set of allowed chars in `refs` to introduce colons

[2016-07-21 18:42] wking commented on #174
On Thu, Jul 21, 2016 at 11:35:51AM -0700, Antonio Murdaca wrote:

I expect people to say “Hey, I'm using ‘Ζεύς’” or “I'm using
‘busybox:latest’”.  Why talk about ./refs/… at all?  That's an
internal detail of the image-layout 1.0.0 spec.

Support for Unicode refs in image-layout does not mean that all
consumers need to support all of Unicode.  You just say “our service
only supports {your charset}

[2016-07-21 18:45] runcom commented on #174
I'm all for this if solves this char issue and there aren't any downsides in doing this

[2016-07-21 18:54] wking commented on #174
On Thu, Jul 21, 2016 at 11:45:48AM -0700, Antonio Murdaca wrote:

I'm pretty sure this solves the “I want to use {char}” issue.

This is harder to get a handle on ;).  There is clearly some increased
computational cost associated with going from Unicode → NFC → UTF-8 →
Base 64, but I doubt that will be a significant.

For services / tooling that does not want to support Unicode refs,
this also put

[2016-07-21 19:34] vbatts commented on #174
base64 for filenames isn't great. It would work if the name were in a file, but then mapping them is a function of indexing. hrm

[2016-07-21 20:32] wking commented on #174
On Thu, Jul 21, 2016 at 12:34:35PM -0700, Vincent Batts wrote:

Can you unpack that a bit more for me?  RFC 3548 specifically calls
this alphabet “Filename Safe” [1].

[1]: https://tools.ietf.org/html/rfc3548.html#section-4

[2016-07-21 22:44] stevvooe commented on #173
Colons should not be allowed.

The example refs are completely invalid. The following:

[code]

Should be:

[code]

Otherwise, we completely break windows compatibility, as colons are used for alternate data streams.

[2016-07-21 22:47] runcom commented on #173
So there's no way to have multiple _images_ (images as in Ubuntu, Alpine, Debian, Fedora) in a single image layout?!

[2016-07-21 22:48] wking commented on #173
On Thu, Jul 21, 2016 at 03:44:51PM -0700, Stephen Day wrote:

This particular bit (or at least, one solution to it) has been spun
off into #174.

[2016-07-21 23:20] stevvooe commented on #174
Packing naming into refs is a _really_ bad idea. I'm going to comment more on #173, but these act more like tags, in the way that git works.

Indeed, making these base64 is probably not such a good idea, either. The character set has been chosen for wide artifact and filesystem compatibility.

This conversation really needs to be held in the context of naming.

[2016-07-21 23:29] wking commented on #174
On Thu, Jul 21, 2016 at 04:20:32PM -0700, Stephen Day wrote:

Agreed.  This is just “what do we gain by restricting the ref
charset, let's remove that restriction”?

“Base 64 Encoding with URL and Filename Safe Alphabet” [1] seems like
it would have wide filesystem compatability as well ;).  Do you have a
specific concern on that front?

For other artifact stores, I expect they'll handle this in t

[2016-07-21 23:38] stevvooe commented on #173
Rather extreme conclusion and tone. Maybe try taking a deep breath before replying? 🐹

The `refs` simply aren't a tool for naming. They work more like tags and are separated in a similar manner to git. `refs` provides root references, from which an a set of blobs can be accessed. I'm not even sure that `refs` will have a one to one mapping with tags (the above example was great).

The path name of

[2016-07-21 23:41] stevvooe commented on #174
it would have wide filesystem compatability as well ;).  Do you have a
specific concern on that front?

It is not human-readable and it makes debugging harder. Simple as that.

completely orthogonal to “what charset do we allow for the ref
nicknames?”.  Refs are like Git's lightweight tags, with no security.
Signed names will be like Git's tag objects, and the crypto bits will
live in CAS (like th

[2016-07-22 03:09] wking commented on #174
On Thu, Jul 21, 2016 at 04:41:02PM -0700, Stephen Day wrote:

These are not compatibility concerns.  I'm generally in favor of
human-readable representations (e.g. JSON over protobuf [1]), but for
an image-layout that must be compatible with all sorts of filesystems
I think the cost of filename-safe Base 64 + UTF-8 is worth paying to
avoid “we've chosen not to support your requested {character}”
a

[2016-07-22 03:28] wking opened #175 "Name compatibility across discovery systems"
Spun off from #173 (trying to keep each discussion isolated in it's own issue ;):

On Thu, Jul 21, 2016 at 04:38:55PM -0700, Stephen Day [wrote](https://github.com/opencontainers/image-spec/issues/173#issuecomment-234416091):

I'm not convinced that this is a MUST.  Compatibility between systems is useful, and guidelines on portable names are very helpful in encouraging users to chose portable nam

[2016-07-22 03:33] wking commented on #173
On Thu, Jul 21, 2016 at 04:38:55PM -0700, Stephen Day wrote:

This seems trivial, since you can drop all the blobs into the same
image-layout bucket, and then pick whatever you like as the refs
pointing into those blobs.  The only possible issue I see is if you
want to specify a standard ref-name template for a particular image
name, and I think #174 covers any possible concerns there.

[2016-07-22 03:57] wking opened #176 "Signed name-assertion objects"
Spun off from #173:

On Thu, Jul 21, 2016 at 04:38:55PM -0700, Stephen Day [wrote](https://github.com/opencontainers/image-spec/issues/173#issuecomment-234416091):

I have some notes on modeling this [here](https://github.com/opencontainers/image-spec/issues/23#issuecomment-212651871), [here](https://github.com/opencontainers/image-spec/issues/23#issuecomment-221432834), and [here](https://groups.

[2016-07-22 04:04] wking commented on #173
On Thu, Jul 21, 2016 at 04:38:55PM -0700, Stephen Day wrote:

Spun off into #176.

[2016-07-22 04:07] wking commented on #133
Fixed by #172?

[2016-07-22 04:08] wking commented on #22
On Wed, Jun 08, 2016 at 04:39:59PM -0700, Brandon Philips wrote:

I've pulled some of my previous suggestions on signed name assertions
together in #176.  If folks feel like that sketch has legs, let me
know there and I'll turn it into a PR.

[2016-07-22 05:56] runcom commented on #173
Ha sorry Stephen, that didn't sound that bad when I wrote it and thanks for explaining that.

[2016-07-22 06:52] runcom commented on #173
and this is what I was looking for, thanks

[2016-07-22 14:00] runcom opened #179 "cmd/oci-image-tool: no tests dependencies"
[code]

Also, just a question: How do I `glide install` the first time I clone the repo? I tried `glide install` but it does not work correctly (it pulls stuff in and other stuff)

/cc @s-urbaniak

[2016-07-22 14:33] s-urbaniak commented on #179
@runcom You shouldn't have to do anything, all vendored dependencies are checked in, `make test` simply delegates to `go test ./...`. You only need glide if you want to update/bump/add dependencies. Do you have `$GOPATH` defined? I guess `go test` needs a valid `GOPATH` to see the `vendor` directory.

[2016-07-22 14:37] s-urbaniak commented on #179
@runcom I can reproduce locally, seems a new dependency was pulled, without vendoring, let me submit a PR.

[2016-07-22 14:42] runcom commented on #179
yeah...that was it...

[2016-07-22 18:28] stevvooe commented on #179
This dependency was added before we had glide...

[2016-07-22 18:34] stevvooe commented on #173
@runcom No worries.

This is an active area that we need to figure out.

Another possibility is to support a hierarchy in refs. Following from the example above, we'd have something like this:

[code]

This opens the question of whether or not we specify structure in the naming standard.

[2016-07-22 18:40] runcom commented on #173
@stevvooe what about having an file which indexes _names_?

[code]

[2016-07-22 18:41] wking commented on #173
On Fri, Jul 22, 2016 at 11:34:14AM -0700, Stephen Day wrote:

This is going to be difficult to support portably if we don't have
#174 or special-case path-separator conversion rules to patch around /
on POSIX vs. Windows filesystems.

If “the naming standard” is for signed name-assertions (#176) it seems
completely orthogonal to refs.

[2016-07-22 18:58] stevvooe commented on #173
@runcom The makes merging more complicated. Let's say you have two directories with an image layout in them. With the json index approach, it would require special code to merge the json files. If we can define path semantics, the merge can be done with a naive `cp -r` command.

Albeit, the approach of having a file with the name index provides much better security guarantees, since the set can be

[2016-07-22 19:04] wking commented on #173
On Fri, Jul 22, 2016 at 11:58:55AM -0700, Stephen Day wrote:

I'm still missing the need for (or ability to have) security on
mutable refs.  If you have a name index that's getting signed, isn't
that a CAS blob?

[2016-07-22 19:31] stevvooe commented on #173
@wking Users interact with names. They need to be able to trust that when they say `foo`, they actually get `foo` and not something an attacker wants for `foo`.

[2016-07-22 19:56] wking commented on #173
On Fri, Jul 22, 2016 at 12:31:55PM -0700, Stephen Day wrote:

Agreed, but names != refs.  You say “please unpack foo”, and
oci-image-tool (or whatever) says (#88):

1. Let me look for mutable refs claiming to be foo (this might be
   refsEngine.Get("foo"), but could be other things too) and get a
   descriptor.
2. Let me walk the CAS tree that descriptor references looking for a
   signed name ass

[2016-07-22 20:15] stevvooe commented on #173
@wking Naive code generally isn't that careful. Drawing the parallel here is dangerous, as programmers will make assumptions.

We can find a solution that is both simple and secure, as long as we define the requirements carefully.

[2016-07-22 20:17] stevvooe commented on #174
@wking I'll say it again, packing names into `refs` is probably a really bad idea.

[2016-07-22 20:28] wking commented on #173
On Fri, Jul 22, 2016 at 01:15:01PM -0700, Stephen Day wrote:

I guess I'll wait and see when you file that proposal^ ;).

[2016-07-22 20:30] wking commented on #174
On Fri, Jul 22, 2016 at 01:17:53PM -0700, Stephen Day wrote:

This proposal is not about packing names into refs.  It's about
lifting the restriction on allowed ref-name characters.  If you feel
those concepts are linked, can you spell out the link in detail?

[2016-07-22 20:32] runcom commented on #174
I believe the restriction on characters can stay the way it is now w/o over-complicating it - since this came up as part of allowing colons to express "name:ref"

[2016-07-22 20:41] wking commented on #174
On Fri, Jul 22, 2016 at 01:32:37PM -0700, Antonio Murdaca wrote:

This would also help simplify portability with ref names that include
slashes [1].

If there is nobody actively pushing for a particular new character,
then I'm fine tabling this proposal.  However, I expect we will see
“why can't I use {char} in my ref name” issues like [2,3], and when we
do, I think this proposal is a good way to

[2016-07-22 20:44] runcom commented on #174
that's still tied to solving the naming problem.

having name restriction is something we can just document as said in [3] from your comment. Btw, if you guys really feel this should be extended I'm all for this but this is a non-issue right now to me.

[2016-07-22 20:47] stevvooe commented on #174
Here is an example of a recent breakage: http://latkin.org/blog/2016/07/20/git-for-windows-accidentally-creates-ntfs-alternate-data-streams/.

I am very familiar with the "I want another character problem". The solution to this is usually not to add more characters, but remove the contention over character usage by making provisions to store arbitrary image names outside of an area that has more s

[2016-07-22 20:57] wking commented on #174
On Fri, Jul 22, 2016 at 01:44:29PM -0700, Antonio Murdaca wrote:

For your use-case ;).  But who knows what other people will want to
use refs for?  Base 64 is straightforward enough that restricting the
charset seems unnecessary.

If we want to wait until someone gives us a meaningful use case and
then judge the validity of those use-cases before deciding to allow
those characters, you have to ma

[2016-07-22 21:03] stevvooe commented on #174
slashes [1].

This isn't really a problem. All platforms have some concept of a file system separator that can be mapped 1:1.

those concepts are linked, can you spell out the link in detail?

Human readability and debugging are important here. If you remove the incentive to complicate the on-disk filename mapping, this problem goes away at the cost of obfuscation. Restricting the character set is

[2016-07-22 21:05] wking commented on #174
On Fri, Jul 22, 2016 at 01:47:51PM -0700, Stephen Day wrote:

Like a filename-safe-base-64-encoded filename ;).

Sure, and this is a concern for domain names too.  But the IETF
solution to that is to allow Unicode in the format and warn registries
and clients to take care [1,2], not to ban Unicode from domain names.

I think this is #175.

[1]: https://tools.ietf.org/html/rfc5891#section-6
[2]: ht

[2016-07-22 21:12] wking commented on #174
On Fri, Jul 22, 2016 at 02:03:45PM -0700, Stephen Day wrote:

I'm not saying you couldn't work around any missing character, I'm
saying that this proposal is a simple, general fix to all such
problems (as long as the char you want is in Unicode ;).

Can you post a link?  I can't turn up something with those keywords
using grep:

  docker/distribution$ git describe
  docs-v2.4.1-2016-06-28-51-g4aba

[2016-07-22 22:29] stevvooe commented on #174
Hopefully, this will get you started:

https://github.com/docker/distribution/blob/master/registry/storage/paths.go
https://github.com/docker/distribution/pull/208
https://github.com/docker/distribution/pull/130
https://github.com/docker/distribution/issues/1201

This is mostly an intractable problem and a balance needs to be struck.

[2016-07-23 00:03] wking commented on #174
On Fri, Jul 22, 2016 at 03:29:20PM -0700, Stephen Day wrote:

Thanks for hunting those down for me :).

This is a good overview of how docker/distribution organizes refs, but
I couldn't find references to security concerns there.

This leads to docs about path traversal attacks [1], which we avoid
entirely with a filename safe base 64 encoding.

This references a proposal to base 64 (or 32) encode

[2016-07-23 00:22] stevvooe commented on #174
@wking We have tests for path traversal. Most of this is thematic, but there is a long history of discussion in this area.

Humans use this system.

I actually think the `refs` should probably take on the role of sections in ELF.

[2016-07-23 00:55] wking commented on #174
On Fri, Jul 22, 2016 at 05:22:50PM -0700, Stephen Day wrote:

Again [1], *not* encoding isn't impossible, it's just that always
encoding lets you neatly sidestep all of these problems.

But not without tools.  Use the tools to see the decoded refs.  They
don't have to sit on the disk or cross the wire in that format.

I'll read up on ELF sections, but ELF is certainly not a format I can
read with

[2016-07-23 12:50] #179 closed

[2016-07-25 21:15] stevvooe commented on #174
@wking The comparison with ELF means that OCI controls the names of refs. That doesn't give license to obscure everything unnecessarily.

[2016-07-25 21:22] wking commented on #174
On Mon, Jul 25, 2016 at 02:15:29PM -0700, Stephen Day wrote:

I think you mean “we are specifying the ref name ↔ path mapping”, and
I agree with that.  You may mean, “we are limiting the ref-name
charset”, and I agree that we are currently doing that, but think that
this proposal is a good way to stop doing it (because it allows us to
avoid a lot of decisions [1]).

I'm not suggesting we use Base

[2016-07-25 21:41] runcom commented on #174
I still believing restricting the charset is useful, right now this won't have happened if there wasn't a restriction and that's good because we can advance step by step here. With your base64 refs people could have just done what I was proposing (multiple images in the image-layout) but that could have been wrong and by opening the charset to whatever also open the spec to something not wanted (o

[2016-07-25 21:43] runcom commented on #174
That said, I still think this might be useful. But it doesn't open the doors just to my use case. And it can probably make other decisions and design harder here.

[2016-07-25 21:53] wking commented on #174
On Mon, Jul 25, 2016 at 02:41:35PM -0700, Antonio Murdaca wrote:

That's “wrong” / “not wanted” according to this judgement call [1].  I
don't think image-layout is the right place to be making those policy
decisions.

[1]: https://github.com/opencontainers/image-spec/issues/173#issuecomment-234644842

[2016-07-25 22:02] runcom commented on #174
Wrong/not wanted == probably mis-used

[2016-07-25 22:06] wking commented on #174
On Mon, Jul 25, 2016 at 03:02:57PM -0700, Antonio Murdaca wrote:

This is still based on pushing a higher-level abstraction (verified
names) down into image-layout, when I think all image-layout should
care about is “these are mutable refs”.

[2016-07-27 21:27] vbatts commented on #23
This is fixed by #94 IMO

[2016-07-27 21:27] #23 closed

[2016-07-29 16:22] vbatts commented on #126
@philips mentioned rkt now supports OCI image format https://groups.google.com/a/opencontainers.org/d/msg/dev/Am7byGvLCUQ/ywbuVLY3BQAJ
https://github.com/coreos/rkt/releases/tag/v1.11.0

[2016-07-29 16:23] vbatts commented on #126
Skopeo now supports OCI image format and layout https://github.com/projectatomic/skopeo, via the https://github.com/containers/image library

[2016-07-29 18:32] vbatts opened #185 "[bug] gometalinter fails to find/install `unused`"
not really sure what is happening here :arrow_right: https://travis-ci.org/opencontainers/image-spec/builds/148376653#L223

tried to reproduce locally, but `unused` is not even attempted to install:
[code]

[2016-07-29 19:33] stevvooe opened #186 "Remove windows-specific rootfs type from serialization"
The following PR is removing support for machine-located windows base layers:

https://github.com/docker/docker/pull/25090/files#diff-b1247b61dc69edc892f3be4ea4f300a6R373

This was a hack that allowed the local container runtime to supply filesystem layers. This needs to be removed from OCI, as well, as this was never intended for long term support and problem won't be supported in OCI.

The use c

[2016-07-29 19:52] swernli commented on #186
@jstarks FYI

[2016-08-02 12:29] sgotti opened #190 "Layer relations/parent layer clarification"
Perhaps this is to some extents related to #39 (but it was closed and #102 talks about something different) but, just to dispel any doubt, I'd like to be sure that there's no relation between OCI image layers and so, that a layer (if not a base one) is not forced to always have the same parent layer.

To be clear, does the spec permits defining two images where the upper layer has a different bott

[2016-08-02 20:06] stevvooe commented on #128
@duglin Was going to take this on when #171 landed, but that is taking some extra time. This is starting to make sense as the size of the layers section gets expanded.

[2016-08-09 03:33] amitsaha opened #193 "digest format mismatch"
[code]

Is this an oversight? My example image is here: https://github.com/amitsaha/oci-image-experiments/tree/master/image

[2016-08-09 12:52] vbatts commented on #193
Is what? the use of a hyphen? It is due to file names, and avoiding `:` in the file name.

[2016-08-09 12:55] amitsaha commented on #193
Yeah, I was referring to the construction of the digest using "sha256:" rather than "sha256-". Have I named my files wrongly? I am probably confused somewhere.

[2016-08-10 16:18] #144 closed

[2016-08-10 17:00] philips commented on #190
I see no reason why this wouldn't be allowed.

[2016-08-10 17:00] philips commented on #190
cc @opencontainers/image-spec-maintainers

[2016-08-10 20:03] philips commented on #186
@stevvooe what needs to happen with this?

[2016-08-10 20:32] stevvooe opened #196 "serialization: clarify order of application of tar entries"
We need to clarify that when encountering conflicting tar entries, the latest entry in the layer should be used. This has always been implied but we need to clarify this in the context of opaque layers, as well.

cc @vbatts

[2016-08-10 20:54] vbatts commented on #196
Hah. I'm confus. Order does not matter, until it does?

[2016-08-10 20:59] stevvooe commented on #190
This is more of a build time property than something we want to build into the specification. However, this requirement is clearly called out with the existence of a `DiffID` and `ChainID`. In fact, there are a number of security issues with treating a layer independently from the parent. Without these, your container system will be open to a number of exploits that can allow the injection of mali

[2016-08-10 21:01] stevvooe commented on #193
The files should use the `-` format. Upon reading from disk, this should be immediately converted to the digest format.

As a security rule, never use the parsed value of the digest. Calculate the digest and verify against the parse value and return the calculated version.

I'm surprised to see such slip-shod assembly of digests in the code base. We created a digest package long ago that addresses

[2016-08-10 21:10] stevvooe commented on #196
I'm not sure if I've ever said that order doesn't matter.

The difference here is application of _identical_ resources. We also need to be careful about how this is specified in the context of opaque file ordering.

For regular files, we take latest entry.

Opaque files need to be stable sorted to top, preserving ordering, then latest entry is applied.

This is necessary to guarantee consistent un

[2016-08-10 21:24] philips commented on #196
The reason for doing this would be compatibility with the Docker Engine. @vbatts says that tar-split will fail with errors since Docker v1.8 with duplicate layers.

My personal preference would be to disallow duplicate dentries in an OCI layer.

@stevvooe and @vbatts took this as their action item to investigate.

[2016-08-10 21:36] stevvooe commented on #186
Just remove that section. I can take care of it.

[2016-08-10 21:43] philips commented on #126
rkt supports fetching and running OCI images: https://groups.google.com/a/opencontainers.org/forum/#!topic/dev/Am7byGvLCUQ

[2016-08-10 21:45] philips commented on #133
I think this is fixed by #172 so I am closing it. Let me know if this isn't true @runcom

[2016-08-10 21:45] #133 closed

[2016-08-15 04:31] amitsaha commented on #193
okay, I figured out the issue:

- When I am referring to blobs, I should use ":" notation
- But the files themselves should be named using "-"

is there any reason for it being this way?

[2016-08-15 19:09] stevvooe commented on #193
@amitsaha That is a very odd way to make that conclusion.

These are references to a blob object, made up of an algorithm and hex bytes. These references have a format that describes the targeted blob. We can serialize these references to a format that is compatible with the target. The standard serialization for a digest reference uses a colon. In formats where the colon character is disallowed,

[2016-08-17 05:58] amitsaha commented on #193
I see what you mean. My conclusion was certainly not correct. However, Linux filesystems (Windows doesn't) do support ":" in filenames right?

[2016-08-17 20:32] stevvooe commented on #193
No, but you created a thesis based on observation!! Testing ideas is the best way to understand something new. :)

Yep, and that is why we specify a dash. It keeps the character set restricted for serialization that may land on disks.

[2016-08-18 19:19] stevvooe commented on #193
@amitsaha It looks like your question is answered. Feel free to re-open if there was more clarification needed.

[2016-08-18 19:19] #193 closed

[2016-08-23 16:23] sgotti commented on #190
@stevvooe thanks for your detailed answer!

I can agree that this cannot be the correct way for doing this but I just tried to find a simple example to explain the question :smile:

So, let's say someone wants (ignoring all the warnings), follow this road and create a build tool that generates the correct DiffID and ChainID (is this possible or am I missing something?). Since the spec doesn't bloc

[2016-08-23 21:42] caniszczyk opened #203 "Create validator.opencontainers.org"
Provide a sandbox for the image-spec maintainers to play with a tool

cc: @vbatts @stevvooe

[2016-08-24 13:08] stevvooe commented on #126
Here is the docker proposal for OCI support: https://github.com/docker/docker/issues/25779.

[2016-08-24 13:40] philips opened #204 "image-spec: add RFC boiler plate"
Similar to https://github.com/opencontainers/runtime-spec#open-container-runtime-specification boiler plate about MUST, MUST NOT, etc.

cc @RobDolinMS and @jlb13

[2016-08-24 13:51] RobDolinMS commented on #204
(Howard Huang from Huawei also volunteered to help)

[2016-08-24 13:57] RobDolinMS commented on #204
Opened PR #207 to address this

[2016-08-24 14:04] philips commented on #173
I am going to take this one and clarify that refs should not include an image name but simply the "tags".

[2016-08-24 14:07] runcom commented on #173
is this just temporary or what? did we move from `refs` contains different (unrelated) images also?

[2016-08-24 14:18] philips commented on #174
I will address this when I close out #173 . The idea is to only have refs be things that are classicly "tags". So, v1.0.0 not tons of crazy characters.

[2016-08-24 14:25] stevvooe opened #208 "image layout: move to slash separation for blob storage layout"
Currently, blobs are stored with the follow format:

[code]

This has caused confusion in the context of the `:`-separated hash format.

To make this more clear, the blobs should be stored in the following format:

[code]

cc @vbatts @philips

[2016-08-24 15:28] wking commented on #174
On Wed, Aug 24, 2016 at 07:18:22AM -0700, Brandon Philips wrote:

This will make unrelated images in the same ref store more difficult
[1], requiring mappings from names to default-refs that do not work in
all cases [2].

And I still think we'll make our future lives easier by making refs
generic instead of pushing the current consensus policies
(e.g. “tag-like names ref”) down into the ref-engine

[2016-08-24 17:31] wking opened #209 "Reference RFC 2119"
This spec uses RFC 2119's MUST, etc., but does not include a reference to the RFC.  We need someone to PR something like opencontainers/runtime-spec#260.

[2016-08-24 19:56] stevvooe commented on #190
I'm considering this to be a "build time" operation.

From the perspective of the OCI specification, the result of this modification would be a separate image.

No. I'm not sure if I'm making my point accurately. The issue is that a layer may have opaque files that mean nothing when applied to an arbitrary parent.

Yes, and this is effectively the same feature in docker and OCI. The difference is

[2016-08-24 19:59] RobDolinMS commented on #209
@wking I think I beat you to this by about an hour with PR #207 ;)

If you agree, please close.  Thanks.

[2016-08-24 20:02] wking commented on #209
Yup, thanks :).

[2016-08-24 20:02] #209 closed

[2016-08-24 20:05] wking commented on #204
#207 has landed, so this can be closed.  Not sure why GitHub is not sending me email about these ;).

[2016-08-24 20:44] wking commented on #208
Or we could use `<algo>-<hex-digest>` for both the blob names and the blob filenames, in which case there would be even less confusion.

I'm ok with using a path separator, but Windows folks would have to be careful to use the appropriate separator for the engine (e.g. `/` for image-layout backed by HTTPS, tar, … and `\` for image-layout backed by local directories).

[2016-08-24 21:00] RobDolinMS commented on #203
Similar to https://validator.w3.org/, it would be nice if this supported the following scenarios:
* Upload (Validate by File Upload)
* Point to a file (Validate by URI)
* Paste (Validate by Direct Input)

[2016-08-24 21:04] RobDolinMS commented on #203
@caniszczyk It might make sense to break this into a few work items:
* Provision the "validator" subdomain for opencontainers.org
* Set-up validator.opencontainers.org to point to a URL like http://opencontainers.github.io/image-tools/
* Publish code into gh-pages branch of OCI images-tools repo to support web interface to OCI Image Format validation

[2016-08-24 21:07] wking commented on #203
On Wed, Aug 24, 2016 at 02:00:53PM -0700, Rob Dolin (MSFT) wrote:

Hmm, “Just paste your gzipped tarball in here…” ;).

There are two levels to most of the current oci-image-tool validation:

1. Is the JSON content internally valid (e.g. has all the required fields)?
2. Is everything down the Merkle chain from the passed object valid?

(1) will work fine with an w3 validator approach, but (2) need

[2016-08-24 21:09] wking commented on #203
On Wed, Aug 24, 2016 at 02:04:36PM -0700, Rob Dolin (MSFT) wrote:

Hmm, I wonder if we can handle image validation entirely in
JavaScript…  It might be possible.

Otherwise we'll probably also need a branch/repo with an OCI bundle to
handle the dynamic part of image validation.

[2016-08-24 21:12] wking commented on #203
On Wed, Aug 24, 2016 at 02:04:36PM -0700, Rob Dolin (MSFT) wrote:

Looks like we already have something along these lines [1].

[1]: https://github.com/opencontainers/validator.opencontainers.org

[2016-08-24 21:35] philips commented on #203
Who is going to do this work? I certainly don't have the time to build a webservice. Are you Chris?

[2016-08-24 21:36] philips commented on #208
+1 to this concept.

[2016-08-24 21:37] #204 closed

[2016-08-25 10:14] caniszczyk commented on #203
@philips this was requested by @vbatts, I assume it's on his plate when he has time

[2016-08-25 12:33] glestaris commented on #208
That would be nice. We can store multiple images under the same directory structure.

[2016-08-25 12:35] glestaris commented on #203
What would the scope of the validator be? Would it just parse the manifest/config or go as far as unpacking the blobs?

[2016-08-25 13:04] wking commented on #203
On Thu, Aug 25, 2016 at 05:35:13AM -0700, George Lestaris wrote:

I opened a scoping issue in
opencontainers/validator.opencontainers.org#1 yesterday, if we want to
keep that discussion collected there.

[2016-08-25 14:06] stevvooe commented on #208
@xiekeyang @glestaris We have discussed the convention of using a portion of the digest to partition the CAS files but have been unable to find any recent examples of where this actually speeds up retrieval.

Do you have any data supporting this design? What is the actual performance impact?

[2016-08-25 22:23] wking commented on #208
On Thu, Aug 25, 2016 at 07:06:12AM -0700, Stephen Day wrote:

Previous discussion of hash sharding starting here [1].

[1]: https://github.com/opencontainers/image-spec/pull/94#discussion_r65265938

[2016-08-26 02:17] xiekeyang commented on #208
@stevvooe @wking  Got it, thanks a lot!

[2016-08-26 17:37] RobDolinMS commented on #203
I've added my comments as a PR and Issue against the other repo: https://github.com/opencontainers/validator.opencontainers.org/pull/4 and https://github.com/opencontainers/validator.opencontainers.org/issues/5

[2016-08-26 17:40] RobDolinMS commented on #203
I recommend closing this issue and directing conversations around web hosting of container validation to: https://github.com/opencontainers/validator.opencontainers.org
/cc @caniszczyk @philips

[2016-08-26 22:24] stevvooe commented on #196
How should that be implemented? Should an unpacker keep a list of unpacked entries and error on duplicate or should it error out if the resource already exists in the unpack destination?

[2016-08-27 01:36] xiekeyang opened #213 "linked data in image layout"
The spec draws the image layout that is compatible with runc. The description and example in spec imply one oci image layout.

Maybe oci image spec are concerning the repository layout including many images. So, it should introduce merkle-links as blobs organization.

I'm not sure if my idea is out of scope of oci image spec. Here I would like to get the perspective from maintainers. If we should

[2016-08-27 10:12] #213 closed

[2016-08-29 09:56] xiekeyang commented on #22
@wking , are you working on signature spec? I've read the sign issues and technology mentioned. It seems that merkle-dag way is what you prefer to. Do you need some help to replenish signature spec? Thanks a lot!

[2016-08-29 14:10] coolljt0725 opened #218 "Some defination in serialization.md may conflict with README.md?"
According to the description [https://github.com/opencontainers/image-spec/blob/master/README.md#running-an-oci-image] in README.md

rkt run example.com/org/app,version=v1.0.0
To support this UX the OCI Image Format contains sufficient information to launch the application on the target platform (e.g. command, arguments, environment variables, etc).

So the goal is to run an image with no addition

[2016-08-29 15:05] vbatts commented on #173
@runcom it's more a clarification. After in-person conversation, it was clarified that the `refs` were intended to be most correlated to the tag current docker image format.
While it could be _possible_ to shove desperate images into a single image-layout, it leads to the kind of confusion you encountered. So perhaps there is a super structure needed for a multi-image layout. (to that end hard-lin

[2016-08-29 15:14] runcom commented on #173
makes total sense, thx for the explanation @vbatts

[2016-08-29 15:54] vbatts commented on #174
well, given that we could adopt the git-style of `./refs/tags/$tag`, then adding a non-version-breaking piece like `./refs/base64/$value` could be an option, but for now that is not the route we're going to get a v1.0.0 released

[2016-08-29 16:25] philips commented on #196
@stevvooe In order to support overlay filesystems it is going to have to keep a list of unpacked entries. But, I don't think we have to specify how it disallows duplicates.

[2016-08-29 16:33] philips commented on #218
Just because we should support that UX does not mean that every image MUST support that UX. For example there are Debian base images that don't really make sense to run.

[2016-08-29 16:33] #218 closed

[2016-08-29 16:34] philips commented on #185
@vbatts What needs to happen here?

[2016-08-29 16:46] philips commented on #196
@runcom  @s-urbaniak could you add support and a test to the oci-image-tool for this ?

[2016-08-29 16:49] philips commented on #208
@runcom @s-urbaniak could you work-up a patch to make this change in the tooling? And then @stevvooe or I can make the english language change.

[2016-08-29 18:02] wking commented on #22
On Mon, Aug 29, 2016 at 02:56:49AM -0700, xiekeyang wrote:

I've sketched out my proposal for signatures and naming in #176.

[2016-08-29 18:52] stevvooe commented on #208
@philips I can take this on!

[2016-08-29 19:37] vbatts commented on #185
oh, this "went away". But could return, due to the way `gometalinter` arbitrarily adds new linters that will be slurped up. Other projects work around this by excluding all linters by default and only including the specific linters needed. Perhaps some enterprising young contributor can offer such, but for now I'll close this.

[2016-08-29 19:37] #185 closed

[2016-08-29 23:14] stevvooe commented on #196
@philips In overlay, this isn't too big of an issue. The problem arises when trying to assemble the layer by applying tar after tar to a rootfs. If you encounter an entry that is already present, you can't tell if it was in the current tar or a lower layer without keeping track of the encountered entries. This may place undue memory requirements on the processor, but, in practice, this may not be

[2016-08-29 23:57] stevvooe opened #220 "layer: introduction to layer format is insufficient"
Currently, the layer format specification is formed around examples. This format is sufficient, but needs more introduction and structure to be at the level of a standalone specification.

Please see some discussion in https://github.com/opencontainers/image-spec/pull/206.

cc @philips @RobDolinMS

[2016-08-30 01:36] xiekeyang commented on #22
@wking May I take on this?  I think I may implement signature spec and present a draft pr later.

[2016-08-30 03:41] wking commented on #22
On Mon, Aug 29, 2016 at 06:36:40PM -0700, xiekeyang wrote:

I'm not a maintainer or PR gatekeeper ;).  But I'm if you want to take
a stab at spec'ing out naming and validation, using my proposal or
something else, I expect that it would help move the discussion along.

[2016-08-30 11:15] #128 closed

[2016-08-30 12:38] #186 closed

[2016-08-30 12:55] s-urbaniak opened #222 "oci-image-tool: more verbose output"
As per https://docs.google.com/document/d/1bsi9JCnmOMSZCDh3VmDCO1m17w1aNexX09naomcpUOs/edit the `oci-image-tool` should have more verbose output, more concretely:

Print ...
- [ ] the digests of objects
- [ ] the version of the spec tested against
- [ ] canonical mimetypes and alternative
- [ ] the version of the validator code
- [ ] a list of tests that were ran
- [ ] a list of errors

I did impl

[2016-08-30 13:50] runcom commented on #222
@s-urbaniak If there's anything I can help with this please let me know

[2016-08-30 14:10] vbatts commented on #190
There ought to be no issues with pointing to an image rather than later,
but the reconciliation of the configuration of the parent (ignore?, merge?,
Something else?)

On Wed, Aug 24, 2016, 15:56 Stephen Day <notifications@github.com> wrote:

[2016-08-30 14:51] s-urbaniak commented on #222
@runcom thanks for the help! Sure, just go ahead, I'll try tackle each of those in parallel with other rkt work. Just let me know if you want to tackle all of them or just a subset. Seem like low-hanging fruits to me.

[2016-08-30 15:31] s-urbaniak commented on #196
@philips ack, @runcom up for this or shall I?

[2016-08-30 15:44] runcom commented on #196
Currently taking care of #222 and adding this to my todo if you are ok

[2016-08-30 15:48] s-urbaniak commented on #196
@runcom fine with me, thanks!

[2016-08-30 16:40] philips commented on #190
@vbatts "rather than later". Having a hard time parsing your response.

[2016-08-30 16:40] philips commented on #190
@vbatts "rather than later". Having a hard time parsing your response.

[2016-08-30 17:31] vbatts commented on #213
@xiekeyang did you mean to close this?

I'm not opposed to a merkle tree of objects, but that would likely be a different subdirectory, also that would need to include information in mimetype-like-config file for like block size and order of the hashes, and top-level hash of the trie, potentially even which hashing algorithm is used.

For now this would be net-new development so I would say we're

[2016-08-30 17:40] wking commented on #190
On Tue, Aug 30, 2016 at 09:40:09AM -0700, Brandon Philips wrote:

I'm pretty sure he meant “rather than a layer”.

[2016-08-30 19:30] vbatts commented on #190
s/later/layer/

[2016-08-30 20:52] stevvooe commented on #190
@vbatts Theoretically, I agree. Could you show an example?

[2016-08-31 01:56] xiekeyang commented on #22
@wking Here I want to confirm 2 points with you, thanks lots.

##### 1. signature target
Technically, signature can identify to any object.
But as the purpose is mostly protecting image from be tampered. So it is enough to sign only for image manifest.
I think we should define the signature title as `OpenContainers Image Signature Specification`, and emphasize, in spec, that signed target is image

[2016-08-31 01:57] coolljt0725 commented on #222
@runcom  If you just tackle a subnet of them, I'd like to help with the rest

[2016-08-31 02:11] xiekeyang commented on #222
@s-urbaniak If it need to be done based on #159 ?
It refactor the image tool completely. If we did before it is merged, we may be meet a big conflict.

[2016-08-31 02:15] philips commented on #173
Trying again with this: https://github.com/opencontainers/image-spec/pull/225

[2016-08-31 02:19] philips commented on #208
@stevvooe are you going to do the code, english or both?

[2016-08-31 04:11] wking commented on #22
On Tue, Aug 30, 2016 at 06:56:01PM -0700, xiekeyang wrote:

I think it's better to make the definition generic and emphasize that
you can sign any CAS blob, just like the image-layout spec emphasizes
that it can store any CAS blob [1].  Link from the generic
signature-list definition to the assertion section will show folks the
kind of things they can use signatures to say (one of which is the
nam

[2016-08-31 04:21] wking commented on #222
On Tue, Aug 30, 2016 at 07:11:01PM -0700, xiekeyang wrote:

I'm all for avoiding conflicts, but #159 tries to stay away from the
existing image-validation logic.  So I expect you can wade into these issues without butting heads with #159.

My long-term plan was to land #159 and then rewrite the
validation/unpacking logic to use callback registries.  Something
like:

  type Validator(ctx context.Co

[2016-08-31 21:25] #173 closed

[2016-08-31 21:26] philips commented on #208
@runcom volunteered to do the code side of this one.

[2016-08-31 22:21] runcom commented on #208
created https://github.com/opencontainers/image-spec/pull/230 for the code side

[2016-09-01 07:32] #208 closed

[2016-09-01 12:25] runcom commented on #196
PR opened https://github.com/opencontainers/image-spec/pull/240

[2016-09-01 17:16] vbatts commented on #196
cool. Now for me to put some verbiage down.

[2016-09-01 18:16] wking opened #242 "oci-image-tool: Cleanup partially-unpacked directories on failures"
We might want a switch to turn this off, but I think the default should be to remove the unpack directory if we fail partway through the unpack.

Spun off from [here][1].

[1]: https://github.com/opencontainers/image-spec/pull/240#issuecomment-244138589

[2016-09-01 20:32] RobDolinMS opened #244 "Image-layout.md not included in released spec"
The text of the [image-layout.md file](https://github.com/opencontainers/image-spec/blob/master/image-layout.md) does not seem to be included in the released HTML version of the spec (as of v0.4.0.)

[2016-09-01 20:35] RobDolinMS commented on #244
I believe the [descriptor.md file ](https://github.com/opencontainers/image-spec/blob/master/descriptor.md) is also not included :(

[2016-09-01 20:51] RobDolinMS opened #246 "[ReadMe] Should we remove (or update) FAQ?"
The FAQ section of the ReadMe (which gets included in the released spec) seems like it has been minimally updated since being copied from the project proposal.

I'm glad to submit a PR to update (or remove) depending on consensus from Dev community.

[2016-09-01 20:59] wking commented on #246
On Thu, Sep 01, 2016 at 01:51:09PM -0700, Rob Dolin (MSFT) wrote:

How would you update it?  [1] looks reasonably current to me, although
I might replace “Why start this work now?” with “Why work on this?”
and “Why a new project?” with “Why a new OCI Project?”.  And a more
logical ordering might be:

* Why work on this?
* Why a new OCI Project?
* Why doesn't this project mention distribution?
* Wh

[2016-09-01 20:59] philips commented on #246
Entries 2 and 3 can probably be removed. I think the rest is still relevent.

[2016-09-01 21:03] wking commented on #246
On Thu, Sep 01, 2016 at 01:59:52PM -0700, Brandon Philips wrote:

Those are the “why does this project exist” entries.  I don't think
that motivation is stale.  If they were stale, we'd be talking about
closing down this project.

[2016-09-01 21:27] wking commented on #244
They need to be added to [1].

[1]: https://github.com/opencontainers/image-spec/blob/08ef0b1d662ac889d3bf2e99957acddad8e5804f/Makefile#L22-L29

[2016-09-01 21:31] RobDolinMS opened #247 "Images missing from HTML version of spec"
Images are not rendering in the HTML released version of the Image Format spec (v0.4.0.)

The root cause MIGHT be that the HTML src= attributes seem to use relative URLs instead of absolute URLs.:

[code]

NOTE: Images ARE rendering in PDF version of spec :)

[2016-09-01 21:33] RobDolinMS commented on #247
I recommend tagging with Milestone = v1.0.0 since this should not block any minor releases, but would be good to resolve before a v1 release.

[2016-09-01 22:03] RobDolinMS opened #248 "[Media Types] What is the status of the ...combined media type?"
The [image ](https://github.com/opencontainers/image-spec/blob/master/img/media-types.png) in the [media-types.md file](https://github.com/opencontainers/image-spec/blob/master/media-types.md) includes a box for "application/vnd.oci.image.serialization.combined.v1+json" but this is not described in the list of Media Types.

- Should the image be updated to remove the ...combined media type?
- Shou

[2016-09-01 22:11] wking commented on #248
On Thu, Sep 01, 2016 at 03:03:40PM -0700, Rob Dolin (MSFT) wrote:

Yes.  Looks like this was missed in #135.

[2016-09-01 22:57] philips commented on #248
@RobDolinMS yes, please remove. A PR would be appreciated.

[2016-09-01 22:57] philips commented on #247
cc @vbatts

[2016-09-01 23:49] RobDolinMS commented on #248
Thanks.  I have submitted PR #249

[2016-09-02 16:25] RobDolinMS opened #251 "[Serialization] Which fields are REQUIRED vs. OPTIONAL?"
This document does not indicate which fields are REQUIRED/MUST and which are OPTIONAL/MAY.

If all are OPTIONAL, it would be good to list this at the top of the section.

[2016-09-04 12:24] vbatts opened #254 "[RFE] oci-image-tool: produce a layer archive"
Add a sub-command where two directory paths can be provided and the utility will produce a layer archive from comparing the two references.

(this exercise will help ensure the [layer.md](./layer.md) is readable)